{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block estilos %}

{% endblock %}

{% block contenido %}

<ul class="sidebar sidebar-1">

    <li><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><label id="j">Mis inspecciones agendadas</label></a></li>
</ul>

<div class="panel panel-custom">
    <div class="panel-heading panel-heading-custom box" role="tab" id="headingOne">
      <h5 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <label id="b">Mis inspecciones agendadas</label>
        </a>
      </h5>
    </div>
     <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
        <div class="table-responsive">
            {% block listado_inspector_movil  %}
                {% include "persona/movil/listado_inspector_movil.html" with tramites_del_inspector=ctxlistado_inspector.tramites %}
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}
{% endblock %}
