{% load staticfiles %}
{% block contenido %}
{% load crispy_forms_tags%}
{% block listado_inspector_movil %}
    <div class="table-responsive">
                         {% if tramites_del_inspector %}

        <table class="table-bordered table-striped table-hover table-condensed" style="background: white;">
            <thead>
                <tr>
                    <th>Nro</th>
                    <th>Fecha Inspeccion</th>
                    <th>Domicilio</th>
                    <th>Propietario</th>
                    <th>Revisar</th>
                </tr>
            </thead>

            <tbody>
                    {% for tramite in tramites_del_inspector %}
                        <tr>
                            <td class="col-sm-1">{{ tramite.id}}</td>
                            <td class="col-sm-1">{{ tramite.estado.agendado.fecha}}</td>
                            <td class="col-sm-1">{{ tramite.domicilio}}</td>
                            <td class="col-sm-4">{{ tramite.propietario}}</td>
                            <td align="center" class="col-sm-1">
                                <a href="{% url 'planilla_inspeccion_movil' tramite.id%}">
                                        <button type="button" class="btn btn-primary brn-xs" name="Agendar">
                                            <span class="glyphicon glyphicon-home" aria-hidden="true"> Inspeccionar </span>
                                        </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
        {%else%}
        <label>No hay datos para mostrar</label>
        {%endif%}
    </div>

{% endblock %}
{% endblock %}