{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block estilos %}

{% endblock %}

{% block barra %}
	<ul class="sidebar sidebar-1">
		<font size="2">
			<li><a href="javascript:history.back(-1);" class="current"><font color="white">Inspeccion</font></a></li>
		</font>
	</ul>
{% endblock %}


{% block contenido %}


    <div class="container-fluid">
        <div class="panel panel-custom ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h4 style="color: white;">Inspecciones:</h4>
                        <hr>
                        {% if tramite %}
                        {% if tramite.estado.id > 4 and tramite.id == tramite.id%}
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h4 style="color: white;">Datos del tramite:</h4>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">                                                                                
                                        <hr>
                                            <h3  style="color: white;">Id del Tramite: {{tramite.pk}}</h3>
                                            <h3  style="color: white;">Domicilio del tramite: {{tramite.domicilio}}</h3>
                                            <h3  style="color: white;">Estadp actual: {{tramite.estado}}</h3>                                        
                                            <h3  style="color: white;">Prueba tipo: {{tramite.estado.TIPO}}</h3>
                                            <hr><hr>
                                    </div>
                                </div>
                                {% for inspeccion in inspecciones %}
                                {% if inspeccion %}
                                   <table class="table table-bordered table-striped table-hover table-condensed" style="text-align:center;">
                                       <thead>
                                           <tr>
                                               <th></th>
                                               {% for item in items %}
                                                   <th>{{item.nombre}}</th>
                                               {% endfor %}
                                           </tr>
                                       </thead>
                                       <tbody>
                                           {% for categoria in categorias %}
                                               <tr>
                                                   <td class="col-xs-1">{{ categoria.nombre }}</td>
                                                   {% for item in items %}
                                                       <td class="col-sm-4">&nbsp;
                                                           {% for detalle in inspeccion.detalles.all %}
                                                               {% if categoria.nombre == detalle.categoria_inspeccion.nombre and item.nombre == detalle.item_inspeccion.nombre %}
                                                                   {{ detalle.nombre }}
                                                           <br>
                                                               {% endif %}
                                                           {% endfor %}
                                                       </td>
                                                   {% endfor %}
                                               </tr>
                                           {% endfor %}
                                       </tbody>
                                   </table>
                                   
                                   
                                                       <div class="row">
                                                       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                           <form action="" >
                                                           <div class="row" style="color:#fff;">
                                                               <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                               <ol>
                                                                   <label>Descripcion de categorias:</h2></label>
                                                                   <!--{% for categoria in categorias %}-->
                                                                   <!--<li> {{categoria.tipo}}</li>-->
                                                                   <!--<li> {{categoria.descripcion}}</li>-->
                                                                   <!--{% endfor %}-->
                                                                   <table  class="table-bordered table-striped table-hover">
                                                                   <thead>
                                                                       <tr>
                                                                           <th>categoria</th>
                                                                           <th>tipo</th>
                                                                           <th>descripcion</th>
                                                                       </tr>
                                                                   </thead>
                                                                   {% for categoria in categorias %}
                                                                   <tr>
                                                                       <td id="nombre{{categoria.id}}" class="col-xs-1" align="center">{{categoria.nombre}}</td>
                                                                       <td id="tipo{{categoria.id}}" class="col-xs-1" align="center">{{categoria.tipo}}</td>
                                                                       <td id="descripcion{{categoria.id}}" class="col-xs-2">{{categoria.descripcion}}</td>
                                                                   </tr>
                                                                   {% endfor %}
                                                                   </table>
                                                               </ol>
                                                               </div>
                                                           </div>
                                                           </form>
                                                       </div>
                                                       </div>
                                           {% endif %}                                    
                                       {% endfor %}                                                                                          

                            {% endif %}
                            <hr><br>
                        {% endif %}
                            <a href="javascript:history.back(-1);">
                                <button type="button" class="btn btn-primary" name="Volver">
                                    Volver
                                </button>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock %}

{% block scripts %}
    <script>
		$("#id_correcciones").fileinput({
			showCaption: false,
			browseClass: "btn btn-primary btn-sm",
			fileType: "any",
			maxFileCount: 1,
			browseLabel: 'Cargar Planilla de Visado',
			showUpload: false,
			showRemove: false
		});
	</script>
{% endblock %}
