{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block barra %}
<div id="noImprimir">
    <ul class="sidebar sidebar-1">
        <font size="2">
            <li><a href="{%url 'jefe_inspector' %}" class="current"><font color="white">Jefe Inspector</font></a></li>
        </font>
    </ul>
</div>
{% endblock %}

{% block contenido %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
    <div class="panel" >
        <div class="panel-heading box" role="tab" id="headingOne">
            <h5 class="panel-title">
                <a class="collapsed"  data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne" onclick='mostrarSubmenu("sin_submenu")'>
                    <font color="#ffffff" size="2">Inspecciones</font>
                </a>
            </h5>
        </div>
        <div id="collapseOne" class="panel-collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="container-fluid">
                    <div id="printReady">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                {%if inspecciones %}
                                <table class="table-bordered table-striped table-hover table-condensed">
                                    <thead>
                                    <tr>
                                        <th> Numero de inspeccion</th>
                                        <th> Numero de tramite</th>
                                        <th> </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for inspeccion in inspecciones %}
                                    <tr>
                                        {% if inspeccion %}
                                        <td  class="col-xs-1" align="center">{{inspeccion.id}}</td>
                                        <td  class="col-xs-1" align="center">{{inspeccion.tramite_id}}</td>
                                        <td>
                                            <div>
                                                <div class="col-md-4 col-sm-5 col-xs-4 text-center">
                                                    <a target="_blank" href="{% url 'planilla_inspeccion_impresa_jefeinspector' inspeccion.id %}">
                                                        <button type="button" class="btn btn-primary btn-md">
                                                            <span class="glyphicon glyphicon-search" aria-hidden="true"> Ver</span>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid " id="botones_inspeccion">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <!--<button type="button" class="btn btn-primary btn-md" onclick="printDiv('printReady')">Imprimir</button>-->
                        <a href="{%url 'jefe_inspector'%}">
                            <button class="btn btn-primary btn-md" type="submit" value="Atras">Volver</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
       .dataTables_length, .dataTables_filter, .dataTables_info,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
          display: none !important;
       }
       th{
          background-color:#2c3e50;
          color:white;
       }
        .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
            display: none;
        }
        #tabla_length{
        display:none;
        }
        #tabla_filter{
        display:none;
        }
    </style>
<script>
    function printDiv(div) {
    // Create and insert new print section

    var elem = document.getElementById(div);
    var domClone = elem.cloneNode(true);
    var $printSection = document.createElement("div");
    $printSection.id = "printSection";
    $printSection.appendChild(domClone);
    $('head').append('<style> select{ display:none;} #botones_inspeccion,#botones_visado,#noImprimir{display:none;} .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate label{display: none;} .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{display: none;} .dataTables_wrapper .dataTables_paginate .paginate_button{display: none!important;}</style>');
    //document.body.insertBefore($printSection, document.body.firstChild);

    window.print();

    // Clean up print section for future use
    var oldElem = document.getElementById("printSection");
    if (oldElem != null) { oldElem.parentNode.removeChild(oldElem); }
                          //oldElem.remove() not supported by IE

    return true;
}

</script>

{% endblock %}
