{% extends 'base.html' %}
{% load staticfiles %}

{% block estilos %}

<style>
     table thead tr th {
      text-align: center;
     }

    </style>
{% endblock %}

{% block barra %}
<ul class="sidebar sidebar-1">
    <font size="2">
        <li><a href="{% url 'administrativo'  %}" class="current"><font color="white">Administrativo</font></a></li>
    </font>
</ul>
{% endblock %}

{% block contenido %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
    <div class="panel">
        <div class="panel-heading box" role="tab" id="headingFive">
            <h5 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <font color="#ffffff" size="2">Historial del tramite</font>
                </a>
            </h5>
        </div>
        <div id="collapseFive" class="panel-collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            {% if tramite.tramite %}
                            <ol>
                                <label>NRO TRAMITE:</label>
                                <li> {{tramite.tramite.id}}</li>
                                <label>PROPIETARIO:</label>
                                <li> {{tramite.tramite.propietario.persona}}</li>
                                <label>PROFESIONAL:</label>
                                <li> {{tramite.tramite.profesional.persona}}</li>
                                <label>TIPO DE OBRA:</label>
                                <li> {{tramite.tramite.tipo_obra}}</li>
                                <label>MEDIDAS:</label>
                                <li> {{tramite.tramite.medidas}}</li>
                                <label>ESTADO ACTUAL:</label>
                                <li> {{tramite.tramite.estado}}</li>
                                <label>DATOS CATASTRALES:</label>
                                <li>
                                    <table align="center" >
                                        <thead>
                                        <th>Parcela</th>
                                        <th>Circunscripcion</th>
                                        <th>Manzana</th>
                                        <th>Sector</th>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="col-xs-3" align="center">{{tramite.tramite.parcela}}</td>
                                            <td class="col-xs-4" align="center">{{tramite.tramite.circunscripcion}}</td>
                                            <td class="col-xs-5" align="center">{{tramite.tramite.manzana}}</td>
                                            <td class="col-xs-6" align="center">{{tramite.tramite.sector}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ol>
                            {% endif%}
                        </div>
                        <el class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <canvas id="myChart" height=143></canvas>
                        </el>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="table-responsive">
                                <table  class="table-bordered table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>Estado</th>
                                        <th>Usuario</th>
                                        <th>Fecha</th>
                                        <th>Progreso</th>
                                        <!--<th>Estado actual</th>-->
                                        <th>Ver</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if estadosp %}
                                    {% for estado in estadosp.estados_del_tramite %}
                                    <tr>
                                        <td class="col-xs-1" align="center">{{estado}}</td>
                                        <td class="col-xs-2">{{estado.usuario}}</td>
                                        <td class="col-xs-2">{{estado.timestamp}}</td>
                                        <td class="col-xs-6" >
                                            <div class="progress" style="position: relative; top: 0.7em;">
                                                <div id="{{estado.tipo}} - {{estado.timestamp}}" class="progress-bar progress-bar-success"  role="progressbar" style="width:0%;">

                                                    <span>%</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td align="center" class="col-xs-1">
                                            <a href="{% url 'documento_de_estado_administrativo' estado.id%}">
                                                <button type="button" class="btn btn-primary btn-xs" name="detalle">
                                                    <span class="glyphicon glyphicon-search" aria-hidden="true"> Documentos</span>
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif%}
                                    </tbody>
                                </table>
                                <br>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
                            <a href="javascript:history.back(-1);">
                                <button type="button" class="btn btn-primary" name="Volver">
                                    Volver
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
        $("[id^='1 -']").css('width', 11 + '%');
        $("[id^='2 -']").css('width', 23 + '%');
        $("[id^='3 -']").css('width', 32 + '%');
        $("[id^='4 -']").css('width', 32 + '%');
        $("[id^='4 -']").removeClass("progress-bar-success");
        $("[id^='4 -']").addClass("progress-bar-danger");
        $("[id^='5 -']").css('width', 52 + '%');
        $("[id^='6 -']").css('width', 67 + '%');
        $("[id^='7 -']").css('width', 78 + '%');
        $("[id^='8 -']").css('width', 90 + '%');
        $("[id^='9 -']").css('width', 100 + '%');
    </script>

<script>
        var timeFormat = 'DD/MM/YYYY';
        var datos = [];
        var label_fechas = [];

        {% for est in estadosp.estados_del_tramite %}
          datos.push({{est.tipo}});
        {% endfor %}

        {% for fe in fecha %}
            label_fechas.push("{{fe}}");
        {% endfor %}
        var yLabels = {
            1 : 'Iniciado', 2 : 'Aceptado', 3 : 'Visado', 4 : 'Corregido', 5 : 'Agendado',
            6 : 'Con Inspeccion', 7 : 'Inspeccionado', 8 : 'Final de Obra Solicitado ', 9 : 'Finalizado'
        }
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: label_fechas,
                datasets: [{
                label: 'Estado',
                data: datos,
                borderColor: "#273746",
                borderWidth: 3,
                lineTension: 0.3,
                pointBorderColor: '#2c3e50',
                pointBackgroundColor: '#2c3e50',
            }]
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'Historial de estados del tramite n° {{tramite.tramite.id}}',
                    fontSize: 14,
                    padding: 14,
                    fontColor:"#273746",
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            callback: function(value, index, values) {
                                return yLabels[value];
                            }
                        }
                     }]
                },
            }
        });
    </script>

{% endblock %}

