{% load staticfiles %}

{% block contenido_listado_profesionales %}
<div class="table-responsive">
      <table  class="table table-bordered table-striped table-hover" style="background: white;">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Telefono</th>
                            <th>Profesion</th>
                            <th>Matricula</th>
                            <th>Domicilio</th>
                            <th>Mail</th>
                        </tr>
                      </thead>
                <tbody>
                  {% if profesionales %}
                    {% for profesional in profesionales %}
                        <tr>
                            <td class="col-xs-1">{{ profesional.persona.nombre }}</td>
                            <td class="col-xs-1">{{ profesional.persona.apellido }} </td>
                            <td class="col-xs-1">{{ profesional.persona.telefono }}</td>
                            <td class="col-xs-2">{{ profesional.profesion }}</td>
                            <td class="col-xs-2">{{ profesional.matricula }}</td>
                            <td class="col-xs-2">{{profesional.persona.domicilio}}</td>
                            <td class="col-xs-2">{{profesional.persona.mail}}</td>
                        </tr>
                  {% endfor %}
                  {% endif %}
                   </tbody>
                </div>
          <br>
</table>
<br>
<div class=" col-xs-8 col-sm-8 col-md-8 col-lg-8" align="left">
    <a id="crear_detalle" href="{% url 'reporte_profesionales_activos_excel' %}" class="btn btn-info btn-collapsible btn-sm" title="Generar Archivo Excel" >
        <i class="glyphicon glyphicon-list-alt"></i><span>Exportar a EXCEL</span>
    </a>
    <a href="{% url 'reporte_profesionales_activos_pdf' %}" class="btn btn-info btn-collapsible btn-sm" title="Generar Archivo PDF" >
        <i class="glyphicon glyphicon-file"></i><span>Exportar a PDF</span>
    </a>
</div>
<!--<p align="right">
    <a href="{% url 'lista_profesionales_imprimible' %}">
            <button type="submit" class="btn btn-primary btn-lg" style="text-align:right" name="B1"><span
                    class="glyphicon glyphicon-print"></span> Vista imprimible</button>
        </button>
    </a>
    </div>-->
</div>
</div>
{% endblock %}

