{% load staticfiles %}


{% block contenido_tramite_final_obra %}
  <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
          <!-- Cabecera -->
          <thead>
              <tr>
                  <th>Numero</th>
                  <th>Medidas</th>
                  <th>Tipo</th>
                  <th>Estado</th>
                  <th>Profesional</th>
                  <th>Propietario</th>
                  <th>Documentos</th>
                  <th>Final de obra</th>
              </tr>
          </thead>
          <!-- Mostramos los datos de las tablas -->
          <tbody>
          {% if tramites %}
              {% for tramite in tramites %}
                <tr>
                  <td class="col-xs-1">{{ tramite.id }}</td>
                  <td class="col-xs-1">{{ tramite.medidas }} </td>
                  <td class="col-xs-1">{{ tramite.tipo_obra }}</td>
                  <td class="col-xs-1">{{ tramite.estado }}</td>
                  <td class="col-xs-2">{{ tramite.profesional }}
                      {{ tramite.profesional.persona.apellido }}
                      {{ tramite.profesional.profesion }}
                      {{ tramite.profesional.matricula }}
                  </td>
                  <td class="col-xs-2">{{ tramite.propietario.persona}}</td>
                  <td class="col-xs-1">
                    <a href="{% url 'documentos_administrativo' pk_tramite=tramite.id %}">
                      <button type="button" class="btn btn-primary btn-xs" name="ver-certificado">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"> Ver</span>
                      </button>
                    </a>
                  </td>
                  <td class="col-xs-1">
                      {%if tramite.estado.tipo ==  8%}
                       <a href="{% url 'habilitar_final_obra' pk_tramite=tramite.id %}">
                          <button type="button" class="btn btn-primary btn-xs" name="habilitar">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"> Habilitar</span>
                          </button>
                        </a>
                    </a>
                     {%else%}
                          <button class="btn btn-primary btn-xs" name="" disabled>
                            <span class="glyphicon glyphicon-home"> Habilitar</span>
                          </button>
                     {%endif%}
                  </td>
                </tr>
              {% endfor %}
          {% endif%}
          </tbody>
      </table>
      <div class=" col-xs-8 col-sm-8 col-md-8 col-lg-8" align="left">
            <a id="crear_detalle" href="{% url 'reporte_solicitud_final_obra_excel' %}" class="btn btn-info btn-collapsible btn-sm" title="Generar Archivo Excel" >
                <i class="glyphicon glyphicon-list-alt"></i><span>Exportar a EXCEL</span>
            </a>
            <a href="{% url 'reporte_solicitud_final_obra_pdf' %}" class="btn btn-info btn-collapsible btn-sm" title="Generar Archivo PDF" >
                <i class="glyphicon glyphicon-file"></i><span>Exportar a PDF</span>
            </a>
        </div>
  </div>
{% endblock %}
