{% load staticfiles %}

{% block contenido_tramite_corregidos %}

    <div class="table-responsive">

        <table class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
            <!-- Cabecera -->
            <thead>
                <tr>
                    <th>Nro</th>
                    <th>Propietario</th>
                    <th>Profesional</th>
                    <th>Medidas</th>
                    <th>Tipo</th>
                    <th>Estado</th>
                    <th>Ver</th>
                </tr>
            </thead>
            <!-- Mostramos los datos de las tablas -->
            <tbody>
            {% if tramites %}
                {% for tramite in tramites %}
                    <tr>
                        <td class="col-xs-1">{{ tramite.id }}</td>
                        <td class="col-xs-3">{{ tramite.propietario }}</td>
                        <td class="col-xs-4">{{ tramite.profesional }} </td>
                        <td class="col-xs-1">{{ tramite.medidas }}</td>
                        <td class="col-xs-1">{{ tramite.tipo_obra }}</td>
                        <td class="col-xs-1">{{ tramite.estado }}</td>                       
                        <td align="center" class="col-xs-1">
                            <a href="{% url 'ver_documentos_tramite_administrativo' pk_tramite=tramite.id %}">
                              <button type="button" class="btn btn-primary btn-xs" name="Aceptar">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"> Documentos</span>
                              </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif%}

            </tbody>
        </table>
        <div class=" col-xs-8 col-sm-8 col-md-8 col-lg-8" align="left">
            <a id="crear_detalle" href="{% url 'reporte_tramites_corregidos_excel' %}" class="btn btn-info btn-collapsible btn-sm" title="Generar Archivo Excel" >
                <i class="glyphicon glyphicon-list-alt"></i><span>Exportar a EXCEL</span>
            </a>
            <a href="{% url 'reporte_tramites_corregidos_pdf' %}" class="btn btn-info btn-collapsible btn-sm" title="Generar Archivo PDF" >
                <i class="glyphicon glyphicon-file"></i><span>Exportar a PDF</span>
            </a>
        </div>
    </div>
{% endblock %}