{% extends 'base.html' %}
{% load staticfiles %}

{% block estilos %}

{% endblock %}

{% block barra %}
<ul class="sidebar sidebar-1">
    <font size="2">
        <li><a href="javascript:history.back(-1);" class="current"><font color="white">Administrativo</font></a></li>
    </font>
</ul>
{% endblock %}


{% block contenido %}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
    <div class="panel">
        <div class="panel-heading box" role="tab" id="headingFive">
            <h5 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <font color="#ffffff" size="2">Documentacion del tramite</font>
                </a>
            </h5>
        </div>
        <div id="collapseFive" class="panel-collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: white;">
                            <div class="container-fluid">
                                <div class="row">
                                     <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="color: white;">
                                        <ol>
                                                 {% if tramite %}

                                            <label>NUMERO DE TRAMITE:</label>
                                            <li> {{tramite.id}}</li>
                                            <label>PROPIETARIO:</label>
                                            <li> {{tramite.propietario.persona}}</li>
                                            <label>PROFESIONAL:</label>
                                            <li> {{tramite.profesional.persona}}</li>
                                            <label>TIPO DE OBRA:</label>
                                            <li> {{tramite.tipo_obra}}</li>
                                            <label>MEDIDAS:</label>
                                            <li> {{tramite.medidas}}</li>
                                            <label>ESTADO ACTUAL:</label>
                                            <li> {{tramite.estado}}</li>
                                            <label>DATOS CATASTRALES:</label>

                                                <table align="center" >
                                                    <thead>
                                                    <th>Parcela</th>
                                                    <th>Circunscripcion</th>
                                                    <th>Manzana</th>
                                                    <th>Sector</th>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td class="col-xs-3" align="center">{{tramite.parcela}}</td>
                                                        <td class="col-xs-4" align="center">{{tramite.circunscripcion}}</td>
                                                        <td class="col-xs-5" align="center">{{tramite.manzana}}</td>
                                                        <td class="col-xs-6" align="center">{{tramite.sector}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </li>
                                        </ol>
                                {% endif%}
                                     </div>
                                </div>
                            </div>
                            {% for documento in tramite.documentos.all %}
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="thumbnail ">
                                    <a id="single_image" href="/media/{{documento.file}}" data-fancybox="images"  data-caption="{{documento.tipo_documento}}">
                                        <img src="/media/{{documento.file}}" width=300 height=300>
                                    </a>
                                    <br>
                                    <p style="color: #17202a; font-style: oblique; text-align: center;">{{documento.tipo_documento}} - {{documento.fecha}} </p>
                                    <form action="">
                                        <p align="right" >
                                            <a href="/media/{{documento.file}}" download="documento" class="btn btn-primary btn-collapsible"><i class="glyphicon glyphicon-save"></i><span>  Descargar</span></a>
                                        </p>
                                    </form>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
                            <a href="{% url 'aceptar_tramite' pk_tramite=tramite.id  %}">
                                <button type="button" class="btn btn-primary" name="Aceptar">
                                    Aceptar
                                </button>
                            </a>
                            <script>
                            function prueba(){
                              //  obs = $("#id_observaciones").val();
                                var id_tramite = {{tramite.id}};
                                url = '/persona/rechazar_tramite/'+id_tramite+'/?msg='+"dsdsds";
                                location.href = url;
                            }
                        </script>
                            <a href="javascript:prueba();">
                                <button type="button" class="btn btn-primary" name="Aceptar">
                                    Rechazar
                                </button>
                            </a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}
