{% load staticfiles %}

{% block contenido_tramite_estado %}
  <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover table-condensed">
          <!-- Cabecera -->
          <thead>
              <tr>
                  <th style="vertical-align: middle;">Numero de Tramite</th>
                  <th style="vertical-align: middle;">Profesional</th>
                  <th style="vertical-align: middle;">Estado</th>
                  <th style="vertical-align: middle;">Fecha de Inspeccion </th>
                  <th style="vertical-align: middle;">Superficie</th>
                  <th style="vertical-align: middle;">Tipo</th>
                  <th style="vertical-align: middle;">Monto total</th>
                  <th style="vertical-align: middle;">Monto pagado</th>
                  <th style="vertical-align: middle;">Resta pagar</th>
                  <th style="vertical-align: middle;">Solicitar</th>
                  <th style="vertical-align: middle;">Historial</th>
              </tr>
          </thead>
          <!-- Mostramos los datos de las tablas -->
          <tbody>
          {% if tramites_de_propietario %}
              {% for tramite in tramites_de_propietario %}
                <tr>
                    <td>{{tramite.id}}</td>
                  <td>{{tramite.profesional}}</td>
                  <td>{{tramite.estado}}</td>
                    {%if tramite.estado.tipo == 5 %}
                   <td>{{tramite.estado.timestamp}} </td>
                                        {%endif%}
                    {% if tramite.estado.tipo != 5 %}
                    <td>------</td>
                    {%endif%}


                    <td>{{tramite.medidas}}</td>
                    <td>{{tramite.tipo_obra}}</td>
                    {% if tramite.monto_a_pagar != None %}
                        <td>{{tramite.monto_a_pagar}}</td>
                    {% else %}
                        <td>------</td>
                    {% endif %}
                    <td>{{tramite.monto_pagado}}</td>
                    {% if tramite.saldo_restante_a_pagar >= 0.09 %}
                    <td>{{ tramite.saldo_restante_a_pagar}}</td>
                    {% else %}
                            <td class="col-xs-3">0.00</td>
                    {% endif %}
                  <td align="center" class="col-xs-1">
                     {%if tramite.estado.tipo > 5 and tramite.estado.tipo <=  7%}
                        <a aria-label="boton para solicitar final de obra" href="{% url 'propietario_solicita_final_obra' pk_tramite=tramite.id %}">
                          <button  title="boton para solicitar final de obra"  type="button" class="btn btn-primary btn-xs" name="Solicitar final de obra">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"> Final Obra</span>
                          </button>
                        </a>
                     {%else%}
                        <a aria-label="boton para solicitar final de obra" href="{% url 'propietario_solicita_final_obra' pk_tramite=tramite.id %}">
                          <button title="boton para solicitar final de obra" class="btn btn-primary btn-xs" name="Solicitar final de obra" disabled>
                            <span class="glyphicon glyphicon-home"> Final Obra</span>
                          </button>
                        </a>
                     {%endif%}
                  </td>



                  <td align="center" class="col-xs-1">
                    <a aria-label="boton para ver el historial del tramite" href="{% url 'ver_historial_tramite' tramite.id %}">
                      <button title="boton para ver el historial del tramite" type="button" class="btn btn-primary btn-xs" name="ver-historial">
                         <span class="glyphicon glyphicon-search" aria-hidden="true"> Ver</span>
                      </button>
                    </a>
                  </td>
                </tr>
              {% endfor %}
          {% endif%}
          </tbody>
      </table>
  </div>

{% endblock %}
