{% extends 'base.html' %}
{% load staticfiles %}

{% block estilos %}

    <style>

    </style>

{% endblock %}

{% block barra %}
	<ul class="sidebar sidebar-1">
		<font size="2">
			<li><a href="{% url 'propietario'  %}" class="current"><font color="white">Propietario</font></a></li>
		</font>
	</ul>
{% endblock %}


{% block contenido %}
<div class="container-fluid" id="a">
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
	  <div class="panel">
		<div class="panel-heading box" role="tab" id="headingFive">
		  <h5 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
			  <label id="documentos">Documentos del estado del tramite</label>
			</a>
		  </h5>
		</div>
		<div id="collapseFive" class="panel-collapse" role="tabpanel" aria-labelledby="headingFive">
		  <div class="panel-body">
			<div class="container-fluid">
				<div class="row">
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: white;">
                        {% for documento in documentos_de_fecha%}
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="thumbnail ">
                                        <a id="single_image" href="/media/{{documento.file}}" data-fancybox="images" data-caption="{{documento.tipo_documento}}">
                                            <img src="/media/{{documento.file}}" width=300 height=300>
                                        </a>
                                        <br>
                                        <p style="color: #17202a; font-style: oblique; text-align: center;">{{documento.tipo_documento}} - {{documento.fecha}} </p>
                                        <form action="">
                                            <p align="right" >
                                            <a href="#" class="btn btn-primary btn-collapsible"><i class="glyphicon glyphicon-open"></i><span>  Ampliar</span></a>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                        {% endfor %}
                     </div>
                    {% for planilla in planillas %}
                    {% if planilla %}
						{% block contenido_tramites_visados%}
							{% include "persona/profesional/planilla_visado_impresa.html" with tramites=ctxvisadosprofesional.visados_del_profesional %}
						{% endblock %}
                    {% endif %}
                    {% endfor %}
                    {% for inspeccion in inspecciones %}
                    {% if inspeccion %}
                        {% block contenido_tramites_inspeccionados%}
							{% include "persona/profesional/planilla_inspeccion_impresa.html" %}
						{% endblock %}
                    {% endif %}
                    {% endfor %}

                     <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">-->
                        <!--<a href="javascript:history.back(-1);">-->
                            <!--<button type="button" class="btn btn-primary" name="Volver">-->
                                <!--Volver-->
                            <!--</button>-->
                        <!--</a>-->
                        <!--{% if planilla or inspeccion %}-->
                        <!--<a href="javascript:history.back(-1);">-->
                            <!--<button type="button" class="btn btn-primary" name="Imprimir">-->
                                <!--Imprimir-->
                            <!--</button>-->
                        <!--</a>-->
                        <!--{% endif %}    -->
                     <!--</div>-->
			    </div>
			</div>
          </div>
        </div>
      </div>
    </div>

</div>
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
        
    /* Hide default HTML checkbox */
    .switch input {display:none;}
        
    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
        
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
        
    input:checked + .slider {
        background-color: #2196F3;
    }
        
    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
        
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
        
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
        
    .slider.round:before {
        border-radius: 50%;
    }
</style>

{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function() {
	var font=0;
	if (Cookies.get("fs")){
		font=Cookies.get("fs");
	    document.body.style.fontSize = font + "em";
	}
});
</script>
{% endblock %}


