{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block barra %}
    <ul class="sidebar sidebar-1">
        <font size="2">
            <li><a class="current"><font color="white">Financiacion</font> </a></li>
        </font>
      </ul>
{% endblock %}

{% block contenido %}
{% block tramites_para_financiar %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
	  <div class="panel" id="panelprop">
		<div class="panel-heading box" role="tab" id="headingFive">
		  <h5 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
			  <label id="financiacion">Elegir Financiacion</label>
			</a>
		  </h5>
		</div>

<div id="collapseFive" class="panel-collapse" role="tabpanel" aria-labelledby="headingFive">
		<div class="panel-body">
			<div class="container-fluid">
				<div class="row" id="fila1">
                    <div class="form-group">
                        <br>
                        <label>Total a Abonar:&nbsp;{{tramite.monto_a_pagar}}</label>
                            <br>               
        <form action="" method="post" enctype="multipart/form-data">
        <input name="guardar_financiacion" type="hidden"> 
            <div id="div_id_tipoPago" class="form-group"> 
                <label for="id_tipoPago" class="control-label ">
                    TipoPago
                </label> 
                <div class="controls "> 
                    <select name="tipoPago" placeholder="Ingresar Tipo de Pago" class="select form-control input-sm" id="id_tipoPago"> 
                        <option value="" selected="">---------</option> 
                        <option value="1">debito</option> 
                        <option value="2">tarjeta credito</option>
                    </select> 
                </div> 
            </div> 
            <div id="div_id_cantidadCuotas" class="form-group"> 
                <label for="id_cantidadCuotas" class="control-label ">
                    CantidadCuotas
                </label> 
                <div class="controls "> 
                    <select name="cantidadCuotas-" placeholder="Ingresar cantidad de cuotas" class="select form-control input-sm" id="id_cantidadCuotas"> 
                        <option value="" selected="">---------</option> 
                        <option value="1">Una Cuota</option> 
                        <option value="3">Tres Cuotas</option> 
                        <option value="6">Seis Cuotas</option> 
                        <option value="12">Doce Cuotas</option>
                    </select> 
                </div> 
            </div> 
            <div class="form-group"> 
                <div class="controls ">                                             
                    <button class="btn btn-primary btn-sm" type="submit" name="Guardar">
                        Enviar
                    </button>               
                    <button class="btn btn-primary btn-sm" type="submit" name="Volver">
                        Volver
                    </button>               
                </div> 
            </div> 
        </div>    
        </form>
                </div>
            </div>
          </div>
    </div>
    </div>
</div>
{% endblock %}
{% block estilos %}
<style>
  select.input-sm {
    height: 30px;
    line-height: 30px;
    width:initial!Important;
    margin-left: 45px!important;
}
.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    width:fit-content;
    margin-left: 45px!important;
}
label{
    color: white;
    align-content: center;
    margin-left: 45px!important;
}
.btn-sm, .btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin-left: 45px!important;
}
.content-fluid{
    background-color:#2c3e50!important;
}
.btn-info {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    margin-top: -45px;
    margin-right: 800px!important;
    float: right;
}
</style>

{% endblock %}
{% endblock %}