{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{%block contenido %}
<div class="container-fluid">
    <div id="printReady">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
            <div  class="row">
                <div id="contenedor" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div style="background-color:#2c3e50;">
                        <img src="/media/imagenes/Escudobanner.png"
                             class="img-responsive" alt="Imagen responsive" width="100" height="100"/>
                    </div>
                    <div id="municipalidad" align="justify" style="font-size:9px; text-align:left;">
                        <br>  &nbsp; MUNICIPALIDAD DE TRELEW
                        <br>
                        &nbsp; Rivadavia 390 <br>
                        &nbsp; 9100 TRELEW- Provincia del Chubut
                    </div>
                    <br>
                    <br>
                    <br>
                    <h3 align="center" style="color:white;" >
                        RESUMEN DE PAGO &nbsp;  &nbsp;
                    </h3>
                    <br>
                    <br>
                    <hr>
                    <label id="labelPropietario"> Tramite: {{ tramite.id }} &nbsp; &nbsp;</label><br>
                    <label id="labelPropietario"> Cantidad de Cuotas: {{ pago.cantidadCuotas }} &nbsp; &nbsp; </label>
                    <hr>

                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                            <label id="labelPropietario"> &nbsp; Titular: &nbsp;{{ tramite.propietario.persona.apellido}} {{ tramite.propietario.persona.nombre }}</label>
                            <br><label id="labelPropietario">  &nbsp;  &nbsp;DNI : {{tramite.propietario.persona.dni}}</label>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">

                            <h5 style="color:white;" align="right" >Profesional : {{tramite.profesion}} {{tramite.profesional}}</h5>
                            <h5 style="color:white;" align="right" >M.P: {{tramite.profesional.matricula}}</h5>
                        </div>
                    </div>
                    <hr>
                    <label id="labelPropietario"> Domicilio : {{tramite.domicilio}}</label><br>
                    <label id="labelPropietario">Tipo de Obra : {{ tramite.tipo_obra }}</label><br>
                    <hr>
                    <div class="row">
                        &nbsp;  &nbsp; <label id="labelPropietario"> Datos Catastrales: </label><br>

                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">

                            <label id="labelPropietario">  Sector : {{tramite.sector}}  -  </label> &nbsp;
                            <label id="labelPropietario">Parcela : &nbsp; {{tramite.parcela}}   </label> &nbsp;
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">

                            <h5 id="labelPropietario" style=" font-weight:bolder;">Circunscripción : &nbsp;{{tramite.circunscripcion}}   </h5> &nbsp;
                            <h5 id="labelPropietario" style=" font-weight:bolder;">Manzana : &nbsp; {{tramite.manzana}}  </h5>
                        </div>
                    </div>
                    <hr>

                    <h5 align="right" style="color:white;">Costo Total del Tramite: {{tramite.monto_a_pagar}}</h5>

                    {% if tramite.saldo_restante_a_pagar <= 0.09 %}
                    <h5 align="right"style="color:white;">Total Pagado a la Fecha: {{tramite.monto_a_pagar}}</h5>

                    {% else %}
                    <h5 align="right" style="color:white;">Total Pagado a la Fecha: {{tramite.monto_pagado}}</h5>
                    {% endif %}

                    <div class="table-responsive">
                        <table align="center" class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th p style="color:#FFFFFF"bgcolor="#2c3e50">Fecha de Vencimiento</th>
                                <th p style="color:#FFFFFF"bgcolor="#2c3e50">Numero de Cuota</th>
                                <th p style="color:#FFFFFF"bgcolor="#2c3e50">Importe</th>
                                <th p style="color:#FFFFFF"bgcolor="#2c3e50">Fecha de Pago</th>

                                <th p style="color:#FFFFFF"bgcolor="#2c3e50">Forma de Pago</th>

                            </tr>
                            </thead>
                            {%for c in cuotas %}

                            <tbody style="text-align:center">
                            <tr>
                                <td>{{ c.fechaVencimiento }}</td>
                                <td>{{ c.numeroCuota }}</td>
                                <td>{{ c.monto }} </td>
                                <td>{{ c.fechaPago }} </td>

                                <td>{{ c.tipoPago.nombre }} </td>

                            </tr>
                            </tbody>
                            {%endfor%}

                        </table>
                    </div>
                    {% if tramite.saldo_restante_a_pagar <= 0.09 %}
                    <h5 align="right" style="color:white;">Resta Pagar: 0,00</h5>
                    {% else %}

                    <hr>
                    <h5 align="right" style="color:white;">Resta Pagar: <a id="totalRestante"> </a>
                        {% endif %}
                    </h5>
                    <hr>
                </div>
            </div>
        </div>

        <div class="container-fluid " id="botones_cajero">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" align="right">
                <button type="button" class="btn btn-primary btn-md" onclick="printDiv('printReady')">Imprimir</button>

            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <form action='/persona/propietario'>
                    &nbsp;<Button class="btn btn-primary btn-md" type="submit" value="Atras">Volver</Button>
                </form>
            </div>
        </div>

    </div>
</div>

<style>

    th{
        background-color:#2c3e50;
        color:white;
    }
         .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_length, .dataTables_filter, .dataTables_info,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
          display: none !important;
       }
    hr{
      border-block-color:black;
    }
</style>
<script>
$( document ).ready(function() {
{% load l10n %}

{% localize off %}
var t= {{tramite.monto_a_pagar}}
var tp= {{tramite.monto_pagado}}
{% endlocalize %}
    $("#totalRestante").text((t - tp).toFixed(2))
});

</script>
<script>
    function printDiv(div) {
    // Create and insert new print section

    var elem = document.getElementById(div);
    var domClone = elem.cloneNode(true);
    var $printSection = document.createElement("div");
    $printSection.id = "printSection";
    $printSection.appendChild(domClone);
    //#columnab1,
    $('head').append('<style>  #botones_cajero, #noImprimir,select{ display:none;} #columnab1{display:none!important;}  #municipalidad{color:black!important;} .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate label{display: none;} .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{display: none;} .dataTables_wrapper .dataTables_paginate .paginate_button{display: none!important;}  div#contenedor, #totalRestante, #labelPropietario, h5,h3, td, th, tr, tbody, #columnab2, body{ color:black!important; background-color:white!important; } table{page-break-before: always; } div#pie.container-fluid, h6 { color:white!important; } </style>');
    //document.body.insertBefore($printSection, document.body.firstChild);

    window.print();

    // Clean up print section for future use
    var oldElem = document.getElementById("printSection");
    if (oldElem != null) { oldElem.parentNode.removeChild(oldElem); }
                          //oldElem.remove() not supported by IE

    return true;
}

</script>

{%endblock%}

{% block scripts %}
<script>
	$(document).ready(function() {
	var font=0;
	if (Cookies.get("fs")){
		font=Cookies.get("fs");
	    document.body.style.fontSize = font + "em";
	}
});
</script>
{% endblock %}