{% load staticfiles %}

{% block listado_tramites_comprobantes_propietario %}
<div class="table-responsive">

        <table class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
            <thead>
                <tr>
                    <th>Numero de tramite</th>
                    <th>domicilio</th>
                    <th>Monto a pagar</th>
                    <th>Monto restante</th>
                    <th>Monto pagado</th>
                    <th>Seleccionar Tramite</th>
                </tr>
            </thead>
            <tbody>
                {% for tramite in tramites %}
                    <tr>
                        <td class="col-xs-1">{{ tramite.id }}</td>
                        <td class="col-xs-3">{{ tramite.domicilio }}</td>
                        <td class="col-xs-3">{{ tramite.monto_a_pagar }}</td>
                        {% if tramite.saldo_restante_a_pagar >= 0.09 %}
                            <td class="col-xs-3">{{ tramite.saldo_restante_a_pagar }}</td>
                        {% else %}
                            <td class="col-xs-3">Tramite Pagado</td>
                        {% endif %}
                        <td class="col-xs-3">{{ tramite.monto_pagado }}</td>
                        <td>
                            <a href="{% url 'listado_de_comprobantes_propietario' tramite.id %}">
                                <button type="button" class="btn btn-primary btn-xs" name="lis">
                                    <span class="glyphicon glyphicon-home" aria-hidden="true"> Seleccionar tramite </span>
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}

{% block scripts %}

<script>
	$(document).ready(function() {
	var font=0;
	if (Cookies.get("fs")){
			font=Cookies.get("fs");
		    document.body.style.fontSize = font + "em";

	}
});
</script>
{% endblock %}