{% extends 'base.html' %}
{% load staticfiles %}

{% block estilos %}

{% endblock %}

{% block barra %}

    <ul class="sidebar sidebar-1">
        <li><a href="{%url 'propietario'%}" class="current"><label id="propietario">Propietario</label></a></li>

        </font>
      </ul>
{% endblock %}


{% block contenido %}

{% block listado_comprobantes %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel">
        <!--<div class="panel-heading box" role="tab" id="headingOne">
            <h5 class="panel-title">
                <font color="#ffffff">Mostrar el Comprobante de una Cuota</font>
            </h5>
        </div>-->
        <div class="panel-heading box" role="tab" id="headingOne">
            <font color="#ffffff" class="current"><label id="propietario1">Comprobante de Cuota</label></font>
        </div>
        <div class="container-fluid">
            <div class="panel-body">

                <div class="table-responsive">

                    <table class="table table-bordered table-striped table-hover table-condensed"
                           style="background: white;">
                        <thead>
                        <tr>
                            <th>Id cuota</th>
                            <th>Fecha de Vencimiento</th>
                            <th>Monto</th>
                            <th>Numero de Cuota</th>
                            <th>Fecha de Pago</th>
                            <th>Forma de Pago</th>
                            <th>Mostrar Comprobante</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cuota in cuotas %}
                        <tr>
                            <td class="col-xs-1">{{ cuota.id }}</td>
                            <td class="col-xs-3">{{ cuota.fechaVencimiento }}</td>
                            <td class="col-xs-3">{{ cuota.monto }}</td>
                            <td class="col-xs-3">{{ cuota.numeroCuota }}</td>
                            <td class="col-xs-3">{{ cuota.fechaPago }}</td>
                            <td class="col-xs-3">{{ cuota.tipoPago.nombre }}</td>
                            <td>
                                <a href="{% url 'comprobante_pago_cuota_propietario' cuota.id %}" target="_blank">
                                    <button type="button" class="btn btn-primary btn-xs" name="MostrarComprobante">
                                        <span class="glyphicon glyphicon-home"
                                              aria-hidden="true"> Generar Comprobante </span>
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="col-xs-4 col-sm-4 col-md-12 col-lg-12">
                        <br>
                        <form action='/persona/propietario'>
                            &nbsp;<Button class="btn btn-primary btn-sm" type="submit" value="Atras">Volver</Button>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% endblock %}

{% block scripts %}

<script>
	$(document).ready(function() {
	var font=0;
	if (Cookies.get("fs")){
			font=Cookies.get("fs");
		    document.body.style.fontSize = font + "em";

	}
});
</script>
{% endblock %}