{% extends 'base.html' %}
{% load staticfiles %}

{% block estilos %}

{% endblock %}

{% block barra %}
    <ul class="sidebar sidebar-1">
        <li><a href="{%url 'propietario'%}" class="current"><label id="propietario">Propietario</label></a></li>
        </font>
      </ul>
{% endblock %}


{% block contenido %}
<div class="container-fluid" id="a">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
        <div class="panel">
            <div class="panel-heading box" role="tab" id="headingOne">
                <font color="#ffffff" class="current"><label id="propietario1">Pagar Cuota</label></font>
            </div>
            <div id="collapseFive" class="panel-collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: white;">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                            <label>  Tramite : </label><br>
                                            <label> Numero de Tramite : {{ tramite.id }} </label>
                                            <br>
                                            <label>  Propietario  </label><br>
                                            <label> Apellido, Nombre : {{ tramite.propietario }}</label><br>
                                            <label>Dni : {{ tramite.propietario.persona.dni}}</label> <br>
                                            <br>
                                    </div>
                                    <div class="col-sm-6 col-md-6" >
                                        <label> Datos de la Obra : </label> <br>
                                        <label> Direccion : {{tramite.domicilio}}</label><br>
                                        <label> Sector : {{tramite.sector}} </label><br>
                                        <label>Tipo de Obra : {{ tramite.tipo_obra }}</label><br>
                                        <label>Medidas : {{ tramite.medidas }}</label><br>
                                        <br><br>
                                        <label>Total : $ {{tramite.monto_a_pagar}}</label><br>
                                        <label> Subtotal: <label id="subtotal"></label></label>
                                        <label> Numero de cuotas: {{tramite.pago.cantidadCuotas}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="{% url 'pagar_cuota_propietario' cuotas.id %}">
                        <button type="button" class="btn btn-primary brn-xs" name="pagar_cuota">
                            <span aria-hidden="true"> Pagar cuota </span>
                        </button>
                    </a>

                    <a href="javascript:history.back(-1);">
                        <button class="btn btn-primary btn-md " type="button" value="Atras">Volver</button>
                    </a>
                </form>
            </div>
        </div>

    </div>
</div>
    </div>
</div>

<style>

  .switch {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 17px;
  }

  /* Hide default HTML checkbox */
  .switch input {display:none;}

  /* The slider */
  .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
  }

  .slider:before {
      position: absolute;
      content: "";
      height: 13px;
      width: 13px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
  }

  input:checked + .slider {
      background-color: #2196F3;
  }

  input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
      -webkit-transform: translateX(13px);
      -ms-transform: translateX(13px);
      transform: translateX(13px);
  }

  /* Rounded sliders */
  .slider.round {
      border-radius: 17px;
  }

  .slider.round:before {
      border-radius: 50%;
  }
</style>
{% endblock %}

{% block scripts %}

<script>
	$(document).ready(function() {
	var font=0;
	if (Cookies.get("fs")){
			font=Cookies.get("fs");
		    document.body.style.fontSize = font + "em";

	}
});
</script>
{% endblock %}
