{% extends 'base.html' %}
{% load staticfiles %}

{% block estilos %}

{% endblock %}

{% block barra %}
<ul class="sidebar sidebar-1">
    <li><a href="{%url 'propietario'%}" class="current"><label id="propietario">Propietario</label></a></li>
</ul>
{% endblock %}

{% block contenido %}

<div class="panel panel-custom">
    <div class="panel-heading panel-heading-custom box" role="tab" id="headingOne">
        <div class="panel-title">
            <a><label id="propietario1">Comprobante de Cuota</label></a>
        </div>
    </div>
    <div id="collapseFive" class="panel-collapse" role="tabpanel" aria-labelledby="headingFive">
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row" id="fila1">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        {% if tramite.tramite %}
                        <ol>
                            <div id="tablaOl">
                                <label>NRO DE TRAMITE:</label>
                                <li>{{tramite.tramite.id}}</li>
                                <label>PROPIETARIO:</label>
                                <li>{{tramite.tramite.propietario.persona}}</li>
                                <label>PROFESIONAL:</label>
                                <li>{{tramite.tramite.profesional.persona}}</li>
                                <label>TIPO DE OBRA:</label>
                                <li> {{tramite.tramite.tipo_obra}}</li>
                                <label>MEDIDAS:</label>
                                <li>{{tramite.tramite.medidas}}</li>
                                <label>ESTADO ACTUAL:</label>
                                <li> {{tramite.tramite.estado}}</li>
                                <label>DATOS CATASTRALES:</label>
                            </div>
                            <div id="datosCatastrales">
                                <li >
                                    <table align="center" >
                                        <thead>
                                        <th>Parcela</th>
                                        <th>Circunscripcion</th>
                                        <th>Manzana</th>
                                        <th>Sector</th>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="col-xs-3" align="center">{{tramite.tramite.parcela}}</td>
                                            <td class="col-xs-4" align="center">{{tramite.tramite.circunscripcion}}</td>
                                            <td class="col-xs-5" align="center">{{tramite.tramite.manzana}}</td>
                                            <td class="col-xs-6" align="center">{{tramite.tramite.sector}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </div>
                        </ol>
                    </div>
                    {% endif%}
                    <el class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <canvas role="img" aria-label="historial de estados del tramite" id="myChart"  height=200 width="400"></canvas>
                    </el>
                </div>


                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="table-responsive">
                        <table  class="table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Estado</th>
                                <th>Usuario</th>
                                <th>Fecha</th>
                                <th>Progreso</th>
                                <th>Ver</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if estadosp %}
                            {% for estado in estadosp.estados_del_tramite %}
                            <tr>
                                <td align="center">{{estado.tipo}}</td>
                                <td class="col-xs-2">{{estado.usuario}}</td>
                                <td class="col-xs-2">{{estado.timestamp}}</td>
                                <td class="col-xs-6">
                                    <div class="progress ">
                                        <div  id="{{estado.tipo}} - {{estado.timestamp}}"title="progreso del estado del tramite"  class="progress-bar progress-bar-success"  role="progressbar" style="width:0%;">
                                            <span aria-label="Progreso del estado del tramite" role="img" style="font-weight:bolder; color:white font-size:larger;">%</span>
                                        </div>
                                    </div>
                                </td>
                                <td align="center" class="col-xs-1">
                                    <a aria-label="boton para ver la documentacion del estado" role="link" tabindex="0" style="cursor:pointer;" href="{% url 'documentos_de_estado' estado.id%}">
                                        <button title="Boton para ver la documentacion del estado" type="button" class="btn btn-primary btn-xs" name="detalle">
                                            <span alt="boton documentos"  class="glyphicon glyphicon-search" aria-hidden="true"> Documentos</span>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif%}
                            </tbody>
                        </table>
                        <br>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
                    <a aria-label="boton para regresar a la pagina anterior" role="link" tabindex="0" style="cursor:pointer;" href="javascript:history.back(-1);">
                        <button title="boton volver" type="button" class="btn btn-primary" name="Volver">
                            Volver
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<!--<script>
	$(document).ready(function() {
	var font=0;
	if(Cookies.get("temporal")) {
		$("link").attr("href",Cookies.get("temporal"));
		if (Cookies.get("fs")){
			font=Cookies.get("fs");
		    document.body.style.fontSize = font + "em";
		}
	}
});
</script>-->

<script>
        $("[id^='1 -']").css('width', 11 + '%');
        $("[id^='2 -']").css('width', 23 + '%');
        $("[id^='3 -']").css('width', 32 + '%');
        $("[id^='4 -']").css('width', 32 + '%');
        $("[id^='4 -']").removeClass("progress-bar-success");
        $("[id^='4 -']").addClass("progress-bar-danger");
        $("[id^='5 -']").css('width', 52 + '%');
        $("[id^='6 -']").css('width', 67 + '%');
        $("[id^='7 -']").css('width', 78 + '%');
        $("[id^='8 -']").css('width', 90 + '%');
        $("[id^='9 -']").css('width', 100 + '%');
    </script>

<script>
        var timeFormat = 'DD/MM/YYYY';
        var datos = [];
        var label_fechas = [];

        {% for est in estadosp.estados_del_tramite %}
          datos.push({{est.tipo}});
        {% endfor %}

        {% for fe in fecha %}
            label_fechas.push("{{fe}}");
        {% endfor %}
        var yLabels = {
            1 : 'Iniciado', 2 : 'Aceptado', 3 : 'Visado', 4 : 'Corregido', 5 : 'Agendado',
            6 : 'Con Inspeccion', 7 : 'Inspeccionado', 8 : 'Final de Obra Solicitado ', 9 : 'Finalizado'
        }
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: label_fechas,
                datasets: [{
                label: 'Estado',
                data: datos,
                borderColor: "black",
                borderWidth: 3,
                color:"black",
                lineTension: 0.3,
                pointBorderColor: 'black',
                pointBackgroundColor: '#2c3e50',
            }]
            },
            options: {
            responsive:true,
            title:{
                    display:true,
                    text:'Historial de estados del tramite n° {{tramite.tramite.id}}',
                    fontSize: 18,
                    padding: 14,
                    fontColor:"black",
                },
            scales: {
                    yAxes: [{
                        ticks: {
                            callback: function(value, index, values) {
                                return yLabels[value];
                            }
                        },
                    }],
                 },
            }
        });

    </script>
<script>
        $(document).ready(function() {
        var font=0;
        if (Cookies.get("fs")){
                font=Cookies.get("fs");
                document.body.style.fontSize = font + "em";
                var x=document.getElementsByClassName('panel-title');
                var i;
                for (i = 0; i < x.length; i++) {
                      x[i].style.fontSize = font + "em";
                }
        }
        });
    </script>

{% endblock %}
