/* CSS Document */

/* opciones generales */

.color1 {
	background: #336699;
	color:#fff;
}

.color2 {
	background: #336699;
	color:#ffffff;
}

.color3 {
	background:#336699;
	color:#fff;
}

footer {
	background:#336699;
	color:#fff;
}

section {
	background:#336699;
	color:#fff;
}
/* degradado de color de fondo */


body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
	min-height: 100vh; width: 100%;
	xoverflow: hidden;
	padding-top: 140px;
	/*color: whitesmoke;
	font-size: 16px;
	font-family: 'Lato';*/

	background:  /*#f8f9f9s;*/
		radial-gradient(circle at 1.98% 14.97%,#6699CC, transparent 100%),
		radial-gradient(circle at 98.02% 52.96%,  	#66CCFF, transparent 100%),
		radial-gradient(circle at 50% 50%, #66CCFF,#66CCFF 100%);
}

/* color del nav igual al del header*/

.navbar{
      /*  border-color: #2c3e50 !important;*/
      border-color: #428bca !important; /*borde de abajo de obras particulares*/
}

header{
	background:#2c3e50;   /*banda azul donde esta el logo del municipio*/
	/*background:#04142b;*/
	color: #ffffff;
	transition: 0.5s;
}


img.logo {
	height: 50px;

}

/* eso es para modificar el header cuando top */

header.sticky {
	position: fixed;
	left: 0; right: 0;
	height: 60px;
	padding: 0px 0 10px 0;
	box-shadow: 0 5px 15px black; /*palabras*/
	text-shadow: 0 0 20px black;
}

.sticky img.logo {
	height: 40px;

}

/* configuracion panel gris o con #336699*/

.panel-group > .panel {
    border-color: #2c3e50;
    border-radius: 0px;
    background:#2c3e50;
}
/*color del panel central  #336699*/
.panel-custom {
    border-color: #2c3e50;
    border-radius: 0px;
    background:#2c3e50;/*color de panel central*/
}
.panel-custom > .panel-heading-custom {
    background: #2c3e50;
    border-radius: 0px;
}



/* cambio de color de heading*/

.box {
  	-webkit-transition: background-color 400ms ease-out;
	-moz-transition: background-color 400ms ease-out;
	-o-transition: background-color 400ms ease-out;
	transition: background-color 400ms ease-out;
}

.box:hover {
  background-color:#336699;  /*transiciones en propietario y otros en consultas panel central*/
  cursor: pointer;
}


label {
	color: white;   /*usuario*/
}

a:link {
	text-decoration:none;
}

/* menu lateral */

.left-sidebar {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.sidebar {
	width: 200px;
	margin-right: 35px;
	background-color: #2c3e50;/*panel de consulta pago modificacion en por ej el propietario*/
	list-style-type: none;
	padding-left: 0;
}

.sidebar li a {
	color: white;
	box-sizing: border-box; }

.sidebar li a:hover {
	color: white; }   /*transiciones entre consultar estados de mis tramites hasta modificar datos*/

/* sidebar 1 */

.sidebar-1 li a {
	display: block;
	padding: 10px 20px;
	border-left: 5px solid transparent;
	transition: all 400ms ease;
}

.sidebar-1 li a:hover,
.sidebar-1 li a.current {
	/*background-color: #3a3a3a;*/
	background-color: #336699;     /*donde dice registrarse*/
	border-left: 5px solid blue;
}

.sidebar-1 li a:focus{
	color: white;
	/*background-color: #3a3a3a;*/
	background-color:#2c3e50; /*transicion de color celeste a azul oscuro*/
	border-left: 5px solid blue;
}

/*Subemu lateral*/

.sidebar-2 li a {
	color: white;
	background-color: #336699;
	box-sizing: border-box; }


.sidebar-2 li a {
	display: block;
	padding: 10px 20px;
	border-left: 5px solid transparent;
	transition: all 400ms ease;
}

.sidebar-2 li a:hover,     /*transiciones en panel de izquierda */
.sidebar-2 li a.current {
	color: white;
	background-color: #336699;
	border-left: 3px blue;
}

.sidebar-2 li a:focus{
	color: white;
	background-color: #2c3e50;
	border-left: 3px blue;
}

/* validar contraseña */

#pswd_info {
	position:relative;
	background:#fefefe;
	font-size:.875em;
	border-radius:1px;
	box-shadow:0 1px 3px #ccc;
	border:1px solid #ddd;
	float: center;
}

#pswd_info::before {
	content: "\25B2";
	position:absolute;
	top:-12px;
	left:45%;
	color:#ddd;
	display:block;
}
.invalid {
	background:url(images/cancel.png) no-repeat 0 50%;
	padding-left:22px;
	line-height:24px;
	color:tomato;
}
.valid {
	background:url(images/accept.png) no-repeat 0 50%;
	padding-left:22px;
	line-height:24px;
	color:#268e37;
}
#pswd_info {
	display:none;
}

#pswd2_info {
	position:relative;
	background:#fefefe;
	font-size:.875em;
	border-radius:1px;
	box-shadow:0 1px 3px #ccc;
	border:1px solid #ddd;
	float: center;
}

#pswd2_info::before {
	content: "\25B2";
	position:absolute;
	top:-12px;
	left:45%;
	color:#ddd;
	display:block;
}

#pswd2_info {
	display:none;
}


/* ----------------------------------cryspy-----------------------------*/


/* Ocultar asterisco de campo obligatorio*/

.asteriskField {
    display: ;
   }


/*--------------boton colapsable--------------------------*/

.btn-collapsible {
  overflow: hidden;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  max-width: 40px;
}
.btn-collapsible.btn-xs {
  max-width: 25px;
}
.btn-collapsible.btn-sm {
  max-width: 34px;
}
.btn-collapsible.btn-lg {
  max-width: 50px;
}
.btn-collapsible span {
  opacity: 0;
  text-indent: -6px;
  display: inline-block;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.btn-collapsible:hover {
  max-width: 300px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-collapsible:hover span {
  opacity: 1;
  text-indent: 0px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

/*********** tablas*************/
.dataTables_wrapper .dataTables_length label{
    color: white;
}

.dataTables_filter label {
    color: white;
}

