body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 100vh;
    width: 100%;
    xoverflow: hidden;
    padding-top: 140px;
    background: #9d70ec!important;
    font-size: 14px;
    line-height: 1.42857143;
}
body {
    margin: 0;
}
td{
    color:black!important;
    }

div#tablaOl{
    color:black;
    font-weight:bolder;
    font-size:larger;
}
#datosCatastrales{
    color:black;
    font-weight:bolder;
    font-size:revert!important;
}
.progress-bar-success {
    background-color: #044f04!important;
}
.progress-bar-danger {
    background-color: #d20903!important;
}
div#container-visado, div#container-inspeccion{
background-color:#340951!important;
}
#municipalidadVisado,#planillaVisado, #planillaInspeccion, #municipalidadInspeccion,#documentos,#tituloVisado{
color:white;
}
header {
    /* background: #04142b; */
    transition: 0.5s;
}
header.sticky {
    position: fixed;
    left: 0;
    right: 0;
    height: 60px;
    padding: 0px 0 10px 0;
    box-shadow: 0 5px 15px black;
    text-shadow: 0 0 20px black;
}
.sticky img.logo {
    height: 40px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px!important;
    height: 2px!important;
    border-radius: 1px;
}
/*#alejar, #acercar{
    background-color:#340951;
}*/
#salir, #botonAccesibilidad{
    background-color:#340951!important;
    font-size:100%;
    font-weight: bold;
    color:white!important;
    border-color: #cbd6e0;
    border-width: revert;
}

#pie.container-fluid, #encabezado.container-fluid {
    background-color:#6d08b1!important;
    color:white!important;
}
#rowlogo.row{
    background-color:#340951;
    color:white;
}


 footer {
    background: #336699;
    color: #fff;
}

.navbar {
    /* border-color: 2c3e50 !important; */
    border-color: black!important ;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 0 px solid transparent;
}
.navbar-default {

    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.navbar-fixed-top, .navbar-fixed-bottom {

    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.row {

    margin-right: -15px;
    margin-left: -15px;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
input, button, select, textarea {

    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {

    overflow: visible;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

div.form-inline{
    background-color: transparent!important;

}

#et1.col-sm-10.col-md-10.col-xs-12{
    background-color: transparent!important;

}
#et2.col-sm-10.col-md-10.col-xs-12{
    background-color: transparent!important;  /*ver barra del costado*/

}
col-xs-12.col-sm-12.col-md-10.col-lg-10{
    background-color: transparent!important;

}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
#tdColor{
    background-color:#6d08b1;
    color:white!important;
}
label{
    color:white;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #f2eeee!important;
    background: #cbe3db;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background: white !important;
    border: 2px solid #6bbfb0;
}

.dataTables_wrapper .dataTables_length label{
    color:white;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    color: black!important;
}
.dataTables_filter label{
    color: white!important;
}
*:focus{
    outline: 3px solid magenta!important;
}
select, option {
    color:black!important;
    font-weight:bolder!important;
}

 img.logo {
    height: 50px;
    vertical-align: middle;
    border: 0;
}
img[Attributes Style] {
    float: left;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 340px;
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
div[Attributes Style] {
    text-align: -webkit-right;
}

b, strong {
    font-weight: bold;
        font-size: 13px;
            margin-right: 3px;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 340px!important;
}

.sidebar {
    width: 200px;
    margin-right: 35px;
    background-color: #340951; /*2c3e50*/
    list-style-type: none;
    padding-left: 0;
}

.dataTables_wrapper .dataTables_length label, .dataTables_filter label{
    color: white!important;

}
.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    color: black!important;
}
 .sidebar-1 li a {
    display: block;
    padding: 10px 20px;
    /* border-left: 5px solid transparent; */
    transition: all 400ms ease;
}

 a:link {
    text-decoration: none;

}

ol ul, ul ol, ul ul, ol ol {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}
ul ul, ol ul {
    list-style-type: circle;
}
ul {
    margin-top: 0;
    /* margin-bottom: 10px; */
}
ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0;
    background-color:  #f8f7f0;

}
.panel-group {
    margin-bottom: 20px;
    display:block;
}
 .panel-group > .panel{
    border-color:#340951; /* 2c3e50;*/
    border-radius: 0px;
    background: #340951;/*2c3e50*/;
}

#columnab1.col-xs-12.col-sm-12.col-md-2.col-lg-2,#columnab2.col-xs-12.col-sm-12.col-md-10.col-lg-10{
background-color:transparent!important;
}

.box:hover {
    background-color:#340951!important;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

h5 {
    display: block;
    font-size: 0.83em;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

 .panel-custom > .panel-heading-custom {
    background: #340951;/*  2c3e50;*/
    border-radius: 0px;
}
.panel-group .panel-heading {
    border-bottom: 0;
}

.panel-body {
    padding: 15px;
    background:#340951; /*e0ceed;*/
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.table-bordered {
    border: 1px solid #ddd;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    display: table;
    background: white;
}
thead {
    height: 30px;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

table thead tr th {
    text-align: center;
}

th {
    background:#6d08b1!important;
    border-color:white!important;
    font-weight: bold;
    text-align: -internal-center;
    vertical-align:middle;
    color:white!important;
}
td, th {
    display: table-cell;
    vertical-align: middle;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.form-group {
    margin-bottom: 15px;
}
.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    box-shadow: inset 0 0 9px 0px black;
    font-weight: 900;

}

.form-control:focus {
    border-color: #340951!important;
    outline: blueviolet!important;
    box-shadow: inset 0 1px 1px rgba(230,58,240,.075), 0 0 5px 4px rgb(60, 5, 81)!important;
}

input {
    -webkit-appearance: textfield;
    background-color: black;
    -webkit-rtl-ordering: logical;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.file-input-new .file-preview, .file-input-new .close, .file-input-new .glyphicon-file, .file-input-new .fileinput-remove-button, .file-input-new .fileinput-upload-button {
    display: none;
}
.file-preview {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
}
.text-success {
    color: #3c763d;
}
.text-center {
    text-align: center;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.text-right {
    text-align: right;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-sm, .btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    /* color: inherit; */
}

input[type="file" i] {
    align-items: baseline;
    color: inherit;
    text-align: start;
}
input[type="hidden" i], input[type="image" i], input[type="file" i] {
    -webkit-appearance: initial;
    background-color: initial;
    padding: initial;
    border: initial;
}
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: auto;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.panel {
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

select.input-sm {
    height: 30px;
    line-height: 30px;
}
.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}

.btn-primary{
   background-color: #6d08b1;
   border-color: #2f363c;
}
.btn-primary:active, .btn-primary:hover, .btn-primary:focus{
   background-color: #bc8ddd;
}
.sidebar-1 li a:hover, .sidebar-1 li a.current {
    background-color: #6d08b1;
    color:white;
    border-left: 5px solid #32094e;
}

.switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {display:none;}

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
#tablaOl{
color:white;
}
#contenido3{
background-color:#eae2e2!important;
}
ol li {
    font-weight: bold;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    font-weight: bold;
}
