@import url('/static/css/bootstrap.min.css');
@import url('/static/css/jquery-ui.css');
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 100vh;
    width: 100%;
    xoverflow: hidden;
    padding-top: 140px;
    color: #333!important;
    background-color: #333!important;
    font-size: 14px;
    line-height: 1.42857143;
}
body {
    margin: 0;
}
header {
    /* background: #04142b; */
    transition: 0.5s;
}

header.sticky {
    position: fixed;
    left: 0;
    right: 0;
    height: 60px;
    padding: 0px 0 10px 0;
    box-shadow: 0 5px 15px black;
    text-shadow: 0 0 20px black;
}
.sticky img.logo {
    height: 40px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px!important;
    height: 2px!important;
    border-radius: 1px;
}
#pie.container-fluid, #encabezado.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    background-color: #2ca1f5!important;
}
#rowlogo.row,#et1.col-xs-12.col-sm-2.col-md-2{
/* encabezado*/
    background-color: #0c3552!important;
}

}
strong{
	font-size: 13px;
}

.form {
    background: burlywood!important;
    display: block!important;
    margin-top: 0em!important;
}

label {
    color:white;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    -webkit-font-size-delta:large!Important;
}

.btn-sm, .btn-group-sm > .btn {

    padding: 5px 10px!important;
    font-size: 12px!important;
    line-height: 1.5!important;
    border-radius: 3px!important;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    margin-left:3px;
}
}
.btn {

    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

h6[Attributes Style] {

    text-align: right;
}
h6 {
    display: block;
    font-size: 0.67em;
    -webkit-margin-before: 2.33em;
    -webkit-margin-after: 2.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
        font-size: 12px;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
        font-weight: bold; /*cambio*/

}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
    font-weight:bold;

}

#columna.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    background-color:#ab1515!important;
}
#columna1.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    background-color:#ab1515!important;
}
#columna1a.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    background-color:#ab1515!important;
}
#columna1b.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    background-color:#ab1515!important;
}
#columna1c.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    background-color:#ab1515!important;
}
#columna1d.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    background-color:#ab1515!important;
}
#columna2.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    background-color:#ab1515!important;
}
#columna2a.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    background-color:#ab1515!important;
}
#columna2b.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    background-color:#ab1515!important;
}
#columna2c.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    background-color:#ab1515!important;
}
#columna2d.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    background-color:#ab1515!important;
}
#columna2e.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    background-color:#ab1515!important;
}
#contenedor1.container-fluid{
    background-color:#ab1515!important;

}
#contenedor1a.container-fluid{
    background-color:#ab1515!important;
}
#contenedor2.container-fluid,#contenedor2a.container-fluid{
    background-color:#ab1515!important;

}

 footer {
    background: #336699;
    color: #fff;
}

.navbar {
    /* border-color: #2c3e50 !important; */
    border-color: black!important ;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 0 px solid transparent;
}
.navbar-default {

    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
@media (min-width: 768px){
.navbar-fixed-top {

    top: 0;
    border-width: 0 0 1px;
}}
.navbar-fixed-top, .navbar-fixed-bottom {

    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
@media (min-width: 768px){
.navbar {
    border-radius: 4px;
}}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.container-fluid {
    background-color:#333;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}
#fila1.row{
background-color:#ab1515!important;
}
#headingFive.panel-heading.box{
background-color:#e4d62f!important;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-header:after, .modal-footer:after {
    clear: both;
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}
.col-sm-10, .col-md-10,.col-xs-12,

}

.row {

    margin-right: -15px;
    margin-left: -15px;
}

/*
header, hgroup, main, nav, section {
    display: block; tachado en header
}*/

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
/*
        background-color:#333!important;
*/
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 768px){
.navbar-header {
    float: left;
}}

.navbar-default .navbar-toggle {
    border-color: #ddd;
}

@media (min-width: 768px)
{.navbar-toggle {
    display: none;
}
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
input, button, select, textarea {

    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {

    -webkit-appearance: button;
    cursor: pointer;
}
button, select {

    text-transform: none;
}
button {

    overflow: visible;
}
button, input, optgroup, select, textarea {

    margin: 0;
    font: inherit;
    color: inherit;
}


input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    padding: 1px 6px;
}
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}

button {
    -webkit-appearance: button; /*tachado*/
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

div.form-inline{
    background-color: transparent!important;

}

#et1.col-sm-10.col-md-10.col-xs-12{
    background-color: transparent!important;

}
#et2.col-sm-10.col-md-10.col-xs-12{
    background-color: transparent!important;  /*ver barra del costado*/

}
col-xs-12.col-sm-12.col-md-10.col-lg-10{
    background-color: transparent!important;

}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

 img.logo {
    height: 50px;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
img[Attributes Style] {
    float: left;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 340px;
}
@media (min-width: 768px){
.navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}}
@media (min-width: 768px){
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}}
@media (min-width: 768px){
.navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}}
.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
div[Attributes Style] {
    text-align: -webkit-right;
}
    margin-right: 3px;
    font-size: 13px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    cursor: default;
    color:#212b52;
}
label#a,label#b,label#g,label#i,label#j,label#k,label#s,label#financiacion,label#documentos{
   color: #ab1515!important;
   font-weight:bolder!important;

}
/*.box:hover {
    color: #336699!important;
    cursor: pointer;
}*/
b, strong {
    font-weight: bold;
        font-size: 13px;
            margin-right: 3px;
}

/*.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7!important;
}*/
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 340px!important;
}
@media (min-width: 768px){
.navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}}
@media (min-width: 768px){
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}}
@media (min-width: 768px){
.navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}}

.sidebar {
    width: 200px;
    margin-right: 35px;
    background-color: #2c3e50;
    list-style-type: none;
    padding-left: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
* {
    /* -webkit-box-sizing: border-box; */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.sidebar-1 li a:hover,  .sidebar-1 li a.current {
    /* background-color: #3a3a3a; */
    background-color: #de9842;
    border-left: 5px solid #e26713;
}

 .sidebar-1 li a {
    display: block;
    padding: 10px 20px;
    /* border-left: 5px solid transparent; */
    transition: all 400ms ease;
}
 .sidebar li a {
    color: #ab1515;
    background-color: #e4d62f; /*cmbio*/
    box-sizing: border-box;
}
 a:link {
    text-decoration: none;

}
  a{
}   background-color: transparent;

ol ul, ul ol, ul ul, ol ol {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}
ul ul, ol ul {
    list-style-type: circle;
}
ul {
    margin-top: 0;
    /* margin-bottom: 10px; */
}
ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0;
    background-color: #e4d62f;

}
.panel-group {
    margin-bottom: 20px;
    display:block;
}
 .panel-group > .panel {
    border-color: #2c3e50;
    border-radius: 0px;
    background: #2c3e50;
}

#columnab1.col-xs-12.col-sm-12.col-md-2.col-lg-2,#columnab2.col-xs-12.col-sm-12.col-md-10.col-lg-10{
background-color:transparent!important;
}

.panel-group .panel {
    margin-bottom: 0;
    /* border-radius: 4px; */
}
 .panel-custom > .panel-heading-custom {
    background-color: #e4d62f!important;
    border-radius: 0px;
    background: #2c3e50;
}
.panel-group .panel-heading {
    border-bottom: 0;
}
 .box {
    -webkit-transition: background-color 400ms ease-out;
    -moz-transition: background-color 400ms ease-out;
    -o-transition: background-color 400ms ease-out;
    transition: background-color 400ms ease-out;
}
.box:hover {
    background-color: #de9842!important;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}


h5 {
    display: block;
    font-size: 0.83em;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
    color: inherit;
}
[role="button"] {
    cursor: pointer;
}
 .panel-custom > .panel-heading-custom {
    background: #2c3e50;
    border-radius: 0px;
}
.panel-group .panel-heading {
    border-bottom: 0;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: 1px solid #ddd;
}
.panel-body {
    padding: 15px;
    background:#c5334e;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.table-bordered {
    border: 1px solid #ddd;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    display: table;

}

table {
    background: white;
}
table {
    border-spacing: 0;
    border-collapse: collapse;

}
thead {
    height: 30px;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border-top: 0;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
    padding: 5px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    /* padding: 8px; */
    line-height: 1.42857143;
    vertical-align: top;
    /* border-top: 1px solid #ddd; */
}
table thead tr th {
    text-align: center;
}
table thead tr th {
    text-align: center;
    background-color: #273746;
    color: #fff;
}


th {
    background:#d0c546!important;
    border-color:black!important;
    font-weight: bold;
    text-align: -internal-center;
    vertical-align:middle;
    color:black!important;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.panel-group .panel + .panel {
    margin-top: 5px;
}
.form-group {
    margin-bottom: 15px;
}
.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    box-shadow: inset 0 0 9px 0px black;
    font-weight: 900;

}
.form-control {
    display: block;
    width: 100%;
    /* height: 34px; */
    padding: 6px 12px;
    /* font-size: 14px; */
    /* line-height: 1.42857143; */
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    /* -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; */
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #e4d62f!important;
    outline: limegreen!important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px 4px rgb(228, 214, 47)!important;
}
input, button, select, textarea {
    font-family: inherit;
    /* font-size: inherit; */
    /* line-height: inherit; */
}
input {
    /* line-height: normal; */
}

input[type="hidden" i], input[type="image" i], input[type="file" i] {
    -webkit-appearance: initial;
    background-color: initial;
    padding: initial;
    border: initial;
}
input[type="hidden" i] {
    display: none;
}
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.file-input-new .file-preview, .file-input-new .close, .file-input-new .glyphicon-file, .file-input-new .fileinput-remove-button, .file-input-new .fileinput-upload-button {
    display: none;
}
.file-preview {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
}
.text-success {
    color: #3c763d;
}
.text-center {
    text-align: center;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.text-right {
    text-align: right;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-sm, .btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    /* color: inherit; */
}

input[type="file" i] {
    align-items: baseline;
    color: inherit;
    text-align: start;
}
input[type="hidden" i], input[type="image" i], input[type="file" i] {
    -webkit-appearance: initial;
    background-color: initial;
    padding: initial;
    border: initial;
}
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: auto;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.label-primary {
    background-color: #ab1515!important;
}


/*.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    color-text:white;
}*/

select.input-sm {
    height: 30px;
    line-height: 30px;
}
.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

select:not(:-internal-list-box) {
    overflow: visible !important;
}
select {
    border-radius: 0px;
    border-color: rgb(169, 169, 169);
}
select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
}
select {
    border-radius: 5px;
}
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}
input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html[Attributes Style] {
    -webkit-locale: "es";
}


*:before, *:after {
/* -webkit-box-sizing: border-box; */

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}