{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block barra %}
  <ul class="sidebar sidebar-1">
    <font size="2">
		<li><a class="current"><font color="white">Cajero</font> </a></li>
		<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false"aria-controls="collapseSeven" onclick='mostrarSubmenu("sin_submenu")'>Elegir financiacion</a></li>
		<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false"aria-controls="collapseNine" onclick='mostrarSubmenu("sin_submenu")'>Seleccionar tramite</a></li>
	</font>
  </ul>
{% endblock %}

{% block contenido %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
    <div class="panel">
        <div class="panel-heading box" role="tab" id="headingSeven">
	        <h5 class="panel-title">
			    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
				    <font color="#ffffff" size="2">Elegir financiacion</font>
			    </a>
		    </h5>
        </div>
	    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
		    <div class="panel-body">
			    <div class="container-fluid">
				    <div class="row">
					    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12" id="pagos">
								{% block tramites_para_financiar %}
									{% include "persona/cajero/tramites_para_financiar.html" with tramites=ctxtramites_para_financiar.tramites %}
								{% endblock %}
						    </div>
					    </div>
				    </div>
			    </div>
		    </div>
	    </div>
    </div>

	    <div class="panel panel-custom">
			<div class="panel-heading panel-heading-custom box" role="tab" id="headingNine">
				<h5 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
						<font color="#ffffff" size="2">Seleccionar Tramite</font>
					</a>
				</h5>
			</div>
			<div id="collapseNine" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingNine">
			  <div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="container-fluid">
							<br>
								{% block listado_tramites_a_pagar %}
									{% include "persona/cajero/listado_tramites_a_pagar.html" with tramites=ctxcuotas.tramites %}
								{% endblock %}

						</div>
						</div>
					</div>
			  	</div>
			  </div>
			</div>
		</div>
</div>

<script>
	$('#cuotas #div_id_fechaVencimiento').appendTo('#fechaVencimiento')
	$('#cuotas #div_id_fechaPago').appendTo('#fechaPago')
	$('#cuotas #div_id_monto').appendTo('#monto')
	$('#submit-id-cuota_submit').appendTo('#boton_de_cuota')
</script>
<script type="text/javascript">
  $(function() {
   $('input').filter('.datepicker').datepicker({
    changeMonth: true,
    changeYear: true,
    showOn: 'button',
    buttonImage:'/media/imagenes/icon-calendar.png',
    buttonImageOnly: true,
    minDate:0,
    maxDate: new Date(2020, 12, 30),
    // Formato de la fecha
    dateFormat: "dd/mm/yy",
    // Primer dia de la semana El lunes
    firstDay: 1,
    // Dias Largo en castellano
    dayNames: [ "Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado" ],
    // Dias cortos en castellano
    dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],
    // Nombres largos de los meses en castellano
    monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ],
    // Nombres de los meses en formato corto
    monthNamesShort: [ "Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dec" ],
    // Cuando seleccionamos la fecha esta se pone en el campo Input
    onSelect: function(dateText) {
          $('#fecha').val(dateText);
      }
   });
  });
 </script>
{% endblock %}
