{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block barra %}
  <ul class="sidebar sidebar-1">
    <font size="2">
		<li><a class="current"><font color="white">Cajero</font> </a></li>
		<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false"aria-controls="collapseSeven" onclick='mostrarSubmenu("sin_submenu")'>Registrar pago</a></li>
		<li><a data-toggle="collapse" data-parent="#accordion" href="#" aria-expanded="false" aria-controls="#" onclick='mostrarSubmenu("sin_submenu")'>Listar tramites</a></li>
	</font>
  </ul>
{% endblock %}

{% block contenido %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
    <div class="panel">
        <div class="panel-heading box" role="tab" id="headingSeven">
	        <h5 class="panel-title">
			    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
				    <font color="#ffffff" size="2">Registrar pago</font>
			    </a>
		    </h5>
        </div>
	    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
		    <div class="panel-body">
			    <div class="container-fluid">
				    <div class="row">
					    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							    {% crispy ctxpago %}
						    </div>
						    <div id="boton_pago" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
							    <button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario">
								    Limpiar
							    </button>
						    </div>
					    </div>
				    </div>
			    </div>
		    </div>
	    </div>
    </div>
</div>
{% endblock %}
