{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block barra %}
    <ul class="sidebar sidebar-1">
        <font size="2">
            <li><a class="current"><font color="white">Cajero</font> </a></li>    
        </font>
      </ul>
{% endblock %}

{% block contenido %}
    {%crispy ctxpago %}
    <form method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div id="tipoPago" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        </div>
        <div id="valor" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        </div>
        <div id="cant_cuotas" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        </div>
        <div id="tramite" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        </div>
        <div id="cuota" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        </div>
        <div id="boton_de_pago" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
            <button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario">
                Limpiar
            </button>
        </div>
        <br>
    </form>
{% endblock %}