{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block barra %}
    <ul class="sidebar sidebar-1">
        <font size="2">
            <li><a class="current"><font color="white">Cajero</font> </a></li>    
        </font>
      </ul>
{% endblock %}

{% block contenido_elegir_financiacion %}
    
        <div class="panel">
            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
                                    <div class="form-group">
                                        <label> Monto a abonar:</label>
                                        <span class="label label-primary"> ------------------------- </span>
                                    </div>
                                </div>						    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
{% endblock %}