{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}
{%block comprobante %}
<div class="container-fluid">
    <div id="printReady">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
            <div class="row" style="background:white;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div style="background-color:#2c3e50;">
                          <img src="/media/imagenes/Escudobanner.png"
                               class="img-responsive" alt="Imagen responsive" width="100" height="100"/>
                    </div>
                       <div align="justify" style="font-size:9px; text-align:left;">
                      <br>  &nbsp; MUNICIPALIDAD DE TRELEW
                      <br>
                      &nbsp; Rivadavia 390 <br>
                      &nbsp; 9100 TRELEW- Provincia del Chubut
                       </div>
                      <h3 align="center">
                          RESUMEN DE PAGO &nbsp;  &nbsp;
                      </h3>
                      <hr>
                    <div class="row" style="color:black;">
                        <label style="color:black;">&nbsp;Tramite:{{tramite.id}}</label>&nbsp;&nbsp;
                        <label style="color:black;">Cantidad de cuotas:{{pago.cantidadCuotas}}</label>
                                    <hr>
                                   <div class="row">
                                       <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                            <label style="color:black;" > &nbsp; Titular: <br> &nbsp; Apellido - Nombre : {{ tramite.propietario.persona.apellido}}  -  {{ tramite.propietario.persona.nombre }}</label>
                            <label style="color:black;">  &nbsp;  &nbsp;DNI : {{tramite.propietario.persona.dni}}</label>
                                       </div>
                                                                              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">

                                       <label style="color:black;">Profesional : </label><br>
                                        <label style="color:black;"> {{tramite.profesion}} {{tramite.profesional}}</label>
                                        <label style="color:black;">M.P: {{tramite.profesional.matricula}}</label><br>
                                                                              </div>
                                        <br>
                                </div>
                                    <hr>
                                    <!--<label>Obra:</label><br>-->
                                       <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">

                                    <label style="color:black;"> Domicilio : {{tramite.domicilio}}</label><br>

                                                    <label style="color:black;">Tipo de Obra : {{ tramite.tipo_obra }}</label><br>

                                       </div>
                                                                           <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">

                <label style="color:black;">  Sector:  {{tramite.sector}}</label><br>
                <label style="color:black;">Parcela: {{tramite.parcela}}</label> <br>
                <label style="color:black;">Circunscripción: {{tramite.circunscripcion}}</label> <br>
                <label style="color:black;">Manzana: {{tramite.manzana}}</label> <br>
                                                                           </div>
                    </div>
                                    <hr>
<br>
                <div class="table-responsive">
                    <table align="center" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                        <th p style="color:#FFFFFF"bgcolor="#2c3e50">Fecha de vencimiento</th>
                                        <th p style="color:#FFFFFF"bgcolor="#2c3e50">Numero de Cuota</th>
                                        <th p style="color:#FFFFFF"bgcolor="#2c3e50">Importe</th>
                                        <th p style="color:#FFFFFF"bgcolor="#2c3e50">Fecha de pago</th>

                                        <th p style="color:#FFFFFF"bgcolor="#2c3e50">Tipo de Pago</th>

                            </tr>
                        </thead>
                                 {%for c in cuotas %}

                        <tbody style="text-align:center">
                            <tr>
                                <td>{{ c.fechaVencimiento }}</td>
                                        <td>{{ c.numeroCuota }}</td>
                                       <td>{{ c.monto }} </td>
                                       <td>{{ c.fechaPago }} </td>

                                        <td>{{ pago.tipoPago.nombre }} </td>
                            </tr>
                        </tbody>
                                                           {%endfor%}

                    </table>


                </div>
                <hr>
                    <h4 align="right">Total pagado: {{tramite.monto_pagado}}</h4>
                    <h4 align="right">Total a pagar: {{tramite.monto_a_pagar}}</h4>
                    <label style="color:black;" align="center">&nbsp; ESTE RECIBO ES CONSTANCIA DE PAGO </label>

            </div>
        </div>
    </div>

    <div class="container-fluid " id="botones_cajero">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" align="right">
           <button type="button" class="btn btn-primary btn-md" onclick="printDiv('printReady')">Imprimir</button>

        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <form action='/persona/cajero'>
            &nbsp;<Button class="btn btn-primary btn-md" type="submit" value="Atras">Volver</Button>
            </form>
        </div>
    </div>
</div>
</div>
<style>
    body{
        background:radial-gradient(circle at 1.98% 14.97%,#6699CC, transparent 100%),
        radial-gradient(circle at 98.02% 52.96%, #66CCFF, transparent 100%),
        radial-gradient(circle at 50% 50%, #66CCFF,#66CCFF 100%);
    }
    th{
        background-color:#2c3e50;
        color:white;
    }
         .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_length, .dataTables_filter, .dataTables_info,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
          display: none !important;
       }
    hr{
      border-block-color:black;
    }
</style>
<script>
    function printDiv(div) {
    // Create and insert new print section

    var elem = document.getElementById(div);
    var domClone = elem.cloneNode(true);
    var $printSection = document.createElement("div");
    $printSection.id = "printSection";
    $printSection.appendChild(domClone);
    $('head').append('<style> #botones_cajero,#noImprimir,select{ display:none;} .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate label{display: none;} .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{display: none;} .dataTables_wrapper .dataTables_paginate .paginate_button{display: none!important;}</style>');
    //document.body.insertBefore($printSection, document.body.firstChild);

    window.print();

    // Clean up print section for future use
    var oldElem = document.getElementById("printSection");
    if (oldElem != null) { oldElem.parentNode.removeChild(oldElem); }
                          //oldElem.remove() not supported by IE

    return true;
}

</script>

{%endblock%}
