{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block barra %}
    <ul class="sidebar sidebar-1">
        <font size="2">
            <li><a class="current"><font color="white">Financiacion</font> </a></li>
        </font>
      </ul>
{% endblock %}

{% block contenido %}
{% block listado_comprobantes %}

<div class="table-responsive">

        <table class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>FechaVencimiento</th>
                    <th>Monto</th>
                    <th>Numero de Cuota</th>
                    <th>Fecha de Pago</th>
                    <th>Mostrar Comprobante</th>
                </tr>
            </thead>
            <tbody>
                {% for cuota in cuotas %}
                    <tr>
                        <td class="col-xs-1">{{ cuota.id }}</td>
                        <td class="col-xs-3">{{ cuota.fechaVencimiento }}</td>
                        <td class="col-xs-3">{{ cuota.monto }}</td>
                        <td class="col-xs-3">{{ cuota.numeroCuota }}</td>
                        <td class="col-xs-3">{{ cuota.fechaPago }}</td>

                        <td>
                            <a  href="{% url 'comprobante_pago_cuota' cuota.id %}">
                                <button type="button"  class="btn btn-primary brn-xs" name="MostrarComprobante">
                                    <span class="glyphicon glyphicon-home" aria-hidden="true"> Generar Comprobante </span>
                                </button>
                            </a>
                        </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="col-xs-4 col-sm-4 col-md-12 col-lg-12">
            <br><form action='/persona/cajero'>
                &nbsp;<Button class="btn btn-primary btn-sm" type="submit" value="Atras">Atras</Button>
            </form><br>
        </div>
    </div>
{% endblock %}
{% endblock %}

