{% load staticfiles %}

{% block registrar_cuota %}
<div class="table-responsive">

        <table class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>FechaVencimiento</th>
                    <th>Monto</th>
                    <th>Numero de Cuota</th>
                    <th>Registrar Pago</th>
                </tr>
            </thead>
            <tbody>
                {% for cuotas in cuota %}
                    <tr>
                        <td class="col-xs-1">{{ cuotas.id }}</td>
                        <td class="col-xs-3">{{ cuotas.fechaVencimiento }}</td>
                        <td class="col-xs-3">{{ cuotas.monto }}</td>
                        <td class="col-xs-3">{{ cuotas.numeroCuota }}</td>

                        <td>
                            <a href="{% url 'actualizar_cuota' cuotas.id %}">
                                <button type="button" class="btn btn-primary brn-xs" name="RegistrarPago">
                                    <span class="glyphicon glyphicon-home" aria-hidden="true"> Generar Comprobante </span>
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}

