{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block barra %}
<ul class="sidebar sidebar-1">
    <font size="2">
        <li><a href="{%url 'cajero'%}" class="current"><font color="white">Cajero</font> </a></li>
    </font>
</ul>
{% endblock %}

{% block contenido %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
    <div class="panel">
        <div class="panel-heading box" role="tab" id="headingOne">
            <h5 class="panel-title">
                <font color="#ffffff" size="2">Registrar el Pago de la Cuota </font>
            </h5>
        </div>
        <div id="collapseFive" class="panel-collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
                <form method="post" action="">
                    <div class="container-fluid">
                        <div class="row" id="fila1">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                            <label>  Tramite : </label><br>
                                            <label> Numero de Tramite : {{ tramite.id }} </label>
                                            <br>
                                            <label>  Propietario  </label><br>
                                            <label> Apellido, Nombre : {{ tramite.propietario }}</label><br>
                                            <label>Dni : {{ tramite.propietario.persona.dni}}</label> <br>
                                            <br>
                                    </div>
                                    <div class="col-sm-6 col-md-6" >
                                        <label> Datos de la Obra : </label> <br>
                                        <label> Direccion : {{tramite.domicilio}}</label><br>
                                        <label> Sector : {{tramite.sector}} </label><br>
                                        <label>Tipo de Obra : {{ tramite.tipo_obra }}</label><br>
                                        <label>Medidas : {{ tramite.medidas }}</label><br>
                                        <br><br>
                                        <label>Total : $ {{tramite.monto_a_pagar}}</label><br>
                                        <label> Subtotal: <label> $ </label> <label id="subtotal"></label></label><br>
                                        <label> Numero de cuotas: {{tramite.pago.cantidadCuotas}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="{% url 'pagar_cuota' cuotas.id %}">
                        <button type="button" class="btn btn-primary brn-xs" name="pagar_cuota">
                            <span aria-hidden="true"> Pagar cuota </span>
                        </button>
                    </a>

                    <a href="javascript:history.back(-1);">
                        <button class="btn btn-primary btn-md " type="button" value="Atras">Volver</button>
                    </a>
                </form>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">
  $( document ).ready(function() {
    {% load l10n %}

    {% localize off %}
    var total= {{tramite.monto_a_pagar}}
    var cantCuotas= {{tramite.pago.cantidadCuotas}}
    {% endlocalize %}

        $("#subtotal").text((total/cantCuotas).toFixed(2))
    });
</script>
<style>

  .switch {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 17px;
  }

  /* Hide default HTML checkbox */
  .switch input {display:none;}

  /* The slider */
  .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
  }

  .slider:before {
      position: absolute;
      content: "";
      height: 13px;
      width: 13px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
  }

  input:checked + .slider {
      background-color: #2196F3;
  }

  input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
      -webkit-transform: translateX(13px);
      -ms-transform: translateX(13px);
      transform: translateX(13px);
  }

  /* Rounded sliders */
  .slider.round {
      border-radius: 17px;
  }

  .slider.round:before {
      border-radius: 50%;
  }
</style>
{% endblock %}
<!--    </tbody>
                        </table>
                        <br>
                       <!-- <div class="container-fluid " id="botones_cajero">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" align="right">
                                <button type="submit" onclick="return confirm('Desea registrar el pago de la/s cuota/s?')" class="btn btn-primary brn-xs" name="RegistrarPago">
                                    Aceptar
                                </button>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <a href="javascript:history.back(-1);">
                                    <button class="btn btn-primary btn-md " type="button" value="Atras">Volver</button>
                                </a>
                            </div>
                        </div>-->


<!--<a href="{% url 'registrar_pago_tramite' %}">-->
<!--<button type="button"  class="btn btn-primary brn-xs" name="RegistrarPago">-->
<!--Seleccionar-->
<!--</button>-->
<!--</a>-->
<!--<div class="container-fluid">
<div class="table-responsive">

        <table class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
            <thead>
                <tr>
                    <th>FechaVencimiento</th>
                    <th>Monto</th>
                    <th>Numero de Cuota</th>
                    <th>Registrar Pago</th>
                </tr>
            </thead>
            <tbody>
                {% for cuota in cuotas %}
                    <tr>
                        <td class="col-xs-3">{{ cuota.fechaVencimiento }}</td>
                        <td class="col-xs-3">{{ cuota.monto }}</td>
                        <td class="col-xs-3">{{ cuota.numeroCuota }}</td>
                        <td>
                            <a href="{ url 'elegir_cuota' cuota.id }">
                                <button type="button" onclick="return confirm('Desea registrar el pago de la cuota?')" class="btn btn-primary brn-xs" name="RegistrarPago">
                                    <span class="glyphicon glyphicon-home" aria-hidden="true"> Registrar Pago </span>
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    <div class="col-xs-4 col-sm-4 col-md-12 col-lg-12" style="float: right; width: 20%; margin-top: -20px; ">
        <br><form action='/persona/cajero'>
            &nbsp;<Button class="btn btn-primary btn-sm" type="submit" value="Atras">Atras</Button>
        </form><br>
    </div>
    </div>
</div>-->