{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}


{% block barra %}
	<ul class="sidebar sidebar-1">
		<font size="2">
			<li><a href="#" class="current"><font color="white">Director</font></a></li>
			<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" onclick='mostrarSubmenu("tareasUsuario"),opcionesUsuario("nada")'>Usuarios <span class="caret"></span></a></li>
				<ul class="sidebar sidebar-2" style="display:none;" id="tareasUsuario">
					<li><a href="#" onclick='opcionesUsuario("alta_usuario")'>Crear Usuario</a></li>
				</ul>
			<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onclick='mostrarSubmenu("tareasTramite"),opcionesDatosTramite("nada")'>Datos tramite <span class="caret"></span></a></li>
				<ul class="sidebar sidebar-2" style="display:none;" id="tareasTramite">
					<li><a href="#" onclick='opcionesDatosTramite("alta_tipo_documento")'>Crear tipo de documento</a></li>
					<li><a href="#" onclick='opcionesDatosTramite("alta_tipo_de_obra")'>Crear tipo de obra</a></li>
					<li><a href="#" onclick='opcionesDatosTramite("alta_tipo_de_pago")'>Crear tipo de pago</a></li>
				</ul>
			<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" onclick='mostrarSubmenu("tareasPlanillaVisado"),opcionesVisado("nada")'>Generar planilla visado <span class="caret"></span></a></li>
				<ul class="sidebar sidebar-2" style="display:none;" id="tareasPlanillaVisado">
					<li><a href="#" onclick='opcionesVisado("alta_fila")'>Crear fila visado</a></li>
					<li><a href="#" onclick='opcionesVisado("alta_columna")'>Crear columna visado</a></li>
					<li><a href="#" onclick='opcionesVisado("alta_item")'>Generar planilla visado</a></li>
					<li><a href="#" onclick='opcionesVisado("alta_elemento_balance")'>Crear elemento balance superficie</a></li>
					<li><a href="#" onclick='opcionesVisado("ver_planilla_visado")'>Ver planilla visado</a></li>
				</ul>
			<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" onclick='mostrarSubmenu("tareasPlanillaInspeccion"),opcionesInspeccion("nada")'>Generar planilla inspeccion <span class="caret"></span></a></li>
			<ul class="sidebar sidebar-2" style="display:none;" id="tareasPlanillaInspeccion">
					<li><a href="#" onclick='opcionesInspeccion("alta_categoria_inspeccion")'>Crear categoria inspeccion</a></li>
					<li><a href="#" onclick='opcionesInspeccion("alta_item_inspeccion")'>Crear item inspeccion</a></li>
					<li><a href="#" onclick='opcionesInspeccion("alta_detalle_item")'>Crear detalle inspeccion</a></li>
					<li><a href="#" onclick='opcionesInspeccion("generar_planilla_inspeccion")'>Ver planilla de inspeccion</a></li>
				</ul>
			<!--<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix" onclick='mostrarSubmenu("sin_submenu")'>Modificar mis datos personales</a></li>-->
			<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseFour" onclick='mostrarSubmenu("consultasInformes")'>Consultas e Informes <span class="caret"></span></a></li>
				<ul class="sidebar sidebar-2" style="display:none;" id="consultasInformes">
					<!--<li><a href="vista_de_tramites">Tramites en curso</a></li>-->
					<li><a href="vista_de_todos_tramites">Listado de todos los tramites del sistema</a></li>
					<!--<li><a href="listado_de_usuarios_segun_grupo">Listado de los usuarios del sistema</a></li>-->
					<li><a href="categorias_mas_frecuentes">categorias mas frecuentes</a></li>
					<li><a href="tipos_de_obras_mas_frecuentes">tipos de obras mas frecuentes</a></li>
					<li><a href="profesionales_mas_requeridos">Ver profesionales mas requeridos</a></li>
					<!-- <li><a href="materiales_mas_usados">Ver materiales mas utilizados</a></li> -->
					<li><a href="ver_barra_materiales">Ver materiales mas usados</a></li>
					<li><a href="ver_filtro_obra_fechas">Ver tipos de obras segun fecha</a></li>
					<li><a href="ver_sectores_con_mas_obras">Ver sectores con mas obras</a></li>
					<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseTwo" onclick='mostrarSubmenu("tareasTramite"),opcionesDatosTramite("nada")'>Inspecciones anuales </a></li>
				</ul>
			<!--<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseTwo" onclick='mostrarSubmenu("tareasTramite"),opcionesDatosTramite("nada")'>Inspecciones anuales </a></li>-->
		</font>
	</ul>
{% endblock %}

{% block contenido %}
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
		<div class="panel">
			<div class="panel-heading box" role="tab" id="headingFive">
				<h5 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" onclick='mostrarSubmenu("tareasUsuario")'>
			  			<font color="#ffffff" size="2">Usuarios</font>
					</a>
		  		</h5>
			</div>
			<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
		  		<div class="panel-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
									<select class="form-control input-sm" id="opcionesDelUsuario" name="Opciones de usuario" onChange="opcionesUsuario(this.value);">
										<option selected value="nada"> ¿Que desea hacer? </option>
										<option value="alta_usuario">Crear Usuario</option>
									</select>
								</div>
							</div>
						</div>
					</div>
			  		<div class="container-fluid" id="alta_usuario" style="display: none;">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<hr>
								<div style="display:none">
									{% block alta_administrativo %}
										{% crispy usuario_persona_form %}
									{% endblock %}
								</div>
								<form method="post" enctype="multipart/form-data"> {% csrf_token %}
									<div id="persona_administrativo" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
									</div>
									<div id="profesional_administrativo" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
									</div>
									<div id="usuario_administrativo" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
									</div>
									<div id="boton_administrativo" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
										<button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario">
											Limpiar
										</button>
									</div>
									<br>
								</form>
							</div>
						</div>
			  		</div>
				</div>
			</div>
		</div>
	<div class="panel">
		<div class="panel-heading box" role="tab" id="headingTwo">
			<h5 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onclick='mostrarSubmenu("tareasTramite")'>
			  		<font color="#ffffff" size="2">Datos Trámite</font>
				</a>
		  	</h5>
		</div>
		<div id="collapseTwo" class="panel-collapse
			{% if submit_name != 'tipo_documento_submit' and submit_name != 'tipo_obra_submit' %}collapse{% endif %}
			" role="tabpanel" aria-labelledby="headingTwo">
			<div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
								<select class="form-control input-sm" id="opcionesDelTramite" name="Opciones de Datos del tramite" onChange="opcionesDatosTramite(this.value);">
									<option selected value="nada"> ¿Que desea hacer? </option>
									<option value="alta_tipo_documento">Crear tipo de documento</option>
									<option value="alta_tipo_de_obra">Crear tipo de obra</option>
									<option value="alta_tipo_de_pago">Crear tipo de pago</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="container-fluid" id="alta_tipo_documento" {% if submit_name != 'tipo_documento_submit' %}class="hide"{% endif %} style="display: none;">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<hr>
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="display:none">
								{% block alta_tipo_documento %}
									{% crispy tipo_documento_form %}
								{% endblock %}
							</div>
							<form method="post" enctype="multipart/form-data"> {% csrf_token %}
								<div id="tipo" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
								</div>
								<div id="requerido_para" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
								</div>
								<div id="boton_tipo" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
									<button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario">
										Limpiar
									</button>
								</div>
								<br>
							</form>
						</div>
					</div>
				</div>
				<div class="container-fluid" id="alta_tipo_de_obra" style="display: none;">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<hr>
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="display:none">
								{% block alta_tipo_de_obra %}
									{% crispy tipo_obra_form %}
								{% endblock %}
							</div>
							<form method="post" enctype="multipart/form-data"> {% csrf_token %}
								<div id="nombre_tipo_obra" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
								</div>
								<div id="desc_tipo_obra" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
								</div>
								<div id="categoria_tipo_obra" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
								</div>
								<div id="boton_tipo_obra" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
									<button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario">
										Limpiar
									</button>
								</div>
								<br>
							</form>
						</div>
					</div>
				</div>
				<div class="container-fluid" id="alta_tipo_de_pago" {% if submit_name != 'tipo_de_pago_submit' %}class="hide"{% endif %} style="display: none;">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<hr>
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="display:none" >
								{% block alta_tipo_de_pago %}
									{% crispy tipo_pago_form %}
								{% endblock %}
							</div>
							<form method="post" enctype="multipart/form-data"> {% csrf_token %}
									<div id="nombre_tipo_pago" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
								</div>
								<div id="boton_tipo_pago" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
									<button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario">
										Limpiar
									</button>
								</div>
								<br>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel">
		<div class="panel-heading box" role="tab" id="headingThree">
			<h5 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="colapseThree" onclick='mostrarSubmenu("tareasPlanillaVisado")'>
					<font color="#fffff" size="2">Planilla de visado</font>
				</a>
			</h5>
		</div>
		<div id="collapseThree" class="panel-collapse {% if submit_name != 'fila_visado_submit' and submit_name != 'columna_visado_submit and submit_name != item_visado_submit and submit_name != elemento_balance_submit' %}collapse{% endif %}
			" role="tabpanel" aria-labelledby="headingThree">
			<div class="panel-body">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
								<select class="form-control input-sm" id="opcionesVisado" name="Opciones para planilla visado" onchange="opcionesVisado(this.value)">
									<option selected value="nada">¿Que desea hacer?</option>
									<option value="alta_fila">Crear fila visado</option>
									<option value="alta_columna">Crear columna visado</option>
									<option value="alta_item">Generar planilla visado</option>
									<option value="alta_elemento_balance">Crear elemento balance superficie</option>
									<option value="ver_planilla_visado">Ver planilla visado</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid" id="alta_fila" {% if submit_name != 'fila_visado_submit' %} class="hide"{% endif %} style="display:none;">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					{% block alta_fila %}
						{% crispy fila_visado_form %}
					{% endblock %}
				</div>
				<form method="post" enctype="multipart/form-data"> {% csrf_token %}
					<div id="nombre_fila" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					</div>
					<div id="boton_fila" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
						<button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario">
							Limpiar
						</button>
					</div>
				</form>
			</div>
		</div>
		<div class="container-fluid" id="alta_columna" {% if submit_name != 'columna_visado_submit' %} class="hide"{% endif %} style="display:none;">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					{% block alta_columna %}
						{% crispy columna_visado_form %}
					{% endblock %}
				</div>
				<form method="post" enctype="multipart/form-data"> {% csrf_token %}
					<div id="nombre_columna" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					</div>
					<div id="boton_columna" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
						<button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario">
							Limpiar
						</button>
					</div>
				</form>
			</div>
		</div>
		<div class="container-fluid" id="alta_item" {% if submit_name != 'item_visado_submit' %} class="hide"{% endif %} style="display:none;">
			<div class="row">
				{% block alta_item %}
					{% crispy planilla_de_visado_form %}
				{% endblock %}
			</div>
		</div>
		<div class="container-fluid" id="alta_elemento_balance" {% if submit_name != 'elemento_balance_submit' %} class="hide"{% endif %} style="display:none;">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<hr>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="display:none">
						{% block alta_elemento_balance %}
							{% crispy elemento_balance_form %}
						{% endblock %}
					</div>
					<form method="post" enctype="multipart/form-data"> {% csrf_token %}
						<div id="nombre_elemento_balance" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						</div>
						<div id="desc_elemento_balance" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						</div>
						<div id="boton_elemento_balance" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
							<button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario">
								Limpiar
							</button>
						</div>
						<br>
					</form>
				</div>
			</div>
		</div>
		<div class="container-fluid" id="ver_planilla_visado" style="display:none;">
			<div class="row">
				{% block ver_planilla_visado %}
					{% include "persona/director/listado_planilla_visado.html" with filas=filas columnas=columnas itemsVisados=itemsVisados balancesSuperficies=balancesSuperficies %}
				{% endblock %}
			</div>
		</div>
	</div>

	<div class="panel">
		<div class="panel-heading box" role="tab" id="headingSeven">
			<h5 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="colapseSeven" onclick='mostrarSubmenu("tareasPlanillaInspeccion")'>
					<font color="#fffff" size="2">Planilla de inspeccion</font>
				</a>
			</h5>
		</div>
		<div id="collapseSeven" class="panel-collapse {% if submit_name != 'cat_inspeccion_submit' and submit_name != 'item_inspeccion_submit' and submit_name != 'detalle_item_inspeccion_submit' and submit_name != 'doc_tecnico_inspeccion_submit' %}collapse{% endif %}
			" role="tabpanel" aria-labelledby="headingSeven">
			<div class="panel-body">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
								<select class="form-control input-sm" id="opcionesInspeccion" name="Opciones para planilla inspeccion" onchange="opcionesInspeccion(this.value)">
									<option selected value="nada">¿Que desea hacer?</option>
									<option value="alta_categoria_inspeccion">Crear categoria inspeccion</option>
									<option value="alta_item_inspeccion">Crear item inspeccion</option>
									<option value="alta_detalle_item">Crear detalle inspeccion</option>
									<option value="generar_planilla_inspeccion">Ver planilla de inspeccion</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid" id="alta_categoria_inspeccion" {% if submit_name != 'cat_inspeccion_submit' %} class="hide"{% endif %} style="display:none;">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<hr>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="display:none">
						{% block alta_categoria_inspeccion %}
							{% crispy cat_inspeccion_form %}
						{% endblock %}
					</div>
					<form method="post" enctype="multipart/form-data"> {% csrf_token %}
						<div id="nombre_cat_inspeccion" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						</div>
						<div id="desc_cat_inspeccion" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						</div>
						<div id="tipo_cat_inspeccion" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						</div>
						<div id="boton_cat_inspeccion" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
							<button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario">
								Limpiar
							</button>
						</div>
						<br>
					</form>
				</div>
			</div>
		</div>
		<div class="container-fluid" id="alta_item_inspeccion" {% if submit_name != 'item_inspeccion_submit' %} class="hide"{% endif %} style="display:none;">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<hr>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="display:none">
						{% block alta_item_inspeccion %}
							{% crispy item_inspeccion_form %}
						{% endblock %}
					</div>
					<form method="post" enctype="multipart/form-data"> {% csrf_token %}
						<div id="nombre_item_inspeccion" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						</div>
						<div id="cat_inspeccion" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						</div>
						<div id="boton_item_inspeccion" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
							<button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario">
								Limpiar
							</button>
						</div>
						<br>
					</form>
				</div>
			</div>
		</div>
		<div class="container-fluid" id="alta_detalle_item" {% if submit_name != 'detalle_item_inspeccion_submit' %} class="hide"{% endif %} style="display:none;">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<hr>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="display:none">
						{% block alta_detalle_item %}
							{% crispy detalle_item_inspeccion_form %}
						{% endblock %}
					</div>
					<form method="post" enctype="multipart/form-data"> {% csrf_token %}
						<div id="item_detalle_inspeccion" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						</div>
						<div id="cat_detalle" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						</div>
						<div id="nombre_detalle_item" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						</div>
						<div id="boton_detalle_inspeccion" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
							<button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario">
								Limpiar
							</button>
						</div>
						<br>
					</form>
				</div>
			</div>
		</div>
		<div class="container-fluid" id="generar_planilla_inspeccion" style="display:none;">
			<div class="row">
				{% block generar_planilla_inspeccion %}
					{% include "persona/director/ver_planilla_inspeccion.html" with items=items filas=filas detalles=detalles%}
				{% endblock %}
			</div>
		</div>

	</div>

<div class="panel">
        <div class="panel-heading box" role="tab" id="headingSix">
            <h5 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix"
                   aria-expanded="false" aria-controls="colapseSix"
                   onclick='mostrarSubmenu("tareasPlanillaInspeccion")'>
                    <font color="#fffff" size="2">Inspecciones anuales</font>
                </a>
            </h5>
        </div>
        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        {% block contenido_inspecciones_realizadas_durante_el_anio %}
                                        {% include "persona/director/inspecciones_realizadas_durante_el_anio.html" with tramites=ctxtramites_anuales.tramites %}
                                        {% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--	<div class="panel">
		<div class="panel-heading box" role="tab" id="headingOne">
			<h5 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" onclick='mostrarSubmenu("tareasInformes")'>
			  		<font color="#ffffff" size="2">Informes y Estadisticas</font>
				</a>
		  	</h5>
		</div>
		<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			<div class="panel-body">		
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
							<select class="form-control input-sm" id="opcionesInformes" name="Opciones de Informes" onchange="opcionesInformes(this.value)">
								<option selected value="nada">&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>
								<option value="alta_columna">Categoria mas frecuente</option>
								<option value="alta_columna">Tipos de obras mas frecuentes</option>
								<option value="alta_columna">Profesionales mas requeridos</option>
								<option value="alta_columna">Materiales mas utilizados</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		&lt;!&ndash; aca irian los submenus &ndash;&gt;
		<div class="container-fluid" id="ver_categorias_mas_frecuentes" style="display:none;">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">					
				</div>
			</div>
		</div>
		&lt;!&ndash; uno por cada submenu&ndash;&gt;
	</div>-->
</div>

{% endblock %}


{% block scripts %}

	<script type="text/javascript">
	(function(){
		$(".datepicker").datepicker({
				changeDay: true,
				changeMonth: true,
				changeYear: true,
				yearRange: "1990:2030",
				dateFormat: 'dd/mm/yy'
		});
	})();
	</script>

	<script>
		$("#perfil").fileinput({
			showCaption: false,
			browseClass: "btn btn-primary btn-sm",
			fileType: "any",
			maxFileCount: 1,
			browseLabel: 'Cargar nueva foto de perfil',
			showUpload: false,
			showRemove: false
		});
	</script>

	<script type="text/javascript">
		function opcionesGrupo(id) {
			if (id == "nada") {
				$("#alta_grupo").hide();
				$("#baja_grupo").hide();
				$("#modificar_grupo").hide();
				$("#" + "opcionesDelGrupo").val('nada');
			}
			if (id == "alta_grupo") {
				$("#alta_grupo").show();
				$("#baja_grupo").hide();
				$("#modificar_grupo").hide();
				//esto es por si dejo los submenu
				$("#" + "opcionesDelGrupo").val('alta_grupo');
			}
			if (id == "baja_grupo") {
				$("#alta_grupo").hide();
				$("#modificar_grupo").hide();
				$("#baja_grupo").show();
				//esto es por si dejo los submenu
				$("#" + "opcionesDelGrupo").val('baja_grupo');
			}
			if (id == "modificar_grupo") {
				$("#alta_grupo").hide();
				$("#modificar_grupo").show();
				$("#baja_grupo").hide();
				//esto es por si dejo los submenu
				$("#" + "opcionesDelGrupo").val('modificar_grupo');
			}
		}

		function opcionesUsuario(id) {
			if (id == "nada") {
				$("#alta_usuario").hide();
				$("#modificar_usuario_grupo").hide();
				$("#" + "opcionesDelUsuario").val('nada');
			}
			if (id == "alta_usuario"){
				$("#alta_usuario").show();
				$("#modificar_usuario_grupo").hide();
				$("#" + "opcionesDelUsuario").val('alta_usuario');
			}
			if (id == "modificar_usuario_grupo") {
				$("#alta_usuario").hide();
				$("#modificar_usuario_grupo").show();
				//esto es por si dejo los submenu
				$("#" + "opcionesDelUsuario").val('modificar_usuario_grupo');
			}

		}

		function opcionesDatosTramite(id) {
				if (id == "nada") {
					$("#alta_tipo_documento").hide();
					$("#alta_tipo_de_obra").hide();
					$("#alta_tipo_de_pago").hide();
					$("#" + "opcionesDelTramite").val('nada');
				}
				if (id == "alta_tipo_documento") {
					$("#alta_tipo_documento").show();
					$("#alta_tipo_de_obra").hide();
					$("#alta_tipo_de_pago").hide();
					//esto es por si dejo los submenu
					$("#" + "opcionesDelTramite").val('alta_tipo_documento');
				}
				if (id == "alta_tipo_de_obra") {
					$("#alta_tipo_documento").hide();
					$("#alta_tipo_de_obra").show();
					$("#alta_tipo_de_pago").hide();
					//esto es por si dejo los submenu
					$("#" + "opcionesDelTramite").val('alta_tipo_de_obra');
				}
				if (id == "alta_tipo_de_pago") {
					$("#alta_tipo_documento").hide();
					$("#alta_tipo_de_obra").hide();
					$("#alta_tipo_de_pago").show();
					//esto es por si dejo los submenu
					$("#" + "opcionesDelTramite").val('alta_tipo_de_pago');
				}
		}

		function opcionesVisado(id){
			if (id == "nada"){
				$("#alta_fila").hide();
				$("#alta_columna").hide();
				$("#alta_item").hide();
				$("#alta_elemento_balance").hide();
				$("#ver_planilla_visado").hide();
				$("#"+"opcionesVisado").val('nada');
			}
			if (id == "alta_fila"){
				$("#alta_fila").show();
				$("#alta_columna").hide();
				$("#alta_item").hide();
				$("#alta_elemento_balance").hide();
				$("#ver_planilla_visado").hide();
				$("#"+"opcionesVisado").val('alta_fila');
			}
			if (id == "alta_columna"){
				$("#alta_fila").hide();
				$("#alta_columna").show();
				$("#alta_item").hide();
				$("#alta_elemento_balance").hide();
				$("#ver_planilla_visado").hide();
				$("#"+"opcionesVisado").val('alta_columna');
			}
			if (id == "alta_item"){
				$("#alta_fila").hide();
				$("#alta_columna").hide();
				$("#alta_item").show();
				$("#alta_elemento_balance").hide();
				$("#ver_planilla_visado").hide();
				$("#"+"opcionesVisado").val('alta_item');
			}
			if (id == "alta_elemento_balance"){
				$("#alta_fila").hide();
				$("#alta_columna").hide();
				$("#alta_item").hide();
				$("#alta_elemento_balance").show();
				$("#ver_planilla_visado").hide();
				$("#"+"opcionesVisado").val('alta_elemento_balance');
			}
			if (id == "ver_planilla_visado"){
				$("#alta_fila").hide();
				$("#alta_columna").hide();
				$("#alta_item").hide();
				$("#alta_elemento_balance").hide();
				$("#ver_planilla_visado").show();
				$("#"+"opcionesVisado").val('ver_planilla_visado');
			}
		}

		function opcionesInspeccion(id){
			if (id == "nada"){
				$("#alta_categoria_inspeccion").hide();
				$("#alta_item_inspeccion").hide();
				$("#alta_detalle_item").hide();
				$("#generar_planilla_inspeccion").hide();
				$("#"+"opcionesInspeccion").val('nada');
			}
			if (id == "alta_categoria_inspeccion"){
				$("#alta_categoria_inspeccion").show();
				$("#alta_item_inspeccion").hide();
				$("#alta_detalle_item").hide();
				$("#generar_planilla_inspeccion").hide();
				$("#"+"opcionesInspeccion").val('alta_categoria_inspeccion');
			}
			if (id == "alta_item_inspeccion"){
				$("#alta_categoria_inspeccion").hide();
				$("#alta_item_inspeccion").show();
				$("#alta_detalle_item").hide();
				$("#generar_planilla_inspeccion").hide();
				$("#"+"opcionesInspeccion").val('alta_item_inspeccion');
			}
			if (id == "alta_detalle_item"){
				$("#alta_categoria_inspeccion").hide();
				$("#alta_item_inspeccion").hide();
				$("#alta_detalle_item").show();
				$("#generar_planilla_inspeccion").hide();
				$("#"+"opcionesInspeccion").val('alta_detalle_item');
			}
			if (id == "generar_planilla_inspeccion"){
				$("#alta_categoria_inspeccion").hide();
				$("#alta_item_inspeccion").hide();
				$("#alta_detalle_item").hide();
				$("#generar_planilla_inspeccion").show();
				$("#"+"opcionesInspeccion").val('generar_planilla_inspeccion');
			}

		}

		function opcionesInformes(id){
			if (id == "nada"){
				$("#alta_categoria_inspeccion").hide();
				$("#alta_item_inspeccion").hide();
				$("#alta_detalle_item").hide();
				$("#generar_planilla_inspeccion").hide();
				$("#"+"opcionesInspeccion").val('nada');
			}
			if (id == "alta_categoria_inspeccion"){
				$("#alta_categoria_inspeccion").show();
				$("#alta_item_inspeccion").hide();
				$("#alta_detalle_item").hide();
				$("#generar_planilla_inspeccion").hide();
				$("#"+"opcionesInspeccion").val('alta_categoria_inspeccion');
			}
			if (id == "alta_item_inspeccion"){
				$("#alta_categoria_inspeccion").hide();
				$("#alta_item_inspeccion").show();
				$("#alta_detalle_item").hide();
				$("#generar_planilla_inspeccion").hide();
				$("#"+"opcionesInspeccion").val('alta_item_inspeccion');
			}
			if (id == "alta_detalle_item"){
				$("#alta_categoria_inspeccion").hide();
				$("#alta_item_inspeccion").hide();
				$("#alta_detalle_item").show();
				$("#generar_planilla_inspeccion").hide();
				$("#"+"opcionesInspeccion").val('alta_detalle_item');
			}
			if (id == "generar_planilla_inspeccion"){
				$("#alta_categoria_inspeccion").hide();
				$("#alta_item_inspeccion").hide();
				$("#alta_detalle_item").hide();
				$("#generar_planilla_inspeccion").show();
				$("#"+"opcionesInspeccion").val('generar_planilla_inspeccion');
			}
		}
	</script>

	<script type="text/javascript">
		function mostrarSubmenu(subformulario)
		{
			if(subformulario=="sin_submenu"){
				$('.' + "sidebar-2").hide();
			}
			else{
				var idSubformulario=document.getElementById(subformulario).id;
				if($('#' + idSubformulario).is(':hidden')){
					$('.' + "sidebar-2").hide();
					$('#' + idSubformulario).show();
				}else{
					$('#' + idSubformulario).hide();
				}
			}
		}
	</script>

	<script>

		$('#div_id_dni').appendTo('#persona_administrativo');
		$('#div_id_nombre').appendTo('#persona_administrativo');
		$('#div_id_apellido').appendTo('#persona_administrativo');
		$('#div_id_telefono').appendTo('#persona_administrativo');
		$('#div_id_domicilio').appendTo('#profesional_administrativo');
		$('#div_id_cuil').appendTo('#profesional_administrativo');
		$('#div_id_mail').appendTo('#profesional_administrativo');
		$('#div_id_matricula').appendTo('#profesional_administrativo');
		$('#div_id_usuario').appendTo('#usuario_administrativo');
		$('#div_id_password').appendTo('#usuario_administrativo');
		$('#div_id_grupo').appendTo('#usuario_administrativo')
		$('#submit-id-usuario_persona_submit').appendTo('#boton_administrativo');

		$('#id_password').removeAttr("type");
		$('#id_password').attr("type","password");

		$('.selectmultiple').attr( "size", "6" );
		$('.selectmultiple').append($('<option>',{value:0, text:'Seleccione un grupo'}));
		$('.selectmultiple > option[value="0"]').attr('selected', 'selected');

		var selectList = $('#id_grupo option');
		selectList.sort(function(a,b){
			a = a.value;
			b = b.value;
			return a-b;
		});
		$('#id_grupo').html(selectList);

		$('#alta_tipo_documento #div_id_nombre').appendTo('#tipo')
		$('#alta_tipo_documento #div_id_descripcion').appendTo('#tipo')

		$('#div_id_fecha_alta').appendTo('#tipo')
		$('#div_id_activo').appendTo('#tipo')
		$('#div_id_requerido').appendTo('#requerido_para')
		$('#submit-id-tipo_documento_submit').appendTo('#boton_tipo')

		$('#alta_tipo_de_obra #div_id_nombre').appendTo('#nombre_tipo_obra')
		$('#alta_tipo_de_obra #div_id_descripcion').appendTo('#desc_tipo_obra')
		$('#alta_tipo_de_obra #div_id_categorias').appendTo('#categoria_tipo_obra')
		$('#submit-id-tipo_obra_submit').appendTo('#boton_tipo_obra')

		$('#alta_tipo_de_pago #div_id_nombre').appendTo('#nombre_tipo_pago')
		$('#submit-id-tipo_de_pago_submit').appendTo('#boton_tipo_pago')

		$('#alta_fila #div_id_nombre').appendTo('#nombre_fila')
		$('#submit-id-fila_visado_submit').appendTo('#boton_fila')

		$('#alta_columna #div_id_nombre').appendTo('#nombre_columna')
		$('#submit-id-columna_visado_submit').appendTo('#boton_columna')

		$('#alta_elemento_balance #div_id_nombre').appendTo('#nombre_elemento_balance')
		$('#alta_elemento_balance #div_id_descripcion').appendTo('#desc_elemento_balance')
		$('#submit-id-elemento_balance_submit').appendTo('#boton_elemento_balance')

		$('#alta_categoria_inspeccion #div_id_nombre').appendTo('#nombre_cat_inspeccion')
		$('#alta_categoria_inspeccion #div_id_descripcion').appendTo('#desc_cat_inspeccion')
		$('#alta_categoria_inspeccion #div_id_tipo').appendTo('#tipo_cat_inspeccion')
		$('#submit-id-cat_inspeccion_submit').appendTo('#boton_cat_inspeccion')

		$('#alta_item_inspeccion #div_id_nombre').appendTo('#nombre_item_inspeccion')
		$('#alta_item_inspeccion #div_id_categorias').appendTo('#cat_inspeccion')
		$('#submit-id-item_inspeccion_submit').appendTo('#boton_item_inspeccion')

		$('#alta_detalle_item #div_id_item_inspeccion').appendTo('#item_detalle_inspeccion')
		$('#alta_detalle_item #div_id_categoria_inspeccion').appendTo('#cat_detalle')
		$('#alta_detalle_item #div_id_nombre').appendTo('#nombre_detalle_item')
		$('#submit-id-detalle_item_inspeccion_submit').appendTo('#boton_detalle_inspeccion')

		$('#alta_doc_inspeccion #div_id_nombre').appendTo('#nombre_doc_inspeccion')
		$('#alta_doc_inspeccion #div_id_descripcion').appendTo('#descripcion_doc')
		$('#alta_doc_inspeccion #div_id_detalles').appendTo('#detalle_doc')
		$('#submit-id-doc_tecnico_inspeccion_submit').appendTo('#boton_doc_inspeccion')

	</script>

	<script type="text/javascript">
		function cargarpermisosSeleccionados(objeto,selectUsado)
		{
			var indexSelect=document.getElementById(objeto.id).selectedIndex;
			var idUsado=document.getElementById(selectUsado);
			idUsado.options[idUsado.options.length]=new Option(($("#"+objeto.id+" option:selected").text()),indexSelect);
		}
	</script>

{% endblock %}
