{% load staticfiles %}
{% load crispy_forms_tags%}

{% block estilos %}
{% endblock %}

{% block planilla_visado %}

<div class="table-responsive">
<table class="table table-bordered table-striped table-hover table-condensed" style="text-align:center;" data-paging="false">
      <thead>
        <tr>
          <th>Filas/Columnas</th>
          {% for columna in columnas %}
            {% if columna.activo == True %}
            <th>{{columna.nombre}}</th>
            {% endif %}
          {% endfor %}
        </tr>
      </thead>
    <tbody>
        {% for fila in filas %}
        {% if fila.activo == True %}
                <tr>
                    <td class="col-xs-1">{{ fila }}</td>
                    {% for columna in columnas %}
                    {% if columna.activo == True%}
                    <td class="col-sm-1">&nbsp;
                        {% for item in itemsVisados %}
                        {% if fila == item.fila_de_visado and columna == item.columna_de_visado %}
                        <label class="switch">
                            <input name="{{item.label}}" type="checkbox" disabled="disabled" checked="checked"><span class="slider round"></span>
                        </label>
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endif %}
                    {% endfor %}
                </tr>
        {% endif %}
                {% endfor %}
    </tbody>
</table>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <form action="" >
      <div class="row" style="color:#fff;">
        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ol>
            <label>Balance de superficie:</h2></label>
            {% for elemento in elementos %}
              {% if elemento.activo == True %}
            <li> {{elemento.nombre}}</li>
              {% endif %}
            {% endfor %}
          </ol>
        </div>
      </div>
    </form>
  </div>
</div>
<!--<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <form action="" >
      <div class="row" style="color:#fff;">
        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ol>
            <label>Observaciones:</h2></label>
            {% for observacion in observaciones %}
            <li> {{observacion.descripcion}}</li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </form>
  </div>
</div>-->

{% endblock %}