{% load staticfiles %}
{% load crispy_forms_tags%}

{% block estilos %}
{% endblock %}

{% block planilla_de_inspeccion %}

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-condensed" style="text-align:center;">
      <thead>
        <tr>              
          <th></th> 
          {% for item in items %}
            <th>{{item.nombre}}</th>                            
          {% endfor %}              
        </tr>
      </thead>        
      <tbody>          
        {% for categoria in categorias %}
          <tr>
            <td class="col-xs-1">{{ categoria.nombre }}</td>
            {% for item in items %} 
            <td class="col-sm-4">&nbsp;             
              {% for detalle in detalles %}                              
                {% if categoria.nombre == detalle.categoria_inspeccion.nombre and item.nombre == detalle.item_inspeccion.nombre %}                                                 
                    {{ detalle.nombre }}<hr>                    
                {% endif %}                
              {% endfor %}
            </td>            
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


{% endblock %}
