{% load staticfiles %}
{% load crispy_forms_tags%}

{% block estilos %}
{% endblock %}

{% block planilla_de_inspeccion %}

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-condensed" style="text-align:center;">
      <thead>
        <tr>
          <th></th>
          {% for item in items %}
          {% if item.activo == True %}
            <th>{{item.nombre}}</th>
          {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for categoria in categorias %}
        {% if categoria.activo == True %}
          <tr>
            <td class="col-xs-1">{{ categoria.nombre }}</td>
            {% for item in items %}
            {% if item.activo == True %}
            <td class="col-sm-1">&nbsp;
              {% for detalle in detalles %}
              {% if detalle.activo == True %}
                {% if categoria.nombre == detalle.categoria_inspeccion.nombre and item.nombre == detalle.item_inspeccion.nombre %}
                    {{ detalle.nombre }}<hr>
                {% endif %}
              {% endif %}
              {% endfor %}
            </td>
            {% endif %}
            {% endfor %}
          </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <form action="" >
      <div class="row" style="color:#fff;">
        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ol>
            <label>Descripcion de categorias:</h2></label>
            {% for categoria in categorias %}
            {% if categoria.activo == True %}
            <li> {{categoria.tipo}}</li>
            <li> {{categoria.descripcion}}</li>
            {% endif %}
            {% endfor %}
          </ol>
        </div>
      </div>
    </form>
  </div>
</div>


{% endblock %}
