{% extends 'base.html' %}
{% load staticfiles %}

{% block estilos %}

{% endblock %}

{% block barra %}
	<ul class="sidebar sidebar-1">
		<font size="2">
			<li><a href="{% url 'inspector'  %}" class="current"><font color="white">Inspector</font></a></li>
		</font>
	</ul>
{% endblock %}


{% block contenido %}

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
	  <div class="panel">
		<div class="panel-heading box" role="tab" id="headingFive">
		  <h5 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
			  <font color="#ffffff" size="2">Documentos del estado del tramite</font>
			</a>
		  </h5>
		</div>
		<div id="collapseFive" class="panel-collapse" role="tabpanel" aria-labelledby="headingFive">
		  <div class="panel-body">
			<div class="container-fluid">
				<div class="row">
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: white;">
                        {% for documento in documentos_de_fecha%}
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="thumbnail ">
                                    <a id="single_image" href="/media/{{documento.file}}" data-fancybox="images" data-caption="{{documento.tipo_documento}}">
                                        <img src="/media/{{documento.file}}" width=300 height=300>
                                    </a>
                                    <br>
                                    <p style="color: #17202a; font-style: oblique; text-align: center;"> {{documento.tipo_documento}} - {{documento.fecha}} </p>
                                    <form action="">
                                        <p align="right" >
                                        <a href="/media/{{documento.file}}" download="documento" class="btn btn-primary btn-collapsible"><i class="glyphicon glyphicon-save"></i><span>  Descargar</span></a>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                     </div>

						{% if planilla %}

						<table class="table table-bordered table-striped table-hover table-condensed" style="text-align:center;">
						  <thead>
							<tr>
							  <th></th>
							  {% for item in items %}
								{% if item.activo == True %}
								<th>{{item.nombre}}</th>
								{% endif %}
							  {% endfor %}
							</tr>
						  </thead>
						  <tbody>
							{% for categoria in categorias %}
							{% if categoria.activo == True %}
							  <tr>
								<td class="col-xs-1">{{ categoria.nombre }}</td>
								{% for item in items %}
								  {% if item.activo == True %}
								<td class="col-sm-1">&nbsp;
								  {% for detalle in detalles %}
									{% if detalle.activo == True %}
									{% if categoria == detalle.categoria_inspeccion and item == detalle.item_inspeccion %}
                                  <td>{{ detalle.nombre }}</td>
									{% endif %}
								  {% endif %}
								  {% endfor %}
								</td>
								  {% endif %}
								{% endfor %}
							  </tr>
							{% endif %}
							{% endfor %}
							</tbody>
						</table>

					<div class="row">
					  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<form action="" >
						  <div class="row" style="color:#fff;">
							<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
							  <ol>
								<label>Descripcion de categorias:</h2></label>
								{% for categoria in categorias %}
								  {% if categoria.activo == True %}
								<li> {{categoria.tipo}}</li>
								<li> {{categoria.descripcion}}</li>
								  {% endif %}
								{% endfor %}
							  </ol>
							</div>
						  </div>
						</form>
					  </div>
					</div>
					{% else %}
						<div class=" col-xs-4 col-sm-4 col-md-4 col-lg-4">
						  <ol>
							<li> No se cargo ninguna planilla </li>
						  </ol>
						</div>
					{% endif %}

					<br>
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
                        <a href="javascript:history.back(-1);">
                            <button type="button" class="btn btn-primary" name="Volver">
                                Volver
                            </button>
                        </a>
                     </div>
			    </div>
			</div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}
