{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block barra %}
<div id="noImprimir">
    <ul class="sidebar sidebar-1">
        <font size="2">
            <li><a href="{% url 'inspector'  %}" class="current"><font color="white">Inspector</font></a></li>
        </font>
    </ul>
</div>
{% endblock %}

{% block contenido %}
<div class="container-fluid">
    <div id="printReady">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
            <div class="row" style="background:white;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div style="background-color:#2c3e50;">
                        <img src="/media/imagenes/Escudobanner.png"
                             class="img-responsive" alt="Imagen responsive" width="100" height="100"/>
                    </div>
                    <div align="justify" style="font-size:9px; text-align:left;">
                        <br>  &nbsp; MUNICIPALIDAD DE TRELEW
                        <br>
                        &nbsp; Rivadavia 390 <br>
                        &nbsp; 9100 TRELEW- Provincia del Chubut
                    <h3 align="center">
                        PLANILLA DE INSPECCION &nbsp;  &nbsp;
                    </h3>
                    <br>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
                            <h5 align="left" style="color: black">
                                &nbsp; NRO TRAMITE:  {{tramite.pk}} &nbsp;
                            </h5>
                            <h5 align="left" style="color:black">
                                &nbsp; PROPIETARIO:  {{tramite.propietario.persona}} &nbsp;  &nbsp;
                            </h5>
                            <h5 align="left">
                                &nbsp;             PROFESIONAL: {{tramite.profesional.persona}}
                            </h5>
                            <h5 align="left">
                                &nbsp;          TIPO DE OBRA: {{tramite.tipo_obra}}
                            </h5>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >

                        <h5 align="right" style="color:black">
                            FECHA DE INSPECCION:  {{tramite.estado.timestamp}} &nbsp;  &nbsp;
                        </h5>
                    </div>
                    </div>
                </div>
                    <br>
                    <hr style="border-width:">
                    <h5 align="left">
                        DATOS CATASTRALES&nbsp;  &nbsp;
                    </h5>
                    <div class="table-responsive">
                        <table align="center" style="text-align:center;">
                            <thead>
                            <th>Medidas</th>
                            <th>Domicilio</th>
                            <th>Parcela</th>
                            <th>Circunscripcion</th>
                            <th>Manzana</th>
                            <th>Sector</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="col-xs-1" align="center">{{tramite.medidas}}</td>
                                <td class="col-xs-2" align="center">{{tramite.domicilio}}</td>
                                <td class="col-xs-3" align="center">{{tramite.parcela}}</td>
                                <td class="col-xs-4" align="center">{{tramite.circunscripcion}}</td>
                                <td class="col-xs-5" align="center">{{tramite.manzana}}</td>
                                <td class="col-xs-6" align="center">{{tramite.sector}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <br>
                    <div class="table-responsive">
                        <table align="center" class="table table-bordered table-striped table-hover table-condensed" style="text-align:center;" data-paging="false">
                            <thead>
                            <tr>
                                <th></th>
                             {% for categoria in categorias %}
                            {% if categoria.activo == True %}
                                <th>{{categoria.nombre}}</th>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                                  {% for item in items %}
                                {% if item.activo == True %}

                            <tr>
                                <td class="col-xs-1">{{ item }}</td>
                              {% for categoria in categorias %}
                            {% if categoria.activo == True %}
                                <td class="col-sm-4">
                                    {% for detalle in detalles %}
                                    {% if detalle.activo == True %}
                                    {% if categoria.nombre == detalle.categoria_inspeccion.nombre and item.nombre == detalle.item_inspeccion.nombre %}
                                    {{ detalle.nombre }}
                                    <br>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                        <br>
                        <table class="table table-bordered table-striped table-hover table-condensed" style="text-align:center;">
                            <thead>
                            <tr>
                                <th>categoria</th>
                                <th>tipo</th>
                                <th>descripcion</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for categoria in categorias %}
                            {% if categoria.activo == True %}
                            <tr>
                                <td id="nombre{{categoria.id}}" class="col-xs-1" align="center">{{categoria.nombre}}</td>
                                <td id="tipo{{categoria.id}}" class="col-xs-1" align="center">{{categoria.tipo}}</td>
                                <td id="descripcion{{categoria.id}}" class="col-xs-2">{{categoria.descripcion}}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid " id="botones_inspeccion">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <button type="button" class="btn btn-primary btn-md" onclick="printDiv('printReady')">Imprimir</button>
                <a href="{% url 'inspector' %}">
                    <button class="btn btn-primary btn-md" type="submit" value="Atras">Volver</button>
                </a>
            </div>
        </div>
    </div>
    <br>
</div>
<style>
       .dataTables_length, .dataTables_filter, .dataTables_info,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
          display: none !important;
       }
       th{
          background-color:#2c3e50;
          color:white;
       }
        .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
            display: none;
        }
        #tabla_length{
        display:none;
        }
        #tabla_filter{
        display:none;
        }
    </style>
<script>
    function printDiv(div) {
    // Create and insert new print section

    var elem = document.getElementById(div);
    var domClone = elem.cloneNode(true);
    var $printSection = document.createElement("div");
    $printSection.id = "printSection";
    $printSection.appendChild(domClone);
    $('head').append('<style> select{ display:none;} #boton_ayuda, #botones_inspeccion,#botones_visado,#noImprimir{display:none;} .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate label{display: none;} .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{display: none;} .dataTables_wrapper .dataTables_paginate .paginate_button{display: none!important;}</style>');
    //document.body.insertBefore($printSection, document.body.firstChild);

    window.print();

    // Clean up print section for future use
    var oldElem = document.getElementById("printSection");
    if (oldElem != null) { oldElem.parentNode.removeChild(oldElem); }
                          //oldElem.remove() not supported by IE

    return true;
}

</script>

{% endblock %}
