{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block barra %}
  <ul class="sidebar sidebar-1">
    <font size="2">
		<li><a class="current"><font color="white">Inspector</font> </a></li>
		<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onclick='mostrarSubmenu("sin_submenu")'>Agendar inspeccion</a></li>
		<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" onclick='mostrarSubmenu("sin_submenu")'>Consultar ultima Inspeccion</a></li>
		<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" onclick='mostrarSubmenu("sin_submenu")'>Cargar inspeccion</a></li>
		<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" onclick='mostrarSubmenu("sin_submenu")'>Cargar inspecciones mensuales</a></li>
	</font>
  </ul>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="boton_ayuda" class="col-xs-4 col-sm-4 col-md-12 col-lg-12">
	<div class="dropdown" style="float:left;">
		<button class="btn btn-primary btn-md" type="button"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			<span class="glyphicon glyphicon-list-alt" aria-hidden="true">    Ayuda    <br> <br/></span>
 			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><li><a target="_blank"  href="{% static "documentacion/_build/html/inspector.html" %}" target="_blank">Ayuda</a></li>
			<li role="separator" class="divider"></li>
			<li><a target="_blank" id="boton_ayuda1" href="{% static "documentacion/Inspector.pdf" %}" target="_blank">Ayuda PDF</a></li>
		</ul>
	</div>
</div>
{% endblock %}

{% block contenido %}

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

		      <div class="panel">
		<div class="panel-heading box" role="tab" id="headingTwo">
		  <h5 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" onclick='mostrarSubmenu("sin_submenu")'>
				<font color="#ffffff" size="2">Agendar Inspección</font>
			</a>
		  </h5>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		  <div class="panel-body">
			  <div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="container-fluid">
                           <div class="row">
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                {% block contenido_tramites_visados_y_con_inspeccion %}
                                  {% include "persona/inspector/tramites_visados_y_con_inspeccion.html" with tramites=ctxtramitesvisadosyconinspeccion %}
                                {% endblock %}
                              </div>
                           </div>
						</div>
					</div>
				</div>
			</div>
		  </div>
		</div>
	  </div>


      <div class="panel">
		<div class="panel-heading box" role="tab" id="headingThree">
		  <h5 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" onclick='mostrarSubmenu("sin_submenu")'>
			  <font color="#ffffff" size="2">Consultar ultima Inspeccion</font>
			</a>
		  </h5>
		</div>
		<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		  <div class="panel-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="container-fluid">
                          <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              {% block contenido_tramites_inspeccionados %}
                                {% include "persona/inspector/tramites_inspeccionados.html" with tramites=ctxtramis_inspecciones %}
                              {% endblock %}
                            </div>
                          </div>
					    </div>
					</div>
				</div>
			</div>
		  </div>
		</div>
	  </div>

    	<div class="panel">
	    <div class="panel-heading box" role="tab" id="headingFour">
			<h5 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour" onclick='mostrarSubmenu("sin_submenu")'>
                    <font color="#ffffff" size="2">Cargar inspeccion</font>
                </a>
			</h5>
		</div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        {% block listado_inspector_movil  %}
                                            {% include "persona/movil/listado_inspector_movil.html" with tramites_del_inspector=ctxlistado_inspector.tramites %}
                                        {% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<div class="panel">
	    <div class="panel-heading box" role="tab" id="headingFive">
			<h5 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive" onclick='mostrarSubmenu("sin_submenu")'>
                    <font color="#ffffff" size="2">Cargar inspecciones mensuales</font>
                </a>
			</h5>
		</div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        {% block listado_inspecciones_mensuales  %}
                                            {% include "persona/movil/listado_inspector_movil.html" with tramites_del_inspector=ctxlistadomensual_inspector.tramites %}
                                        {% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	</div>

{% endblock %}


{% block scripts %}

<script type="text/javascript">
		function mostrarSubmenu(subformulario)
		{
			if(subformulario=="sin_submenu"){
				$('.' + "sidebar-2").hide();
			}
			else{
				var idSubformulario=document.getElementById(subformulario).id;
				if($('#' + idSubformulario).is(':hidden')){
					$('.' + "sidebar-2").hide();
					$('#' + idSubformulario).show();
				}else{
					$('#' + idSubformulario).hide();
				}
			}
		}
	</script>

  <script>
    $("#perfil").fileinput({
      showCaption: false,
      browseClass: "btn btn-primary btn-sm",
      fileType: "any",
      maxFileCount: 1,
      browseLabel: 'Cargar nueva foto de perfil',
      showUpload: false,
      showRemove: false
    });
  </script>

{% endblock%}
