{% load staticfiles %}

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
        <thead>
            <tr>
                <th>Nro de tramite</th>
                <th>Propietario</th>
                <th>Profesional</th>
                <th>Medidas</th>
                <th>Tipo de Obra</th>
                <th>Estado</th>
                <th>Fecha de inspeccion</th>
                <th>Agendar</th>
            </tr>
        </thead>
        <tbody>
            {% if tramites %}
                {% for tramite in tramites %}
                    <tr>
                        <td>{{ tramite.id }}</td>
                        <td>{{ tramite.propietario }}</td>
                        <td>{{ tramite.profesional }} </td>
                        <td>{{ tramite.medidas }}</td>
                        <td>{{ tramite.tipo_obra }}</td>
                        <td>{{ tramite.estado }}</td>
                        <td>
                            <input type="hidden" id="id_tramite" value="{{tramite.id}}">

                            <input id="datetime" type="date" value="">
                            <input id="time" type="time" value="">

                            <!--<input id="datepicker" name="datepicker" type="text" readonly="true"></input>-->
                        </td>
                        <td>
                            <script>
                        function agregarHora(){
                            var date = $('#datetime').val()
                            var hora= $('#time').val()
                            fecha = date+' '+hora
                            id_tramite = $("#id_tramite").val();
                            url = '/persona/agendar_tramite/'+id_tramite+'/?msg='+fecha;
                            location.href = url;
                        }
                    </script>
                            <a href="javascript:agregarHora();">
                              <button type="button" class="btn btn-primary btn-sm" name="Agendar">Agendar
                              </button>
                            </a>
                        </td>
                    </tr>


                {% endfor %}
            {% endif%}
        </tbody>
    </table>
</div>

{% block contenido_tramites_visados_y_con_inspeccion %}

     <div class="table-responsive">
          <table  class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
              <thead>
                  <tr>
                    <th>Nro</th>
                    <th>Propietario</th>
                    <th>Profesional</th>
                    <th>Medidas</th>
                    <th>Tipo de Obra</th>
                    <th>Estado</th>
                    <th>Fecha de inspeccion</th>
                    <th>Agendar</th>
                  </tr>
            </thead>
            <tbody>
                {% if tramites %}
                    {% for tramite in tramites %}
                        <tr>
                            <td>{{ tramite.id }}</td>
                            <td>{{ tramite.propietario }}</td>
                            <td>{{ tramite.profesional }} </td>
                            <td>{{ tramite.medidas }}</td>
                            <td>{{ tramite.tipo_obra }}</td>
                            <td>{{ tramite.estado }}</td>
                            <td>
                                <input type="hidden" id="id_tramite1" value="{{tramite.id}}" >

                                <input id="datetime1" type="date" value="">
                                <input id="time1" type="time" value="">
                            </td>
                            <td class="col-xs-1">
                                <script>
                                    function agregarHora1(){
                                        var date1 = $('#datetime1').val()
                                        var hora1= $('#time1').val()
                                        fecha1 = date1+' '+hora1
                                        id_tramite1 = $("#id_tramite1").val();
                                        url = '/persona/agendar_tramite/'+id_tramite1+'/?msg='+fecha1;
                                        location.href = url;
                                    }
                                </script>
                                <a href="javascript:agregarHora1();">
                                    <button type="button" class="btn btn-primary btn-sm" name="Agendar">
                                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"> Agendar</span>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif%}
            </tbody>
        </table>
     </div>

{% endblock %}
