{% load staticfiles %}
{% block contenido %}
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
        <thead>
            <tr>
                <th class="col-sm-1">Numero de tramite</th>
                <th>Propietario</th>
                <th>Profesional</th>
                <th>Medidas</th>
                <th>Tipo de Obra</th>
                <th>Estado</th>
                <th>Fecha de inspeccion</th>
                <th>Agendar</th>
            </tr>
        </thead>
        <tbody>
            {% if tramites %}
                {% for tramite in tramites %}
                    <tr>
                        <td>{{ tramite.id }}</td>
                        <td>{{ tramite.propietario }}</td>
                        <td>{{ tramite.profesional }} </td>
                        <td>{{ tramite.medidas }}</td>
                        <td>{{ tramite.tipo_obra }}</td>
                        <td>{{ tramite.estado }}</td>
                        <td>
                            <input type="hidden" id="id{{tramite.id}}" value="{{tramite.id}}">
                            <input id="datetime{{tramite.id}}" type="date" value="" onClick="javascript:calendario{{tramite.id}}();" >
                            <input id="time{{tramite.id}}" type="time" value="">
                        </td>
                        <td>

                        <script type="text/javascript">
                        function agregarHoraInspeccion{{tramite.id}}(){
                            var id_tramite = $("#id{{tramite.id}}").val();
                            var date = $("#datetime{{tramite.id}}").val();
                            var rol=2
                            var hora= $("#time{{tramite.id}}").val();
                            if (date  && hora) {
                                var fecha = date+' '+hora;
                                url = '/persona/agendar_tramite/'+id_tramite+'/?msg='+fecha+'&rol='+rol;
                                location.href = url;
                            }
                            else if (hora ==''){
                                alert ("El campo hora es obligatorio");
                            }else{
                                if(date===''){
                                    alert("El campo fecha es obligatorio");
                                }
                                else{
                                    alert("Los campos fecha y hora son obligatorios");
                                }
                             }
                            return false;
                        }

   function calendario{{tramite.id}}(){
        var hoy= new Date();
        var dia=hoy.getDate();
        var mes=hoy.getMonth()+1;
        var a=hoy.getFullYear();
        if (dia<10 && mes<10){
          d="0"+dia;
          m="0"+mes;
          fecha=a+"-"+m+"-"+d;
        }
        else{
            if (dia<10){
              d="0"+dia;
              fecha=a+"-"+mes+"-"+d;
            }
            else{
                if (mes<10){
                    m="0"+mes;
                    fecha=a+"-"+m+"-"+dia;
                }
                else{
                    fecha=a+"-"+mes+"-"+dia;
                }
            }
        }
        $("#datetime{{tramite.id}}").attr('min',fecha);

    }
</script>
                            <a onclick="javascript:agregarHoraInspeccion{{tramite.id}}();">
                              <button type="button" class="btn btn-primary btn-sm" name="Agendar">Agendar
                              </button>
                            </a>
                        </td>
                    </tr>


                {% endfor %}
            {% endif%}
        </tbody>
    </table>
     <!--<div class=" col-xs-8 col-sm-8 col-md-8 col-lg-8" align="left">
        <a id="crear_detalle" href="{% url 'reporte_tramites_agendar_excel' %}" class="btn btn-info btn-collapsible btn-sm" title="Generar Archivo Excel" >
            <i class="glyphicon glyphicon-list-alt"></i><span>Exportar a EXCEL</span>
        </a>
        <a href="{% url 'reporte_tramites_agendar_pdf' %}" class="btn btn-info btn-collapsible btn-sm" title="Generar Archivo PDF" >
            <i class="glyphicon glyphicon-file"></i><span>Exportar a PDF</span>
        </a>
        </div>
        <div class=" col-xs-4 col-sm-4 col-md-4 col-lg-4" align="right">
            <a href="javascript:history.back(-1);">
                <button type="button" class="btn btn-primary" name="Volver">
                    Volver
                </button>
            </a>
        </div>
        </tbody>
</div>-->


</div>
{% endblock %}

