{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block barra %}
  <ul class="sidebar sidebar-1">
    <font size="2">
		<li><a class="current"><font color="white">Planilla de visado</font> </a></li>		
	</font>
  </ul>
{% endblock %}

{% block contenido %}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
    <div class="panel">
      <div class="panel-heading box" role="tab" id="headingOne">
        <h5 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <font color="#ffffff" size="4">PLANILLA DE VISADO TECNICO      PADRON: {{tramite.parcela}} </font>
          </a>
      </h5>
      <div>
        <h3>DATOS PROPIETARIO {{tramite.propietario.persona}} {{tramite.propietario.persona.dni}}</h3>
        <h3>DATOS PROFESIONAL {{tramite.profesional}} {{tramite.profesional.persona.dni}}</h3>
      </div>
    </div>  

  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-condensed" style="text-align:center;">
      <thead>
        <tr>              
          <th></th> 
          {% for columna in columnas %}
            <th>{{columna}}</th>                            
          {% endfor %}              
        </tr>
      </thead>        
      <tbody>          
        {% for fila in filas %}
          <tr>
            <td class="col-xs-1">{{ fila }}</td>
            {% for columna in columnas %} 
            <td class="col-sm-4">&nbsp;             
              {% for item in items %}                              
                {% if fila == item.fila_de_visado and columna == item.columna_de_visado %}                       
                    <label class="switch">
                      <input type="checkbox"><span class="slider round"></span>
                    </label>                               
                {% endif %}
              {% endfor %}
            </td>            
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">          
        <form action="" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="id_monto_a_pagar">Monto:</label>
            <input type="hidden" id="id_tram" value="{{tramite.id}}">
            <input class="form-control input-sm" id="id_monto_a_pagar" name="monto" type="number" step="any" placeholder="Ingresar monto" title="Monto" maxlength="10" value="ingresar monto"/>
          </div>
          <button class="btn btn-primary btn-sm" type="submit" title="Aprobar el visado" name="Aprobar el visado">
            Aprobar visado
          </button>            
          <div class="form-group">
            <label>Observaciones:</label>
            <input type="hidden" id="id_tramite" value="{{tramite.id}}" name="tram">
            <input class="form-control input-sm" id="id_observaciones" name="observaciones" type="text" placeholder="Ingresar observaciones" title="Observaciones" maxlength="100" />
          </div>
          <button class="btn btn-danger btn-sm" type="submit" title="Envia Planilla de visado" name="Envia Planilla de visado">
            Enviar correcciones
          </button>
          <br><br>
        </form>
      </div>
    </div>        
  </div>

  
</div>


<style>
  .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
  }
      
  /* Hide default HTML checkbox */
  .switch input {display:none;}
      
  /* The slider */
  .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
  }
      
  .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
  }
      
  input:checked + .slider {
      background-color: #2196F3;
  }
      
  input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
  }
      
  input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
  }
      
  /* Rounded sliders */
  .slider.round {
      border-radius: 34px;
  }
      
  .slider.round:before {
      border-radius: 50%;
  }
</style>

{% endblock %}
{% block scrip %}
{% endblock %}