{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block barra %}
	<ul class="sidebar sidebar-1">
		<font size="2">
			<li><a href="{% url 'visador'  %}" class="current"><font color="white">Planilla de visado</font></a></li>
		</font>
	</ul>
{% endblock %}

{% block contenido %}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
    <div class="panel">
        <div class="panel-heading" role="tab" id="headingOne">
            <div class="panel-title">
                <!-- <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                   <div id="boton_tipo_pago" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
                -->     <!--  <font color="#ffffff" size="4">--><h4 ><font color="#ffffff" align="center" >PLANILLA DE VISADO TECNICO</font></h4 >
                <br><!--</font><br>
                </div>
              </a>-->
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row" style="color:#fff;">
                        <div class=" col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <ol>
                                <label>NRO TRAMITE:</label>
                                <li> {{tramite.id}}</li>
                                <label>PROPIETARIO:</label>
                                <li> {{tramite.propietario.persona}}</li>
                                <label>PROFESIONAL:</label>
                                <li> {{tramite.profesional}}</li>
                                <label>TIPO DE OBRA:</label>
                                <li> {{tramite.tipo_obra}}</li>

                            </ol>
                        </div>
                    </div>

                    {% if planilla %}
                    <form action="{%url 'planilla_visado' tramite.id %}" method="post" enctype="multipart/form-data">
                        <div class="container-fluid">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover table-condensed" style="text-align:center;">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        {% for columna in columnas %}
                                        {% if columna.activo == True %}
                                        <th>{{columna}}</th>
                                        {% endif %}
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for fila in filas %}
                                    {% if fila.activo == True %}
                                    <tr>
                                        <td class="col-xs-1">{{ fila }}</td>
                                        {% for columna in columnas %}
                                        {% if columna.activo == True %}
                                        <td class="col-sm-1">&nbsp;

                                            {% for item in items %}

                                            {% if fila == item.fila_de_visado and columna == item.columna_de_visado %}
                                            {% for name,value in planilla %}


                                            {% if fila == name.fila_de_visado and columna == name.columna_de_visado and value == 1 %}

                                            <label class="switch">
                                                <input name="item-{{item.pk}}" checked="checked" type="checkbox"><span class="slider round"></span>
                                            </label>
                                            {% elif fila == name.fila_de_visado and columna == name.columna_de_visado and value == 0 %}

                                            <label class="switch">
                                                <input name="item-{{item.pk}}" type="checkbox"><span class="slider round"></span>
                                            </label>
                                            {% endif %}
                                            {% endfor %}

                                            {% endif %}

                                            {% endfor %}
                                        </td>
                                        {% endif %}
                                        {% endfor %}
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br>
                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-hover table-condensed" style="text-align:center;">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th>BALANCE DE SUPERFICIE</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for elemento in elementos %}
                                            {% if elemento.activo == True %}
                                            <tr>
                                                <td class="col-xs-1">{{ elemento }}</td>
                                                <td class="col-sm-4">

                                                    {% for name,value in elementosPlanilla %}

                                                    {%if elemento.nombre == name.nombre %}
                                                    {% if value == 1 %}
                                                    <label class="switch">
                                                        <input name="elemento-{{elemento.id}}" checked="checked"  type="checkbox"><span class="slider round"></span>
                                                    </label>
                                                    {% elif value == 0 %}
                                                    <label class="switch">
                                                        <input name="elemento-{{elemento.id}}" type="checkbox"><span class="slider round"></span>
                                                    </label>
                                                    {% endif %}
                                                    {% endif %}
                                                    {% endfor %}

                                                </td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="panel-body">
                            <div class="container-fluid">
                                <div class="form-group">
                                    <div class="col-sm-8 col-md-8 col-xs-8 col-lg-8">
                                        <input class="form-control input-sm" id="id_monto_a_pagar" name="monto" type="number" step="any" placeholder="Ingresar monto" title="Monto" min="1000" max="9999999999"  value="{{monto|default_if_none:'Ingresar monto'}}" required/>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                                        <input type="hidden" id="id_tram" value="{{tramite.id}}">
                                        <button class="btn btn-primary btn-sm" type="submit" title="Aprobar el visado" name="Aprobar el visado">
                                            Aprobar visado
                                        </button>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-xs-8 col-lg-8">
                                        <br>
                                        <label>Observaciones:</label>
                                        <input type="hidden" id="1" value="{{tramite.id}}" name="tram">
                                        <input class="form-control input-sm" id="id_observaciones1" name="observaciones" type="text" placeholder="Ingresar observaciones" title="Observaciones" maxlength="100" />
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                                        <br>
                                        <br>
                                        <button class="btn btn-danger btn-sm" type="submit" title="Envia Planilla de visado" name="Envia Planilla de visado">
                                            Enviar correcciones
                                        </button>
                                        <br><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    {%else%}
                    <form action="{%url 'planilla_visado' tramite.id %}" method="post" enctype="multipart/form-data">
                        <div class="container-fluid">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover table-condensed" style="text-align:center;">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        {% for columna in columnas %}
                                        {% if columna.activo == True %}
                                        <th>{{columna}}</th>
                                        {% endif %}
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for fila in filas %}
                                    {% if fila.activo == True %}
                                    <tr>
                                        <td class="col-xs-1">{{ fila }}</td>
                                        {% for columna in columnas %}
                                        {% if columna.activo == True %}
                                        <td class="col-sm-1">&nbsp;
                                            {% for item in items %}
                                            {% if fila == item.fila_de_visado and columna == item.columna_de_visado %}

                                            <label class="switch">
                                                <input name="item-{{item.pk}}" type="checkbox"><span class="slider round"></span>
                                            </label>



                                            {% endif %}

                                            {% endfor %}
                                        </td>
                                        {% endif %}
                                        {% endfor %}
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br>
                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-hover table-condensed" style="text-align:center;">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th>BALANCE DE SUPERFICIE</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for elemento in elementos %}
                                            {% if elemento.activo == True %}
                                            <tr>
                                                <td class="col-xs-1">{{ elemento }}</td>
                                                <td class="col-sm-4">
                                                    <label class="switch">
                                                        <input name="elemento-{{elemento.id}}" type="checkbox"><span class="slider round"></span>
                                                    </label>
                                                </td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="panel-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="id_monto_a_pagar">Monto:</label>

                                        <div class="row">
                                            <div class="col-sm-8 col-md-8 col-xs-8 col-lg-8">
                                                <input class="form-control input-sm" id="id_monto_a_pagar" name="monto" type="number" step="any" placeholder="Ingresar monto" title="Monto" min="1000" max="9999999999"  value="{{monto|default_if_none:'Ingresar monto'}}" required/>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                                                <input type="hidden" id="id_tram" value="{{tramite.id}}">
                                                <button class="btn btn-primary btn-sm" type="submit" title="Aprobar el visado" name="Aprobar el visado">
                                                    Aprobar visado
                                                </button>
                                            </div>

                                            <div class="form-group">

                                                <div class="col-sm-8 col-md-8 col-xs-8 col-lg-8">
                                                    <br>
                                                    <label>Observaciones:</label>
                                                    <input type="hidden" id="1" value="{{tramite.id}}" name="tram">
                                                    <input class="form-control input-sm" id="id_observaciones1" name="observaciones" type="text" placeholder="Ingresar observaciones" title="Observaciones" maxlength="100" />
                                                </div>
                                                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                                                    <br>
                                                    <br>
                                                    <button class="btn btn-danger btn-sm" type="submit" title="Envia Planilla de visado" name="Envia Planilla de visado">
                                                        Enviar correcciones
                                                    </button>
                                                    <br><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    {%endif%}

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
                        <a href="javascript:history.back(-1);">
                            <button type="button" class="btn btn-primary" name="Volver">
                                Volver
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<style>


        input, button, select, textarea {
            display: none;
        }
        .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_paginate,.dataTables_filter, .dataTables_length, .dataTables_info,.dataTables_wrapper  .dataTables_paginate .paginate_button.current:hover {
            display: none;
        }
        #tabla_length{
        display:none;
        }
        #tabla_filter{
        display:none;
        }
  .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
  }
      
  /* Hide default HTML checkbox */
  .switch input {display:none;}
      
  /* The slider */
  .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
  }
      
  .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
  }
      
  input:checked + .slider {
      background-color: #2196F3;
  }
      
  input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
  }
      
  input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
  }
      
  /* Rounded sliders */
  .slider.round {
      border-radius: 34px;
  }
      
  .slider.round:before {
      border-radius: 50%;
  }
</style>

{% endblock %}
{% block script %}

{% endblock %}