{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block estilo %}

{% endblock %}


{% block contenido %}
<div class="container-fluid">
        <div>

            <div><h4>Formulario de visado</h4></div>
<div class="container-fluid">
                <ul class="nav nav-tabs responsive" id="tab">
                    <li class="active"><a href="#Planta"><label>Planta</label></a>
                    <li>
                    <li><a href="#Corte"><label>Corte</label></a></li>
                    <li><a href="#Fachadas"><label>Fachadas</label></a></li>
                    <li><a href="#Estructuras"><label>Estructura</label></a></li>
                    <li><a href="#Planta_de_Techo"><label>Planta de Techo</label></a></li>
                </ul>
                <div class="tab-content responsive">
                    <div id="Planta" class="tab-pane fade in active">
                        <div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label> Linea Municipal y Ejes medianeros (identificacion
                                            y leyenda)</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="lineamunicipal" name="someSwitchOption001" type="checkbox"/>
                                                <label for="lineamunicipal" class="label-lineamunicipal"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label> Denominacion y Numeracion de Locales (nombre y
                                            número)</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="denominacion" name="someSwitchOption001" type="checkbox"/>
                                                <label for="denominacion" class="label-denominacion"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label> Identificacion de Cortes (con Letras y
                                            Numeros)</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="identificacion" name="someSwitchOption001" type="checkbox"/>
                                                <label for="identificacion" class="label-identificacion"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label> Diferenciacion de Superficie Existente, a Demoler,
                                            a Construir</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="diferenciacion" name="someSwitchOption001" type="checkbox"/>
                                                <label for="diferenciacion" class="label-diferenciacion"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Espesores de muros</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="muros0" name="someSwitchOption001" type="checkbox"/>
                                                <label for="muros0" class="label-muros"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Acotacion de Locales y Espacios Exteriores</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="acotacion" name="someSwitchOption001" type="checkbox"/>
                                                <label for="acotacion" class="label-acotacion"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Cotas de Nivel Interior y Exterior</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="cotas" name="someSwitchOption001" type="checkbox"/>
                                                <label for="cotas" class="label-cotas"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label> Altura de Cercos Divisorios de Predios Existentes
                                            y/o Proyectados</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="cercos" name="someSwitchOption001" type="checkbox"/>
                                                <label for="cercos" class="label-cercos"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Altura de Barandas y Antepechos</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="barandas" name="someSwitchOption001" type="checkbox"/>
                                                <label for="barandas" class="label-barandas"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Proyeccion Tanque de Agua</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="tanque" name="someSwitchOption001" type="checkbox"/>
                                                <label for="tanque" class="label-tanque"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Saliente de Fachadas, Cotas (Marquesinas, Balcones,
                                            Voladizos)</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="saliente" name="someSwitchOption001" type="checkbox"/>
                                                <label for="saliente" class="label-saliente"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Equipamientos Sanitarios (Cocinas, Baños y
                                            Lavaderos)</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="equipamientos" name="someSwitchOption001" type="checkbox"/>
                                                <label for="equipamientos" class="label-equipamientos"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Escaleras Reglamentarias (Alzada y Pedada)</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="escaleras" name="someSwitchOption001" type="checkbox"/>
                                                <label for="escaleras" class="label-escaleras"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Ancho y Pendiente de Vereda</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="vereda" name="someSwitchOption001" type="checkbox"/>
                                                <label for="vereda" class="label-vereda"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Canteros en Vereda (Ubicacion, Dimensiones y
                                            Acotacion)</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="canteros" name="someSwitchOption001" type="checkbox"/>
                                                <label for="canteros" class="label-canteros"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Planilla de Resumen de Superficie</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="superficie" name="someSwitchOption001" type="checkbox"/>
                                                <label for="superficie" class="label-superficie"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Memoria Descriptiva de la Obra Relevada</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="relevada" name="someSwitchOption001" type="checkbox"/>
                                                <label for="relevada" class="label-relevada"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="Corte" class="tab-pane fade">
                        <div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Linea Municipal y Ejes medianeros (identificacion y
                                            leyenda)</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="lineamunicipal1" name="someSwitchOption001" type="checkbox"/>
                                                <label for="lineamunicipal1" class="label-lineamunicipal"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Diferenciacion de Superficie Existente, a Demoler,
                                            a Construir</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="diferenciacion1" name="someSwitchOption001" type="checkbox"/>
                                                <label for="diferenciacion1" class="label-diferenciacion"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Acotacion Alt. Fachada, Arranque de Techos, Bases
                                            de Tanque, Cumbrera</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="acotacion1" name="someSwitchOption001" type="checkbox"/>
                                                <label for="acotacion1" class="label-acotacion"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Cotas de Nivel Interior y Exterior</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="cotas1" name="someSwitchOption001" type="checkbox"/>
                                                <label for="cotas1" class="label-cotas"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Bases con Cotas de Fundacion, Referencias</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="bases1" name="someSwitchOption001" type="checkbox"/>
                                                <label for="bases1" class="label-cotas"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Desagües Reglamentarios</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="desagues1" name="someSwitchOption001" type="checkbox"/>
                                                <label for="desagues1" class="label-desagues"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Altura de Cercos Divisorios de Predios Existentes
                                            y/o Proyectados</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="cercos1" name="someSwitchOption001" type="checkbox"/>
                                                <label for="cercos1" class="label-cercos"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Altura de Barandas y Antepechos</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="barandas1" name="someSwitchOption001" type="checkbox"/>
                                                <label for="barandas1" class="label-barandas"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Tanque de Reserva, Indicativo (Ubicacion y Cota de
                                            Apoyo)</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="tanque1" name="someSwitchOption001" type="checkbox"/>
                                                <label for="tanque1" class="label-tanque"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Chimeneas, Conductos (Ubicacion, Cotas,
                                            Dimensiones)</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="chimeneas1" name="someSwitchOption001" type="checkbox"/>
                                                <label for="chimeneas1" class="label-chimeneas"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Saliente de Fachadas, Cotas (Marquesinas, Balcones,
                                            Voladizos)</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="saliente1" name="someSwitchOption001" type="checkbox"/>
                                                <label for="saliente1" class="label-saliente"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Equipamientos Sanitarios (Cocinas, Baños y
                                            Lavaderos)</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="equipamientos1" name="someSwitchOption001" type="checkbox"/>
                                                <label for="equipamientos1" class="label-equipamientos"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Especificacion de Materiales/Terminaciones</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="especificacion1" name="someSwitchOption001" type="checkbox"/>
                                                <label for="especificacion1" class="label-especificacion"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Escaleras Reglamentarias (Alzada y Pedada)</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="escaleras1" name="someSwitchOption001" type="checkbox"/>
                                                <label for="escaleras1" class="label-escaleras"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8"><label>Ancho y Pendiente de Vereda</label></div>
                                        <div class="col-sm-4">
                                            <div class="material-switch pull-right">
                                                <input id="vereda1" name="someSwitchOption001" type="checkbox"/>
                                                <label for="vereda1" class="label-vereda"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>

                    </div>
                    <div id="Fachadas" class="tab-pane fade">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-8"><label>Linea Municipal y Ejes medianeros (identificacion y
                                        leyenda)</label></div>
                                    <div class="col-sm-4">
                                        <div class="material-switch pull-right">
                                            <input id="lineamunicipal2" name="someSwitchOption001" type="checkbox"/>
                                            <label for="lineamunicipal2" class="label-lineamunicipal"></label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-8"><label>Acotacion Alt. Fachada, Arranque de Techos, Bases de
                                        Tanque, Cumbrera</label></div>
                                    <div class="col-sm-4">
                                        <div class="material-switch pull-right">
                                            <input id="acotacion2" name="someSwitchOption001" type="checkbox"/>
                                            <label for="acotacion2" class="label-acotacion"></label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-8"><label>Cotas de Nivel Interior y Exterior</label></div>
                                    <div class="col-sm-4">
                                        <div class="material-switch pull-right">
                                            <input id="cotas2" name="someSwitchOption001" type="checkbox"/>
                                            <label for="cotas2" class="label-cotas"></label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-8"><label> Desagües Reglamentarios</label></div>
                                    <div class="col-sm-4">
                                        <div class="material-switch pull-right">
                                            <input id="desagues2" name="someSwitchOption001" type="checkbox"/>
                                            <label for="desagues2" class="label-desagues"></label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-8"><label>Altura de Barandas y Antepechos</label></div>
                                    <div class="col-sm-4">
                                        <div class="material-switch pull-right">
                                            <input id="barandas2" name="someSwitchOption001" type="checkbox"/>
                                            <label for="barandas2" class="label-barandas"></label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-8"><label>Tanque de Reserva, Indicativo (Ubicacion y Cota de
                                        Apoyo)</label></div>
                                    <div class="col-sm-4">
                                        <div class="material-switch pull-right">
                                            <input id="tanque2" name="someSwitchOption001" type="checkbox"/>
                                            <label for="tanque2" class="label-tanque"></label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-8"><label>Chimeneas, Conductos (Ubicacion, Cotas,
                                        Dimensiones)</label></div>
                                    <div class="col-sm-4">
                                        <div class="material-switch pull-right">
                                            <input id="chimeneas2" name="someSwitchOption001" type="checkbox"/>
                                            <label for="chimeneas2" class="label-chimeneas"></label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="Estructuras" class="tab-pane fade">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-8"><label>Linea Municipal y Ejes medianeros (identificacion y
                                        leyenda)</label></div>
                                    <div class="col-sm-4">
                                        <div class="material-switch pull-right">
                                            <input id="lineamunicipal3" name="someSwitchOption001" type="checkbox"/>
                                            <label for="lineamunicipal3" class="label-lineamunicipal"></label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-8"><label>Identificacion de Cortes (con Letras y Numeros)</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="material-switch pull-right">
                                            <input id="identificacion2" name="someSwitchOption001" type="checkbox"/>
                                            <label for="identificacion2" class="label-identificacion"></label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-8"><label>Escaleras Reglamentarias (Alzada y Pedada)</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="material-switch pull-right">
                                            <input id="escaleras2" name="someSwitchOption001" type="checkbox"/>
                                            <label for="escaleras2" class="label-escaleras"></label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-8"><label>Planos de Fundaciones, Columnas, Entrepisos, Losas,
                                        etc.</label></div>
                                    <div class="col-sm-4">
                                        <div class="material-switch pull-right">
                                            <input id="planos2" name="someSwitchOption001" type="checkbox"/>
                                            <label for="planos2" class="label-planos"></label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-8"><label>Planilla de Calculo de Elementos Estructurales</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="material-switch pull-right">
                                            <input id="elementos2" name="someSwitchOption001" type="checkbox"/>
                                            <label for="elementos2" class="label-elementos"></label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="Planta_de_Techo" class="tab-pane fade">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-8"><label>Linea Municipal y Ejes medianeros (identificacion y
                                        leyenda)</label></div>
                                    <div class="col-sm-4">
                                        <div class="material-switch pull-right">
                                            <input id="lineamunicipal4" name="someSwitchOption001" type="checkbox"/>
                                            <label for="lineamunicipal4" class="label-lineamunicipal"></label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-8"><label>Diferenciacion de Superficie Existente, a Demoler, a
                                        Construir</label></div>
                                    <div class="col-sm-4">
                                        <div class="material-switch pull-right">
                                            <input id="diferenciacion4" name="someSwitchOption001" type="checkbox"/>
                                            <label for="diferenciacion4" class="label-diferenciacion"></label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-8"><label>Tipo de Cubierta /o Azotea; Accesible,
                                        Inaccesible</label></div>
                                    <div class="col-sm-4">
                                        <div class="material-switch pull-right">
                                            <input id="cubierta4" name="someSwitchOption001" type="checkbox"/>
                                            <label for="cubierta4" class="label-cubierta"></label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-8"><label>Desagües Reglamentarios</label></div>
                                    <div class="col-sm-4">
                                        <div class="material-switch pull-right">
                                            <input id="desagues3" name="someSwitchOption001" type="checkbox"/>
                                            <label for="desagues3" class="label-desagues"></label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-8"><label>Tanque de Reserva, Indicativo (Ubicacion y Cota de
                                        Apoyo)</label></div>
                                    <div class="col-sm-4">
                                        <div class="material-switch pull-right">
                                            <input id="tanque4" name="someSwitchOption001" type="checkbox"/>
                                            <label for="tanque4" class="label-danger"></label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-8"><label>Chimeneas, Conductos (Ubicacion, Cotas,
                                        Dimensiones)</label></div>
                                    <div class="col-sm-4">
                                        <div class="material-switch pull-right">
                                            <input id="chimeneas4" name="someSwitchOption001" type="checkbox"/>
                                            <label for="chimeneas4" class="label-chimeneas"></label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-8"><label>Pendiente de Techos</label></div>
                                    <div class="col-sm-4">
                                        <div class="material-switch pull-right">
                                            <input id="techos4" name="someSwitchOption001" type="checkbox"/>
                                            <label for="techos4" class="label-techos"></label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-8"><label>Saliente de Fachadas, Cotas (Marquesinas, Balcones,
                                        Voladizos)</label></div>
                                    <div class="col-sm-4">
                                        <div class="material-switch pull-right">
                                            <input id="saliente4" name="someSwitchOption001" type="checkbox"/>
                                            <label for="saliente4" class="label-saliente"></label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>

        </div>
    </div>

    <h4> Balance de Superficie</h4>
    <div class="container-fluid">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-8"><label>FOS y FOT aplicado</label></div>
                    <div class="col-sm-4">
                        <div class="material-switch pull-right">
                            <input id="fos" name="someSwitchOption001" type="checkbox"/>
                            <label for="fos" class="label-lineamunicipal"></label>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-8"><label> Computo Geometrico por Planta o Nivel</label></div>
                    <div class="col-sm-4">
                        <div class="material-switch pull-right">
                            <input id="computo" name="someSwitchOption001" type="checkbox"/>
                            <label for="computo" class="label-computo"></label>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-8"><label>Superficie Construida Segun Tipo (Cubierta o Semicubierta) y
                        Uso</label></div>
                    <div class="col-sm-4">
                        <div class="material-switch pull-right">
                            <input id="superficie4" name="someSwitchOption001" type="checkbox"/>
                            <label for="superficie4" class="label-superficie"></label>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-8"><label> Memoria Descriptiva de la Obra Relevada</label></div>
                    <div class="col-sm-4">
                        <div class="material-switch pull-right">
                            <input id="relevada4" name="someSwitchOption001" type="checkbox"/>
                            <label for="relevada4" class="label-relevada"></label>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-8"><label>Planilla de Locales</label></div>
                    <div class="col-sm-4">
                        <div class="material-switch pull-right">
                            <input id="muros" name="someSwitchOption001" type="checkbox"/>
                            <label for="muros" class="label-muros"></label>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    </div>
    <a href="{% url 'visador' %}">
    <button type="button" align="rigth" class="btn btn-primary" name="volver">
        Rechazar
    </button>
</a>
<a href="{% url 'visador' %}">
    <button type="button" align="rigth" class="btn btn-primary" name="volver">
        Aprobar
    </button>
</a>
</div>
</div>
</div>
</div>
</div>


<style type="text/css">
.body.modal-open{
	padding-right: 0 !important;
}

body {
    background-color: #2c3e50;
}

.h4, h4 {
    font-size: 18vw;
    text-align:center;
    color: #fff !important;
}
.h1 {
    font-size: 18vw;
    color: white;
    text-align: center;
}


.p {
    font-family: serif;
    font-size:20vw
    font: oblique;
    text-align: center;
    color: #bdb4de;
}
.nav-tabs {
    border-bottom: 1px solid #2b0b90;
    background-color: #336699;
}
.nav-tabs>li>a:hover{
   background-color:#3b7dbf !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #2c3e50 !important;
    border: 1px solid #2b0b8f;
    border-bottom-color: #41a6bb;
}
.list-group-item:hover{
background-color:#336699 !important;
}
.li.active {
    display: list-item;
    text-align: -webkit-match-parent;
}
.list-group-item{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #2c3e50 !important;
    border: 1px solid #192a36 !important;
}
.material-switch > input[type="checkbox"] {
  display: none;
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 35px;
  color: #13230e;
  background-color: #1de818;
  box-shadow: 0 0 #544b13;
}

.material-switch > label::before {
    background: rgb(247, 9, 9);
    background-color: #f96240;
    box-shadow: inset 0px 0px 10px rgba(253, 6, 6, 0.4);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.6;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
}
.label {
    color: #fff;
}
<style type="text/css">
        .bs-example{
            margin: 20px;
        }
    </style>
</style>

{% endblock %}


{% block scripts %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<script type="text/javascript">
    $(document).ready(function(){ $("#tab a").click(function(e){
            e.preventDefault();
            $(this).tab('show');
        });
    });


</script>
{% endblock %}
