{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block estilos %}

{% endblock %}



{% block contenido %}

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
        <thead>
            <tr>                
                <th>OBSERVACIONES DOCUMENTO TECNICO </th>
                <th>PLANTAS </th>                
                <th>CORTES</th>
                <th>FACHADAS</th>                
                <th>ESTRUCTURA</th>
                <th>PLANTA de TECHO</th>          
                <th></th>           
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-sm-4"><h6>Linea municipal y ejes medianeros (edentificacion y leyenda)</h6></td>                
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>                
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td class="col-sm-6"><h6>Denominacion y numeracion de locales (nombre y numero)</h6></td>                
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>
                <td></td>                
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="col-sm-8"><h6>Indicacion de corte (con letras o numeros)</h6></td>                
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td> 
                <td></td>
                <td></td>
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td> 
                <td></td>
            </tr>
            <tr>
                <td class="col-sm-8"><h6>Diferenciacion de superficie existente, a demoler, a construir</h6></td>                
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>
                <td></td>
                <td></td>
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td class="col-sm-8"><h6>Espesores de muros</h6></td>                
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>
                <td></td>                
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="col-sm-8"><h6>Acotacion alt. fachada, arranque de techos, bases de tanque, cumbera</h6></td>                
                <td></td>
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>                
                <td></td>
                <td></td>                
            </tr>
            <tr>
                <td class="col-sm-8"><h6>Acotacion de locales y espacios exteriores</h6></td>                
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>                
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="col-sm-8"><h6>Cotas de nivel interior y exterior</h6></td>                
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>
                <td></td>
                <td></td>                
            </tr>
            <tr>
                <td class="col-sm-8"><h6>Bases con cotas de fundacion, referencias</h6></td>                
                <td></td>     
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td> 
                <td></td> 
                <td></td>
                <td></td>           
            </tr>
            <tr>
                <td class="col-sm-8"><h6>Tipo de cubierta y/o azotea; accesible, inaccesible</h6></td>                
                <td></td>
                <td></td>
                <td></td>
                <td></td> 
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>     
            </tr>
            <tr>
                <td class="col-sm-8"><h6>Desagues reglamentarios</h6></td>    
                <td></td>            
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>                
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>                                                
                <td></td>
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>                                
            </tr>
            <tr>
                <td class="col-sm-8"><h6>Altura de cercos divisorios de predios existentes y/o proyectados</h6></td>                
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>                
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>    

    <table class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
        <thead>
            <tr>
                <th></th>                
                <th>BALANCE DE SUPERFICIE </th>        
                <th></th>              
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>FOS y FOT aplicado</td>
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Computo geometrico por planta o nivel</td>
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>superficie construida segun tipo (cubierta o semicubierta) y uso</td>
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>Memoria descriptiva de la obra relevada</td>
                <td>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>(Vivienda, comercio, instalaciones y obras, industria)</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
        <thead>
            <tr>             
                <th><h4> PLANILLA DE LOCALES </h4></th>        
                <th>
                    <label class="switch">
                        <input type="checkbox"><span class="slider round"></span>
                    </label> 
                </th>              
            </tr>
        </thead>
        <tbody>
            <tr>
                                   
            </tr>
        </tbody>
    </table>
</div>

<a href="{% url 'visador' %}">
    <button type="button" align="rigth" class="btn btn-primary" name="volver">
        Rechazar
    </button>
</a>
<a href="{% url 'visador' %}">
    <button type="button" align="rigth" class="btn btn-primary" name="volver">
        Aprobar
    </button>
</a>

<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
        
    /* Hide default HTML checkbox */
    .switch input {display:none;}
        
    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
        
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
        
    input:checked + .slider {
        background-color: #2196F3;
    }
        
    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
        
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
        
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
        
    .slider.round:before {
        border-radius: 50%;
    }
</style>
{% endblock %}


{% block scripts %}
{% endblock %}
