{% extends 'base.html' %}
{% load staticfiles %}


{% block barra %}
	<ul class="sidebar sidebar-1">
		<font size="2">
			<li><a href="{% url 'visador' %}"><font color="white">Visador</font></a></li>
		</font>
	</ul>
{% endblock %}


{% block contenido %}

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
	  <div class="panel">
		<div class="panel-heading box" role="tab" id="headingFive">
		  <h5 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
			  <font color="#ffffff" size="2">Documentos del tramite</font>
			</a>
		  </h5>
		</div>
		    <div id="collapseFive" class="panel-collapse" role="tabpanel" aria-labelledby="headingFive">
		        <div class="panel-body">
			        <div class="container-fluid">
				        <div class="row">
					        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: white;">
                            {% for documento in tramite.documentos.all %}
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="thumbnail ">
                                        <a id="single_image" href="/media/{{documento.file}}" data-fancybox="images" data-caption="{{documento.tipo_documento}}">
                                            <img src="/media/{{documento.file}}" width=300 height=300>
                                        </a>
                                        <br>
                                        <p style="color: #17202a; font-style: oblique; text-align: center;">{{documento.tipo_documento}} - {{documento.fecha}} </p>

                                        <form action="">
                                            <p align="right" >
                                            <a href="/media/{{documento.file}}" download="documento" class="btn btn-primary btn-collapsible"><i class="glyphicon glyphicon-save"></i><span>  Descargar</span></a>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
						</div>
					</div>

					  <div class="table-responsive">
						<table class="table table-bordered table-striped table-hover table-condensed" style="text-align:center;">
						  <thead>
							<tr>
							  <th></th>
							  {% for columna in columnas %}
								{% if columna.activo == True %}
								<th>{{columna}}</th>
								{% endif %}
							  {% endfor %}
							</tr>
						  </thead>
						  <tbody>
							{% for fila in filas %}
							{% if fila.activo == True %}
							  <tr>
								<td class="col-xs-1">{{ fila }}</td>
								{% for columna in columnas %}
								  {% if columna.activo == True %}
								<td class="col-sm-1">&nbsp;
								  {% for item in items %}
									{% if fila == item.fila_de_visado and columna == item.columna_de_visado %}
										<label class="switch">
											<input type="checkbox" disabled="disabled" checked="checked" name="{{fila}}" value="{{fila}}" checked><span class="slider round"></span>
										</label>
									{% endif %}
								  {% endfor %}
								</td>
								  {% endif %}
								{% endfor %}
							  </tr>
							{% endif %}
							{% endfor %}
							</tbody>
						</table>
					  </div>
					<br>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="table-responsive">
									<table class="table table-bordered table-striped table-hover table-condensed" style="text-align:center;">
										<thead>
											<tr>
												<th></th>
												<th>BALANCE DE SUPERFICIE</th>
											</tr>
										</thead>
										<tbody>
											{% for elemento in elementos %}
											{% if elemento.activo == True %}
												<tr>
													<td class="col-xs-1">{{ elemento }}</td>
													<td class="col-sm-4">
															<label class="switch">
																<input type="checkbox" disabled="disabled" checked="checked" name="{{elemento}}" value="{{elemento}}" checked><span class="slider round"></span>
															</label>
													</td>
												</tr>
											{% endif %}
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>

					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
								<a href="{% url 'visador' %}">
									<button type="button" class="btn btn-primary" name="habilitar">
										Volver
									</button>
									<a href="{% url 'generar_planilla_impresa' tramite.id %}">
									<button type="button" class="btn btn-primary" name="Imprimir">
										Ver
									</button>
								</a>
								</a>
							</div>
						</div>
					</div>

                </div>
            </div>
        </div>
	</div>


	<style>
		.switch {
			position: relative;
			display: inline-block;
			width: 60px;
			height: 34px;
		}

		/* Hide default HTML checkbox */
		.switch input {display:none;}

		/* The slider */
		.slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #ccc;
		}

		.slider:before {
			position: absolute;
			content: "";
			height: 26px;
			width: 26px;
			left: 4px;
			bottom: 4px;
			background-color: white;
		}

		input:checked + .slider {
			background-color: #2196F3;
		}

		input:focus + .slider {
			box-shadow: 0 0 1px #2196F3;
		}

		input:checked + .slider:before {
			-webkit-transform: translateX(26px);
			-ms-transform: translateX(26px);
			transform: translateX(26px);
		}

		/* Rounded sliders */
		.slider.round {
			border-radius: 34px;
		}

		.slider.round:before {
			border-radius: 50%;
		}
	  </style>

{% endblock %}

{% block scripts %}

    <script>
		$("#id_correcciones").fileinput({
			showCaption: false,
			browseClass: "btn btn-primary btn-sm",
			fileType: "any",
			maxFileCount: 1,
			browseLabel: 'Cargar Planilla de Visado',
			showUpload: false,
			showRemove: false
		});
	</script>



{% endblock %}