
{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}


{% block barra %}
	<ul class="sidebar sidebar-1">
		<font size="2">
			<li><a href="#" class="current"><font color="white">Visador</font></a></li>
			<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Iniciar Visado</a></li>
			<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Consultar mis visador para corregir</a></li>
			<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Consultar mis Visados aprobados</a></li>
		</font>
	</ul>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="boton_ayuda" class="col-xs-4 col-sm-4 col-md-12 col-lg-12">
	<div class="dropdown" style="float:left;">
		<button class="btn btn-primary btn-md" type="button"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			<span class="glyphicon glyphicon-list-alt" aria-hidden="true">    Ayuda    <br> <br/></span>
 			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><li><a target="_blank"  href="{% static "documentacion/_build/html/visador.html" %}" target="_blank">Ayuda</a></li>
			<li role="separator" class="divider"></li>
			<li><a target="_blank" id="boton_ayuda1" href="{% static "documentacion/Manual.pdf" %}" target="_blank">Ayuda PDF</a></li>
		</ul>
	</div>
</div>
{% endblock %}

{% block contenido %}
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-custom">
		<div class="panel-heading panel-heading-custom box" role="tab" id="headingOne">
		  <h5 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			  <font color="#ffffff" size="2">Iniciar Visado</font>
			</a>
		  </h5>
		</div>
		 <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		  <div class="panel-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="container-fluid">
							<form action="" class="" >
								<div class="row">									
									<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">										
										{% block contenido_tramites_aceptados%}
											{% include "persona/visador/tramites_aceptados.html" with tramites=ctxtramaceptado.tramites%}
										{% endblock %}
									</div>									
								</div>
									<!--<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12" align="left">
										<a id="crear_detalle" href="{% url 'reporte_tramites_aceptados_excel' %}" class="btn btn-info btn-collapsible btn-sm" title="Generar Archivo Excel" >
										   <i class="glyphicon glyphicon-list-alt"></i><span>Exportar a EXCEL</span>
										</a>
										<a href="{% url 'reporte_tramites_aceptados_pdf' %}" class="btn btn-info btn-collapsible btn-sm" title="Generar Archivo PDF" >
											<i class="glyphicon glyphicon-file"></i><span>Exportar a PDF</span>
										</a>
									</div>-->
							</form>
							<br>
						</div>
					</div>
				</div>
			</div>
		  </div>
		</div>
	  </div>
	<div class="panel panel-custom">
		<div class="panel-heading panel-heading-custom box" role="tab" id="headingTwo">
		  <h5 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			  <font color="#ffffff" size="2">Consultar mis Visados para corregir</font>
			</a>
		  </h5>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			<div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						{% block contenido_tramites_corregir  %}
							{% include "persona/visador/tramites_visados.html" with tramites=ctxtramvisadosnoaprobados.tramites_del_visador %}
						{% endblock %}
					</div>
				</div>
			</div>
		 </div>
	   </div>
	  <div class="panel panel-custom">
		<div class="panel-heading panel-heading-custom box" role="tab" id="headingThree">
		  <h5 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			  <font color="#ffffff" size="2">Consultar mis Visados aprobados</font>
			</a>
		  </h5>
		</div>
		<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			<div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						{% block contenido_tramites_visados%}
							{% include "persona/visador/tramites_visados.html" with tramites=ctxtramvisados.tramites_del_visador %}
						{% endblock %}
					</div>
				</div>
			</div>
		 </div>
	   </div>
	</div>

{% endblock %}

{% block scripts %}

	<script type="text/javascript">
		function mostrarSubmenu(subformulario)
		{
			var idSubformulario=document.getElementById(subformulario).id;
			if($('#' + idSubformulario).is(':hidden')){
				$('#' + idSubformulario).show();
			}else{
				$('#' + idSubformulario).hide();
			}
		}
	</script>

	<script>
		$("#perfil").fileinput({
			showCaption: false,
			browseClass: "btn btn-primary btn-sm",
			fileType: "any",
			maxFileCount: 1,
			browseLabel: 'Cargar constancia de CACH',
			showUpload: false,
			showRemove: false
		});
	</script>

{% endblock %}