
{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}


{% block barra %}
	<ul class="sidebar sidebar-1">
		<font size="2">
			<li><a href="#" class="current"><font color="white">Visador</font></a></li>
			<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Iniciar Visado</a></li>
			<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Consultar mis Visados</a></li>
			<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Modificar mis datos personales</a></li>
			<li><a href="#" onclick='mostrarSubmenu("consultasInformes")'>Consultas e Informes <span class="caret"></span></a></li>
				<ul class="sidebar sidebar-2" style="display:none;" id="consultasInformes">
					<li><a href="#">Consulta 1</a></li>
					<li><a href="#">Consulta 2</a></li>
					<li><a href="#">Consulta 3</a></li>
				</ul>
		</font>
	</ul>
{% endblock %}

{% block contenido %}
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-custom">
		<div class="panel-heading panel-heading-custom box" role="tab" id="headingTwo">
		  <h5 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
			  <font color="#ffffff" size="2">Iniciar Visado</font>
			</a>
		  </h5>
		</div>
		 <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		  <div class="panel-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="container-fluid">
							<form action="" class="" >
								<div class="row">									
									<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">										
										{% block contenido_tramites_aceptados%}
											{% include "persona/visador/tramites_aceptados.html" with tramites=ctxtramaceptado.tramites%}
										{% endblock %}
									</div>									
								</div>
								<hr>
									<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12" align="left">
										<a id="crear_detalle" href="{% url 'reporte_tramites_aceptados_excel' %}" class="btn btn-info btn-collapsible btn-sm" title="Generar Archivo Excel" >
										   <i class="glyphicon glyphicon-list-alt"></i><span>Exportar a EXCEL</span>
										</a>
										<a href="{% url 'reporte_tramites_aceptados_pdf' %}" class="btn btn-info btn-collapsible btn-sm" title="Generar Archivo PDF" >
											<i class="glyphicon glyphicon-file"></i><span>Exportar a PDF</span>
										</a>
									</div>
							</form>
							<br>
						</div>
					</div>
				</div>
			</div>
		  </div>
		</div>
	  </div>

	  <div class="panel panel-custom">
		<div class="panel-heading panel-heading-custom box" role="tab" id="headingFour">
		  <h5 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
			  <font color="#ffffff" size="2">Consultar mis Visados</font>
			</a>
		  </h5>
		</div>
		<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
			<div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						{% block contenido_tramites_visados%}
							{% include "persona/visador/tramites_visados.html" with tramites=ctxtramvisados.tramites_del_visador %}
						{% endblock %}
					</div>
				</div>
			</div>
		 </div>
	   </div>


	  <div class="panel panel-custom">
		<div class="panel-heading panel-heading-custom box" role="tab" id="headingOne">
		  <h5 class="panel-title">
			<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
			  <font color="#ffffff" size="2">Modificar mis datos personales</font>
			</a>
		  </h5>
		</div>
		<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		  <div class="panel-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="container-fluid">
						<br>
							<br>
						</div>
					</div>
				</div>
			</div>
		  </div>
		</div>
	  </div>
	</div>

{% endblock %}

{% block scripts %}

	<script type="text/javascript">
		function mostrarSubmenu(subformulario)
		{
			var idSubformulario=document.getElementById(subformulario).id;
			if($('#' + idSubformulario).is(':hidden')){
				$('#' + idSubformulario).show();
			}else{
				$('#' + idSubformulario).hide();
			}
		}
	</script>

	<script>
		$("#perfil").fileinput({
			showCaption: false,
			browseClass: "btn btn-primary btn-sm",
			fileType: "any",
			maxFileCount: 1,
			browseLabel: 'Cargar constancia de CACH',
			showUpload: false,
			showRemove: false
		});
	</script>

{% endblock %}