{% extends 'base.html' %}
{% load staticfiles %}

{% block estilos %}

    <style>

    </style>

{% endblock %}

{% block barra %}
	<ul class="sidebar sidebar-1">
		<font size="2">
			<li><a href="{% url 'profesional'  %}" class="current"><font color="white">Profesional</font></a></li>
		</font>
	</ul>
{% endblock %}


{% block contenido %}

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
	  <div class="panel">
		<div class="panel-heading box" role="tab" id="headingFive">
		  <h5 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
			  <font color="#ffffff" size="2">Documentos del estado del tramite</font>
			</a>
		  </h5>
		</div>
		<div id="collapseFive" class="panel-collapse" role="tabpanel" aria-labelledby="headingFive">
		  <div class="panel-body">
			<div class="container-fluid">
				<div class="row">
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="...">
                        {% for documento in documentos_de_fecha%}
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="thumbnail ">
                                        <a id="single_image" href="/media/{{documento.file}}" data-fancybox="images" data-caption="{{documento.tipo_documento}}">
                                            <img src="/media/{{documento.file}}" width=300 height=300>
                                        </a>
                                        <br>
                                        <p style="color: #17202a; font-style: oblique; text-align: center;">{{documento.tipo_documento}} - {{documento.fecha}} </p>
                                        <form action="">
                                            <p align="right" >
                                            <a href="#" class="btn btn-primary btn-collapsible"><i class="glyphicon glyphicon-open"></i><span>  Ampliar</span></a>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                        {% endfor %}
                     </div>
                    </div>
                    {% for planilla in planillas %}
                    {% if planilla %}
						{% block contenido_tramites_visados %}
							{% include "persona/profesional/planilla_visado_impresa.html" with tramites=ctxvisadosprofesional.visados_del_profesional %}
						{% endblock %}
                    {% endif %}
                    {% endfor %}
                    {% for inspeccion in inspecciones %}
                    {% if inspeccion %}
                        {% block contenido_tramites_inspeccionados %}
							{% include "persona/profesional/planilla_inspeccion_impresa.html" %}
						{% endblock %}
                    {% endif %}
                    {% endfor %}
                    <!---->
                    <!--{% for planilla in planillas %}-->
                    <!--{% if planilla %}-->
                    <!--<table class="table table-bordered table-striped table-hover table-condensed" style="text-align:center;">-->
                        <!--<thead>-->
                            <!--<tr>-->
                                <!--<th></th>-->
                                <!--{% for columna in columnas %}-->
                                    <!--<th>{{columna}}</th>-->
                                <!--{% endfor %}-->
                            <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                            <!--{% for fila in filas %}-->
                                <!--<tr>-->
                                    <!--<td class="col-xs-1">{{ fila }}</td>-->
                                        <!--{% for columna in columnas %}-->
                                                <!--<td class="col-sm-1">&nbsp;-->
                                                <!--{% for item in planilla.items.all %}-->
                                                <!--{% if fila == item.fila_de_visado and columna == item.columna_de_visado %}-->
                                                    <!--<label class="switch">-->
                                                        <!--<input type="checkbox" disabled="disabled" checked="checked" name="{{fila}}" value="{{fila}}" checked><span class="slider round"></span>-->
                                                    <!--</label>-->
                                                <!--{% endif %}-->
                                            <!--{% endfor %}-->
                                        <!--</td>-->
                                    <!--{% endfor %}-->
                                <!--</tr>-->
                        <!--{% endfor %}-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--<br>-->
                    <!--<div class="table-responsive">-->
                        <!--<table class="table-bordered table-striped table-hover table-condensed" style="text-align:center;">-->
                            <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th></th>-->
                                    <!--<th>BALANCE DE SUPERFICIE</th>-->
                                <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                                <!--{% for elemento in planilla.elementos.all %}-->
                                    <!--<tr>-->
                                        <!--<td class="col-xs-1">{{ elemento }}</td>-->
                                        <!--<td class="col-sm-4">-->
                                                <!--<label class="switch">-->
                                                    <!--<input type="checkbox" disabled="disabled" checked="checked" name="{{elemento}}" value="{{elemento}}" checked><span class="slider round"></span>-->
                                                <!--</label>-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                    <!--{% endfor %}-->
                            <!--</tbody>-->
                        <!--</table>-->
                    <!--</div>-->
                <!--{% endif %}-->
                <!--<hr><br>-->
                <!--{% endfor %}-->


                <!--{% for inspeccion in inspecciones %}-->
                    <!--{% if inspeccion %}-->
                       <!--<table class="table table-bordered table-striped table-hover table-condensed" style="text-align:center;">-->
                           <!--<thead>-->
                               <!--<tr>-->
                                   <!--<th></th>-->
                                   <!--{% for item in items %}-->
                                       <!--<th>{{item.nombre}}</th>-->
                                   <!--{% endfor %}-->
                               <!--</tr>-->
                           <!--</thead>-->
                           <!--<tbody>-->
                               <!--{% for categoria in categorias %}-->
                                   <!--<tr>-->
                                       <!--<td class="col-xs-1">{{ categoria.nombre }}</td>-->
                                       <!--{% for item in items %}-->
                                           <!--<td class="col-sm-4">&nbsp;-->
                                               <!--{% for detalle in inspeccion.detalles.all %}-->
                                                   <!--{% if categoria.nombre == detalle.categoria_inspeccion.nombre and item.nombre == detalle.item_inspeccion.nombre %}-->
                                                       <!--{{ detalle.nombre }}-->
                                               <!--<br>-->
                                                   <!--{% endif %}-->
                                               <!--{% endfor %}-->
                                           <!--</td>-->
                                       <!--{% endfor %}-->
                                   <!--</tr>-->
                               <!--{% endfor %}-->
                           <!--</tbody>-->
                       <!--</table>-->


                                           <!--<div class="row">-->
                                           <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
                                               <!--<form action="" >-->
                                               <!--<div class="row" style="color:#fff;">-->
                                                   <!--<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
                                                   <!--<ol>-->
                                                       <!--<label>Descripcion de categorias:</h2></label>-->
                                                       <!--&lt;!&ndash;{% for categoria in categorias %}&ndash;&gt;-->
                                                       <!--&lt;!&ndash;<li> {{categoria.tipo}}</li>&ndash;&gt;-->
                                                       <!--&lt;!&ndash;<li> {{categoria.descripcion}}</li>&ndash;&gt;-->
                                                       <!--&lt;!&ndash;{% endfor %}&ndash;&gt;-->
                                                       <!--<table  class="table-bordered table-striped table-hover">-->
                                                       <!--<thead>-->
                                                           <!--<tr>-->
                                                               <!--<th>categoria</th>-->
                                                               <!--<th>tipo</th>-->
                                                               <!--<th>descripcion</th>-->
                                                           <!--</tr>-->
                                                       <!--</thead>-->
                                                       <!--{% for categoria in categorias %}-->
                                                       <!--<tr>-->
                                                           <!--<td id="nombre{{categoria.id}}" class="col-xs-1" align="center">{{categoria.nombre}}</td>-->
                                                           <!--<td id="tipo{{categoria.id}}" class="col-xs-1" align="center">{{categoria.tipo}}</td>-->
                                                           <!--<td id="descripcion{{categoria.id}}" class="col-xs-2">{{categoria.descripcion}}</td>-->
                                                       <!--</tr>-->
                                                       <!--{% endfor %}-->
                                                       <!--</table>-->
                                                   <!--</ol>-->
                                                   <!--</div>-->
                                               <!--</div>-->
                                               <!--</form>-->
                                           <!--</div>-->
                                           <!--</div>-->
                               <!--{% endif %}-->
                           <!--{% endfor %}-->

                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
                        <a href="javascript:history.back(-1);">
                            <button type="button" class="btn btn-primary" name="Volver">
                                Volver
                            </button>
                            <!! ACA DEBERIA LLAMAR A LA URL PARA IMPRIMIR LA PLANILLA
                        {% if planilla or inspeccion %}
                        <a href="javascript:history.back(-1);">
                            <button type="button" class="btn btn-primary" name="Imprimir">
                                Imprimir
                            </button>
                        </a>
                        {% endif %}
                     </div>
			    </div>
			</div>
          </div>
        </div>
      </div>
    </div>


<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {display:none;}

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
</style>

{% endblock %}

{% block scripts %}

{% endblock %}


