{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block estilos %}

{% endblock %}

{% block barra %}
	<ul class="sidebar sidebar-1">
		<font size="2">
			<li><a href="javascript:history.back(-1);" class="current"><font color="white">Profesional</font></a></li>
		</font>
	</ul>
{% endblock %}


{% block contenido %}

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
	  <div class="panel">
		<div class="panel-heading box" role="tab" id="headingFive">
		  <h5 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
			  <font color="#ffffff" size="2">Documentos del tramite</font>
			</a>
		  </h5>
		</div>
		<div id="collapseFive" class="panel-collapse" role="tabpanel" aria-labelledby="headingFive">
		  <div class="panel-body">
			<div class="container-fluid">

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        {% for documento in tramite.documentos.all %}
                            <div class="col-md-3">
				                <div class="thumbnail">
                                    <a href="/media/{{documento.file}}" class="thumbnail"><
                                        <img src="/media/{{documento.file}}" class="img-thumbnail" width="200" height="200">
                                    </a>
                                    <p style="color: #17202a; font-style: oblique; text-align: center;">{{documento.tipo_documento}} - {{documento.fecha}} </p>
                                    <form action="">
                                        <p align="right" >
                                            <a href="/media/{{documento.file}}" download="documento" class="btn btn-primary btn-collapsible"><i class="glyphicon glyphicon-save"></i><span>  Descargar</span></a>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row">
           <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <form action="" >
                <div class="row" style="color:#fff;">
                  <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ol>
                      <label>PADRON:</h2></label>
                      <li> {{tramite.parcela}}</li>
                      <label>DATOS PROPIETARIO:</label>
                      <li> {{tramite.propietario.persona}}</li>
                      <label>DATOS PROFESIONAL:</label>
                      <li> {{tramite.profesional}}</li>
                    </ol>
                  </div>
                </div>
              </form>
          </div>-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <form action="" >
                        <div class="row" style="color:#fff;">
                            <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
                               <ol>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form action="" >
                                <div class="row" style="color:#fff;">
                                    <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <ol>
                                            <label>NRO TRAMITE:</label>
                                            <li> {{tramite.id}}</li>
                                            <label>PROPIETARIO:</label>
                                            <li> {{tramite.propietario.persona}}</li>
                                            <label>PROFESIONAL:</label>
                                            <li> {{tramite.profesional}}</li>
                                            <label>TIPO DE OBRA:</label>
                                            <li> {{tramite.tipo_obra}}</li>
                                            <label>DATOS CATASTRALES:</label>
                                            <li>
                                                <table align="center" >
                                                  <thead>
                                                        <th>Parcela</th>
                                                        <th>Circunscripcion</th>
                                                        <th>Manzana</th>
                                                        <th>Sector</th>
                                                        </thead>
                                                  <tbody>
                                                  <tr>
                                                      <td class="col-xs-3" align="center">{{tramite.parcela}}</td>
                                                      <td class="col-xs-4" align="center">{{tramite.circunscripcion}}</td>
                                                      <td class="col-xs-5" align="center">{{tramite.manzana}}</td>
                                                      <td class="col-xs-6" align="center">{{tramite.sector}}</td>
                                                  </tr>
                                                  </tbody>
                                              </table>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                   </div>
                                </ol>
                            </div>
                        </div>
          </div>
    <div class="table-responsive">
        <table align="center" class="table table-bordered table-striped table-hover table-condensed table-responsive" style="text-align:center;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
                <label for="">PLANILLA VISADO</label>
            </div>
        </div>
            <tr>
                <th></th>
              {% for columna in columnas %}
                <th>{{columna}}</th>
              {% endfor %}
            </tr>
          <tbody>
            {% for fila in filas %}
              <tr>
                <td class="col-xs-1">{{ fila }}</td>
                {% for columna in columnas %}
                <td class="col-sm-1">&nbsp;
                  {% for item in items %}
                    {% if fila == item.fila_de_visado and columna == item.columna_de_visado %}
                        <label class="switch">
                          <input name="item-{{item.pk}}" type="checkbox"  disabled="disabled" checked="checked"><span class="slider round"></span>
                        </label>
                    {% endif %}
                  {% endfor %}
                </td>
                {% endfor %}
              </tr>
            {% endfor %}
            </tbody>
    <br>
              <table class="table table-bordered table-striped table-hover table-condensed" style="text-align:center;">
                  <thead>
                  <tr>
                      <th></th>
                      <th>BALANCE DE SUPERFICIE</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for elemento in elementos %}
                  <tr>
                      <td class="col-xs-1">{{ elemento }}</td>
                      <td class="col-sm-4">
                          <label class="switch">
                              <input name="elemento-{{elemento.id}}" type="checkbox" disabled="disabled" checked="checked"><span class="slider round"></span>
                          </label>
                      </td>
                  </tr>
                  {% endfor %}
                  </tbody>
              </table>
            <table class="table table-bordered table-striped table-hover table-condensed" style="text-align:center;">
                  <thead>
                  <tr>
                      <th>OBSERVACION</th>
                  </tr>
                  </thead>
                <tbody>
                <td class="col-xs-1">{{ obs }}</td>
                </tbody>
            </table>
        </table>
          </div>
      </div>
    </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="container-fluid">
                            <div class="row">
                                <hr>
                                <form action="" method="post" enctype="multipart/form-data" id="tipo_documento_id">
                                    {% csrf_token %}
                                    {{ FormularioDocumento }}
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="">Cargar Documentos corregidos:</label>
                                            <input type="hidden" id="id_tramite" value="{{tramite.id}}">
                                            <input name="documento" class="file" id="tipo_documento.id"  type="file" data-preview-file-type="any" title="Cargar documentos corregidos" required />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
                                            <button class="btn btn-primary btn-sm" type="submit" title="Envia Planilla de visado">
                                                Enviar correcciones
                                            </button>
                                        <a href="javascript:history.back(-1);">
                                            <button type="button" class="btn btn-primary" name="Volver">
                                                Volver
                                            </button>
                                        </a>
                                    </div>
                                        <br>
                                        <br>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}

{% block scripts %}

    <script>
		$("#id_correcciones").fileinput({
			showCaption: false,
			browseClass: "btn btn-primary btn-sm",
			fileType: "any",
			maxFileCount: 1,
			browseLabel: 'Cargar Documentos Corregidos',
			showUpload: false,
			showRemove: false
		});
	</script>



{% endblock %}